
{% extends "./layout-logged-out.html" %}

{% block pageTitle %}
  Accept terms and conditions
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Using this service</h1>




  <h3 class="govuk-heading-m">Terms and conditions</h3>
<p>By submitting this notification you are confirming that, you have read the <a href="terms-pop" rel="noopener noreferrer" target="_blank">terms and conditions</a> and are eligable to use this service.</p>



<p><a href="search" role="button" draggable="false" class="govuk-button">
  I confirm
</a></p>


<p><a href="#">I do not accept the terms and conditions</a></p>

    </div>
  </div>
{% endblock %}
