
{% extends "./layout-logged-in.html" %}

{% block pageTitle %}
  Accept terms and conditions
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Using this service</h1>
  <h2 class="govuk-heading-m">Terms and conditions</h2>
<p>You have read and understood the <a href="terms-pop" rel="noopener noreferrer" target="_blank">terms and conditions</a> and are eligible for an account.</p>

<p>If these terms and conditions are updated, we’ll ask you to review and accept them again.</p>

<p><a href="/v4/search" role="button" draggable="false" class="govuk-button">
  Confirm
</a></p>

    </div>
  </div>
{% endblock %}
