
{% extends "./layout-logged-in.html" %}

{% block pageTitle %}
  Accept terms and conditions
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Using this service</h1>
  <h2 class="govuk-heading-m">Terms and conditions</h2>

<p>We’ve recently updated the <a href="terms-pop" rel="noopener noreferrer" target="_blank">terms and conditions</a>.</p>

<p>You must review and accept them.</p>

<p><a href="/v4/search" role="button" draggable="false" class="govuk-button">
  Confirm
</a></p>

    </div>
  </div>
{% endblock %}
