{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Case access prototype
    </h1>
    <h2 class="govuk-heading-l">
      Last updated (02/6/21)
    </h2>
    <p class="govuk-body-l">Page widths have been increased to new wider width.</p>
    <div style="display: flex; margin-top: 80px;">
      <div style="width: 800px;">

        <!-- JUDICIARY -->

        <h2 class="govuk-heading-l">Judiciary</h2>
        <h2 class="govuk-heading-m">(USER) Challenged access request</h2>
        <h3 class="govuk-heading-s">Scenario A - Search for and Challenged Access to case</h3>
        <p><a target="_blank" href="/caseaccess/pages/results?usertype=judiciary&">Search - entry</a><br></p>
        <p><a target="_blank" href="/caseaccess/pages/mywork-c?usertype=judiciary&">My work - entry</a><br>Case reference search from header</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018?usertype=judiciary&">Case details</a><br>Challanged access - Flow request</br></p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018-request?usertype=judiciary&">Request access</a><br>Challanged access - Flow request</br></p>

        <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018-confirmation?usertype=judiciary&">Confirmation</a><br>Challanged access - Flow request</br></p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018-a?usertype=judiciary&">Case details</a><br>Challanged access - Flow request</br></p>
        <p><a target="_blank" href="/caseaccess/pages/myaccess-r?usertype=judiciary&">My access</a><br>Challanged access - shown in situe</br></p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-m">(USER) Specifc access request</h2>
        <h3 class="govuk-heading-s">Scenario B - Search for and Request Specific Access to case</h3>
        <p><a target="_blank" href="/caseaccess/pages/results-s2?usertype=judiciary&">Search - entry</a><br></p>
        <p><a target="_blank" href="/caseaccess/pages/mywork?usertype=judiciary&">My work - entry</a><br>Case reference search from header</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017?usertype=judiciary&">Case details</a><br>Specifc access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-request?usertype=judiciary&">Request access</a><br>Specifc access - Flow request</br></p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-confirmation?usertype=judiciary&">Confirmation</a><br>Specifc access - Flow request</br></p>
        <p><a target="_blank" href="/caseaccess/pages/email-p?usertype=judiciary&">Email confirmation</a><br>Specifc access request<br></p>
    <!--    <p><a target="_blank" href="/caseaccess/pages/myaccess-povd?usertype=judiciary&">View access request</a><br>Pending Specifc access - Flow request</p>
        <p><a target="_blank" href="/caseaccess/pages/myaccess-pod?usertype=judiciary&">Delete request</a><br>Pending Specifc access - Flow request</p>
-->
        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-m">(APPROVER) Approve Specifc access request <br> from AVAILABLE TASKS</h2>
        <h3 class="govuk-heading-s">Scenario C - Part 1a - Grant request Specific Access to case</h3>
        <p><a target="_blank" href="/caseaccess/pages/available-tasks-s2?usertype=judiciary&">Available tasks</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-t?usertype=judiciary&">Active tasks</a><br>Assign to me - Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ta?usertype=judiciary&">Assigned</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr-case?usertype=judiciary&">Review specific access request</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tra-case?usertype=judiciary&">Grant duration of case access
          </a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trac-case?usertype=judiciary&">Access approved</a><br>Specifc access - Flow approve</p>
        <!--    <p><a target="_blank" href="/caseaccess/pages/email-approved">Email notifcation - Task Approved</a></p> -->

        <!-- SECTION BREAK -->

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-m">(APPROVER) Approve Specifc access request <br> from INSIDE A CASE</h2>
        <h3 class="govuk-heading-s">Scenario C - Part 1b - Grant request Specific Access to case</h3>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-a?usertype=judiciary&">Case view - Overview</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ar?usertype=judiciary&">Case view - Role / access</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-t?usertype=judiciary&">Case view - Tasks</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ta?usertype=judiciary&">Case view - assigned yourself a task</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr-case?usertype=judiciary&">Case view - Review specific access request</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tra-case?usertype=judiciary&">Case view - Grant duration of case access
          </a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trac-case?usertype=judiciary&">Case view - Access approved</a><br>Specifc access - Flow approve</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tca?usertype=judiciary&">Case view - Tasks</a><br>Specifc access - Flow approve</p>
        <!--    <p><a target="_blank" href="/caseaccess/pages/email-approved">Email notifcation - Task Approved</a></p> -->

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-m">(USER) Specifc access approved</h2>
        <h3 class="govuk-heading-s"> Scenario C - Part 2 - Granted (approved)</h3>
        <p><a target="_blank" href="/caseaccess/pages/email-approved-s?usertype=judiciary&">Email confirmation</a><br>Specifc access request approved<br></p>
        <p><a target="_blank" href="/caseaccess/pages/myaccess-tc?usertype=judiciary&">My access</a><br>Specifc access - Flow request</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ara?usertype=judiciary&">Case view - Role / access</a><br>Specifc access - Flow request approved</p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-m">(APPROVER) Reject Specifc access request<br> from AVAILABE TASKS</h2>
        <h3 class="govuk-heading-s">Scenario D (a) - Reject specific access to case </h3>
        <p><a target="_blank" href="/caseaccess/pages/available-tasks-s2?usertype=judiciary&">Available tasks</a><br>Specifc access - Flow rejected</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr?usertype=judiciary&">Review specific access request</a><br>Specifc access - Flow rejected</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trr?usertype=judiciary&">Reject specific access request
          </a><br>Specifc access - Flow rejected</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trrc?usertype=judiciary&">Confirmation - Task Rejected</a><br>Specifc access - Flow rejected</p>
        <!--    <p><a target="_blank" href="/caseaccess/pages/email-rejected">Email notifcation - Task Rejected</a></p> -->

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-m">(APPROVER) Reject Specifc access request <br> from INSIDE A CASE</h2>
        <h3 class="govuk-heading-s">Scenario D (b) - Reject specific access to case</h3>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-a?usertype=judiciary&">Case view - Overview</a><br>Specifc access - Flow reject</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ar?usertype=judiciary&">Case view - Role / access</a><br>Specifc access - Flow reject</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-t?usertype=judiciary&">Case view - Tasks</a><br>Specifc access - Flow reject</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr-case?usertype=judiciary&">Case view - Review specific access request</a><br>Specifc access - Flow reject</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trr-case?usertype=judiciary&">Case view - Reject specific access request
          </a><br>Specifc access - Flow reject</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trrc-case?usertype=judiciary&">Case view - Access denied</a><br>Specifc access - Flow reject</p>
        <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tca?usertype=judiciary&">Case view - Tasks</a><br>Specifc access - Flow rejected</p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-m">(USER) Specifc access rejected</h2>
        <h3 class="govuk-heading-s"> Scenario D (a + b) - Part 2 - Granted (Rejected)</h3>
      <!--  <p><a target="_blank" href="/caseaccess/pages/myaccess-tcr?usertype=judiciary&">My access</a><br>Specifc access - Flow rejected</p>
        <p><a target="_blank" href="/caseaccess/pages/ma-tcrvd?usertype=judiciary&">View details</a><br>Specifc access - Flow rejected</p>
       --><p><a target="_blank" href="/caseaccess/pages/email-rejected?usertype=judiciary&">Email - rejected request</a><br>Specifc access - Flow rejected</p>


        <!-- SECTION BREAK -->

        <h3 class="govuk-heading-s">Scenario E - Booking UI</h3>
          <p><a target="_blank" href="/caseaccess/pages/booking-sel?usertype=staff&">Pre Booking UI</a><br>Pre selection service</br></p>
        <p><a target="_blank" href="/caseaccess/pages/booking?usertype=judiciary&">Booking UI</a><br>Select type of access</br></p>
      <!--  <p><a target="_blank" href="/caseaccess/pages/booking-location?usertype=judiciary&">Booking UI - location</a><br>Select location- Subject to change</br></p> -->
        <p><a target="_blank" href="/caseaccess/pages/booking-rtn?usertype=judiciary&">Booking UI</a><br>Return post logout - single</br></p>
    <!--         <p><a target="_blank" href="/caseaccess/pages/booking-rtn-multi?usertype=judiciary&">Booking UI</a><br>Return post logout - multi</br></p>
       <p><a target="_blank" href="/caseaccess/pages/booking-combo?usertype=judiciary&">Booking UI - Combo</a><br>Alternative design - both screesn combined</br></p>
    -->  </div>

      <!-- STAFF -->

      <div>
        <div style="width: 600px;">
          <h2 class="govuk-heading-l">Staff</h2>
          <h2 class="govuk-heading-m">(USER) Challenged access request</h2>
          <h3 class="govuk-heading-s">Scenario A - Search for and Challenged Access to case</h3>
          <p><a target="_blank" href="/caseaccess/pages/results?usertype=staff&">Search - entry</a><br></p>
          <p><a target="_blank" href="/caseaccess/pages/mywork-c?usertype=staff&">My work - entry</a><br>Case reference search from header</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018?usertype=staff&">Case details</a><br>Challanged access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018-request?usertype=staff&">Request access</a><br>Challanged access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018-confirmation?usertype=staff&">Confirmation</a><br>Challanged access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00321-2018-a?usertype=staff&">Case details</a><br>Challanged access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/myaccess-r?usertype=staff&">My access</a><br>Challanged access - shown in situe</br></p>

          <!-- SECTION BREAK -->

          <h2 class="govuk-heading-m">(USER) Specifc access request</h2>
          <h3 class="govuk-heading-s">Scenario B - Search for and Request Specific Access to case</h3>
          <p><a target="_blank" href="/caseaccess/pages/results-s2?usertype=staff&">Search - entry</a><br></p>
          <p><a target="_blank" href="/caseaccess/pages/mywork?usertype=staff&">My work - entry</a><br>Case reference search from header</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017?usertype=staff&">Case details</a><br>Specifc access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-request?usertype=staff&">Request access</a><br>Specifc access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-confirmation?usertype=staff&">Confirmation</a><br>Specifc access - Flow request</br></p>
          <p><a target="_blank" href="/caseaccess/pages/email-p?usertype=judiciary&">Email confirmation</a><br>Specifc access request<br></p>


      <!--       <p><a target="_blank" href="/caseaccess/pages/myaccess-p?usertype=staff&">My access</a><br>Pending Specifc access - Flow request</p>
       <p><a target="_blank" href="/caseaccess/pages/myaccess-povd?usertype=staff&">View access request</a><br>Pending Specifc access - Flow request</p>
          <p><a target="_blank" href="/caseaccess/pages/myaccess-pod?usertype=staff&">Delete request</a><br>Pending Specifc access - Flow request</p>
-->
          <!-- SECTION BREAK -->


          <h2 class="govuk-heading-m">(APPROVER) Approve Specifc access request <br> from AVAILABLE TASKS</h2>
          <h3 class="govuk-heading-s">Scenario C - Part 1a - Grant request Specific Access to case</h3>
          <p><a target="_blank" href="/caseaccess/pages/available-tasks-s2?usertype=staff&">Available tasks</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-t?usertype=staff&">Active tasks</a><br>Assign to me - Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ta?usertype=staff&">Assigned</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr-case?usertype=staff&"">Review specific access request</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tra-case?usertype=staff&">Grant duration of case access
            </a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trac-case?usertype=staff&">Access approved</a><br>Specifc access - Flow approve</p>

          <!-- SECTION BREAK -->

          <h2 class="govuk-heading-m">(APPROVER) Approve Specifc access request <br> from INSIDE A CASE</h2>
          <h3 class="govuk-heading-s">Scenario C - Part 1b - Grant request Specific Access to case</h3>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-a?usertype=staff&">Case view - Overview</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ar?usertype=staff&">Case view - Role / access</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-t?usertype=staff&">Case view - Tasks</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ta?usertype=staff&">Case view - assigned yourself a task</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr-case?usertype=staff&">Case view - Review specific access request</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tra-case?usertype=staff&">Case view - Grant duration of case access
            </a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trac-case?usertype=staff&">Case view - Access approved</a><br>Specifc access - Flow approve</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tca?usertype=staff&">Case view - Tasks</a><br>Specifc access - Flow approve</p>
          <!--    <p><a target="_blank" href="/caseaccess/pages/email-approved">Email notifcation - Task Approved</a></p> -->

          <!-- SECTION BREAK -->

          <h2 class="govuk-heading-m">(USER) Specifc access approved</h2>
          <h3 class="govuk-heading-s"> Scenario C - Part 2 - Granted (approved)</h3>
            <p><a target="_blank" href="/caseaccess/pages/email-approved-st?usertype=judiciary&">Email confirmation</a><br>Specifc access request approved<br></p>
          <p><a target="_blank" href="/caseaccess/pages/myaccess-tc?usertype=staff&">My access</a><br>Specifc access - Flow request</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ara?usertype=staff&">Case view - Role / access</a><br>Specifc access - Flow request approved</p>

          <!-- SECTION BREAK -->

          <h2 class="govuk-heading-m">(APPROVER) Reject Specifc access request<br> from AVAILABE TASKS</h2>
          <h3 class="govuk-heading-s">Scenario D (a) - Reject specific access to case </h3>
          <p><a target="_blank" href="/caseaccess/pages/available-tasks-s2?usertype=staff&">Available tasks</a><br>Specifc access - Flow rejected</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr?usertype=staff&">Review specific access request</a><br>Specifc access - Flow rejected</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trr?usertype=staff&">Reject specific access request
            </a><br>Specifc access - Flow rejected</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trrc?usertype=staff&">Confirmation - Task Rejected</a><br>Specifc access - Flow rejected</p>
          <!--    <p><a target="_blank" href="/caseaccess/pages/email-rejected">Email notifcation - Task Rejected</a></p> -->

          <!-- SECTION BREAK -->

          <h2 class="govuk-heading-m">(APPROVER) Reject Specifc access request <br> from INSIDE A CASE</h2>
          <h3 class="govuk-heading-s">Scenario D (b) - Reject specific access to case</h3>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-a?usertype=staff&">Case view - Overview</a><br>Specifc access - Flow reject</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-ar?usertype=staff&">Case view - Role / access</a><br>Specifc access - Flow reject</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-t?usertype=staff&">Case view - Tasks</a><br>Specifc access - Flow reject</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tr-case?usertype=staff&">Case view - Review specific access request</a><br>Specifc access - Flow reject</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trr-case?usertype=staff&">Case view - Reject specific access request
            </a><br>Specifc access - Flow reject</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-trrc-case?usertype=staff&">Case view - Access denied</a><br>Specifc access - Flow reject</p>
          <p><a target="_blank" href="/caseaccess/pages/PA-00467-2017-tca?usertype=staff&">Case view - Tasks</a><br>Specifc access - Flow rejected</p>

          <!-- SECTION BREAK -->

          <h2 class="govuk-heading-m">(USER) Specifc access rejected</h2>
          <h3 class="govuk-heading-s"> Scenario D (a + b) - Part 2 - Granted (Rejected)</h3>
      <!--    <p><a target="_blank" href="/caseaccess/pages/myaccess-tcr?usertype=staff&">My access</a><br>Specifc access - Flow rejected</p>
          <p><a target="_blank" href="/caseaccess/pages/ma-tcrvd?usertype=staff&">View details</a><br>Specifc access - Flow rejected</p> -->
          <p><a target="_blank" href="/caseaccess/pages/email-rejected?usertype=judiciary&">Email - rejected request</a><br>Specifc access - Flow rejected</p>
    <!--      <p><a target="_blank" href="#">Re-request access</a><br>Specifc access - Flow rejected</p> -->
        <!--  <p><a target="_blank" href="/caseaccess/pages/myaccess-tcrd?usertype=staff&">Delete request</a><br>Specifc access - Flow rejected</p>
-->
          <!-- SECTION BREAK -->

          <h3 class="govuk-heading-s">Scenario E - Booking UI</h3>
          <p><a target="_blank" href="/caseaccess/pages/booking-sel?usertype=staff&">Pre Booking UI</a><br>Pre selection service</br></p>
          <p><a target="_blank" href="/caseaccess/pages/booking?usertype=staff&">Booking UI</a><br>Select type of access</br></p>
        <!--  <p><a target="_blank" href="/caseaccess/pages/booking-location?usertype=staff&">Booking UI - location</a><br>Select location- Subject to change</br></p> -->
          <p><a target="_blank" href="/caseaccess/pages/booking-rtn?usertype=staff&">Booking UI</a><br>Return post logout - single</br></p>
      <!--         <p><a target="_blank" href="/caseaccess/pages/booking-rtn-multi?usertype=staff&">Booking UI</a><br>Return post logout - multi</br></p>
         <p><a target="_blank" href="/caseaccess/pages/booking-combo?usertype=staff&">Booking UI - Combo</a><br>Alternative design - both screesn combined</br></p>
      -->  </div>
      </div>
    </div>
  </div>
  {% endblock %}
