{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">

            <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto; margin-top: 30px;">

            <div class=""  style="display: flex; justify-content: space-between; ">

                <div style="display: flex; ">
                    <p class="">9468-3316-6763-1127: Jane Smith v DWP &nbsp; </p>

                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Print
                    </button>
                </div>


                <div style="display: flex; align-items:right" >
                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                    <select class="govuk-select" id="sort" name="sort">
                        <option value="published" selected>Select action</option>
                        <option value="published" >Submit amended application</option>
                        <option value="published" >Link respondent</option>
                        <option value="published" >Add Note</option>
                        <option value="published" >Upload document</option>
                        <option value="updated" >Stop representing a client</option>
                    </select>

                    <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off">
                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
                                Go
                            </button>
                    </form>
                </div>

            </div>


            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#event">
                            History
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            Petition
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            AOS
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            Documents
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item" style="margin-bottom: -1px;">
                        <a class="govuk-tabs__tab" href="#past-week" style="background-color: white; border: 1px solid black; border-bottom: 1px solid white;">
                            Hearings
                        </a>
                    </li>
                </ul>












                <div class="govuk-tabs__panel" id="event" style="display: flex; padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                    <div style="margin-top: 40px;">


                        {% if data.submissioncomplete == 'true' %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-1">Pending hearing requests</h2>

                            <table class="govuk-table govuk-!-margin-bottom-9">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    {% if data.aftertenbmins == 'true' %}
                                        <td scope="row" class="govuk-table__cell" style="width:200px;">Submitted but not yet scheduled</td>
                                    {%  else  %}
                                        <td scope="row" class="govuk-table__cell" style="width:200px;">Submitted but not yet processed</td>
                                    {%  endif  %}
                                    <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=falce&changesallowed=false&">View details</a></td>
                                    <td class="govuk-table__cell" style="text-align: right;"><a href="checkyouranswers?drafthearing=falce&changesallowed=true&">Cancel</a></td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}




                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-1">Upcoming hearings</h2>

                        {% if data.hidecurrent != 'true' %}
                            <table class="govuk-table govuk-!-margin-bottom-4">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell" style="width:200px;">5 Otober 2021</td>
                                        <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=falce&changesallowed=true&">View and change</a></td>
                                        <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=falce&changesallowed=true&">Cancel</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}



                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >

                            <div class="govuk-form-group  govuk-!-margin-top-0" >
                                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                    Request a hearing
                                </button>
                            </div>

                        </form>


                        {% if data.hidepast != 'true' %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Past hearings</h2>

                            <table class="govuk-table" id="pastshearings" style="width: 325px;">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell" style="width:200px;">5 May 2021</td>
                                        <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=falce&changesallowed=false&">View details</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell">13 December 2021</td>
                                        <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=falce&changesallowed=false&"">View details</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}

                        {% if data.hidecancelled != 'true' %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Cancelled hearings</h2>

                            <table class="govuk-table govuk-!-margin-bottom-4" style="width: 325px;">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__cell" style="width:200px;">11 May 2021</td>
                                    <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=falce&changesallowed=true&">View details</a></td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}


                    </div>

                </div>

            </div>



        </div>
    </main>

{% endblock %}