{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


<!--
    The URL for this page may say divorce but this example is actually Social Security and Child Support Tribunal (SSCS)
    The main difference is that different services have different tabs.
    Some techical person should be able to tell you the main tabs to simulate in the prototype.
-->




    <main class="" id="main-content" role="main">

            <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto; margin-top: 30px;">

            <div class=""  style="display: flex; justify-content: space-between; ">

                <!-- This horrible print buttons and design is not good and just inherited from previous work -->
                <div style="display: flex; ">
                    <p class="">9468-3316-6763-1127: Jane Smith v DWP &nbsp; </p>

                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Print
                    </button>
                </div>

                <!-- TABS -->
                <div style="display: flex; align-items:right" >
                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                    <select class="govuk-select" id="sort" name="sort">
                        <option value="published" selected>Select action</option>
                        <option value="published" >Submit amended application</option>
                        <option value="published" >Link respondent</option>
                        <option value="published" >Add Note</option>
                        <option value="published" >Upload document</option>
                        <option value="updated" >Stop representing a client</option>
                    </select>

                    <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off">
                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
                                Go
                            </button>
                    </form>
                </div>

            </div>


            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#event">
                            History
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            Petition
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            AOS
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            Documents
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item" style="margin-bottom: -1px;">
                        <a class="govuk-tabs__tab" href="#past-week" style="background-color: white; border: 1px solid black; border-bottom: 1px solid white;">
                            Hearings
                        </a>
                    </li>
                </ul>
                <!-- END OF TABS -->











                <div class="govuk-tabs__panel" id="event" style="display: flex; padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                    <div style="margin-top: 40px;">


                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-1">Pending hearing requests</h2>
                        {% if data.submissioncomplete == 'true' %}
                            <table class="govuk-table govuk-!-margin-bottom-9">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">

                                    {% if data.aftertenbmins == 'true' %}
                                        <tr class="govuk-table__row">
                                                <td scope="row" class="govuk-table__cell" style="width:200px;">Submitted but not yet scheduled</td>
                                                <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=false&changesallowed=true&">View and change</a></td>
                                                <td class="govuk-table__cell" style="text-align: right;"><a href="confirmcancel">Cancel</a></td>
                                        </tr>
                                    {%  endif  %}

                                    {% if data.justsubmitted == 'true' %}
                                        <tr class="govuk-table__row">
                                                <td scope="row" class="govuk-table__cell" style="width:200px;">Submitted but not yet processed</td>
                                                <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=false&changesallowed=false&">View details</a></td>
                                                <td class="govuk-table__cell" style="text-align: right;"><a href="confirmcancel">Cancel</a></td>
                                        </tr>
                                    {%  endif  %}



                                </tbody>
                            </table>
                        {%  else  %}
                            <p>Empty section placeholder text</p>
                        {% endif %}




                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Upcoming hearings</h2>

                        {% if data.hidecurrent != 'true' %}
                            <table class="govuk-table govuk-!-margin-bottom-4">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell" style="width:200px;">5 October 2021</td>
                                        <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=false&changesallowed=true&">View and change</a></td>
                                        <td class="govuk-table__cell"><a href="confirmcancel">Cancel</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        {%  else  %}
                            <p>Empty section placeholder text</p>
                        {% endif %}



                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >

                            <div class="govuk-form-group  govuk-!-margin-top-0" >
                                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                    Request a hearing
                                </button>
                            </div>

                        </form>


                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Past hearings</h2>
                        {% if data.hidepast != 'true' %}


                            <table class="govuk-table" id="pastshearings" style="width: 325px;">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell" style="width:200px;">5 May 2021</td>
                                        <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=false&changesallowed=false&">View details</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell">13 December 2020</td>
                                        <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=false&changesallowed=false&">View details</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        {%  else  %}
                            <p>Empty section placeholder text</p>
                        {% endif %}





                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Postponed and cancelled hearings</h2>
                        {% if data.hidecancelled != 'true' %}
                            <table class="govuk-table govuk-!-margin-bottom-4" style="width: 325px;">
                                <thead class="govuk-table__head">
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__cell" style="width:200px;">11 May 2021</td>
                                    <td class="govuk-table__cell"><a href="checkyouranswers?drafthearing=false&changesallowed=true&">View details</a></td>
                                </tr>
                                </tbody>
                            </table>
                        {%  else  %}
                            <p>Empty section placeholder text</p>
                        {% endif %}


                    </div>

                </div>

            </div>



        </div>



        <br>
        <br>
        <br>
        <br>
        <br>

    </main>




<div style="width:400px;">
    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 140px;">
        <p style="margin-bottom:0px;">Pending: Submitted but not yet scheduled</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="submissioncomplete=true&aftertenbmins=true&"
                    {% if data.aftertenbmins == 'true' and data.submissioncomplete == 'true' %}selected{% endif %}
            >ON</option>

            <option value="submissioncomplete=false&aftertenbmins=false&"
                    {% if data.aftertenbmins != 'true'  or  data.submissioncomplete != 'true'  %}selected{% endif %}
            >OFF</option>

        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px;">
        <p style="margin-bottom:0px;">Pending: Submitted but not yet processed</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="submissioncomplete=true&justsubmitted=true&"
                    {% if data.justsubmitted == 'true' and  data.submissioncomplete == 'true' %}selected{% endif %}
            >ON</option>

            <option value="submissioncomplete=false&justsubmitted=false&"
                    {% if data.justsubmitted != 'true'  or  data.submissioncomplete != 'true' %}selected{% endif %}
            >OFF</option>

        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px;">
        <p style="margin-bottom:0px;">Upcoming hearings</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="hidecurrent=true&"
                    {% if data.hidecurrent == 'true' %}selected{% endif %}
            >0 hearings</option>

            <option value="hidecurrent=false&"
                    {% if data.hidecurrent != 'true' %}selected{% endif %}
            >1 or more hearings</option>

        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; width: 400px;" >
        <p style="margin-bottom:0px;">Past hearings</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="hidepast=false&"
                    {% if data.hidepast != 'true' %}selected{% endif %}
            >ON</option>

            <option value="hidepast=true&"
                    {% if data.hidepast == 'true' %}selected{% endif %}
            >OFF</option>

        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px;">
        <p style="margin-bottom:0px;">Cancelled and postponed</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="hidecancelled=false&"
                    {% if data.hidecancelled != 'true' %}selected{% endif %}
            >ON</option>

            <option value="hidecancelled=true&"
                    {% if data.hidecancelled == 'true' %}selected{% endif %}
            >OFF</option>


        </select>
    </form>
</div>

{% endblock %}