{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                        <!--
                            SSCS is apparently a strange service in the fact they have defult values for every field.
                            The default will be a hearing in an actual court.  this is in person.
                        -->

                <form
                    name="aspnetForm"
                    method="post"
                    id="aspnetForm"
                    autocomplete="off"
                    >

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">
                                    How will the parties attend the hearing?
                                </h2>
                            </legend>
<!--                            <div class="govuk-hint">-->
<!--                                Select how each party will attend the hearing.-->
<!--                            </div>-->

                            <br />

                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend">
                                    <strong>Jane Smith</strong>
                                </legend>
                                <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel1_1"  name="channel1radios" type="radio" value="In person" {% if data.channel1radios == 'In person' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel1_1">
                                            In person
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel2_1" name="channel1radios" type="radio" value="By phone" {% if data.channel1radios == 'By phone' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel2_1">
                                            By phone
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel3_1" name="channel1radios" type="radio" value="By video" {% if data.channel1radios == 'By video' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel3_1">
                                            By video
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel4_1" name="channel1radios" type="radio" value="Not attending" {% if data.channel1radios == 'Not attending' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel4_1">
                                            Not attending
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <br /><br />

                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <strong>DWP</strong>
                                </legend>
                                <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel1_2" name="channel2radios" type="radio" value="In person" {% if data.channel2radios == 'In person' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel1_2">
                                            In person
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel2_2" name="channel2radios" type="radio" value="By phone" {% if data.channel2radios == 'By phone' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel2_2">
                                            By phone
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel3_2" name="channel2radios" type="radio" value="By video" {% if data.channel2radios == 'By video' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel3_2">
                                            By video
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="channel4_2" name="channel2radios" type="radio" value="Not attending" {% if data.channel2radios == 'Not attending' %} checked {% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="channel4_2">
                                            Not attending
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group  govuk-!-margin-top-5" >
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </main>



<script>
    function goBack() {
        window.history.back();
    }
</script>


{% endblock %}