{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                {% if  data.drafthearing == 'false'   %}
                    <h2 class="govuk-heading-l">Hearing details</h2>
                {% else %}
                    <h2 class="govuk-heading-l">Check your answers before sending your request</h2>
                {% endif %}




                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Case name
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Jane Smith v DWP
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Hearing type
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    03 PIP
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                </dd>
                                            </div>

                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Case flags
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Vulnerable party
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                </dd>
                                            </div>

                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Hearing stage
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Final
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="/hearings/pages/startrequest">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>

                                        </dl>







                                        <h2 class="govuk-heading-m">Needs for each party</h2>


                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Select any parties who need reasonable adjustments
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Jane Smith<br>
                                                    Accessible hearing rooms
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                    <a class="govuk-link" href="/hearings/pages/language">
                                                        Change
                                                    </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                        </dl>


                                        <h2 class="govuk-heading-m">Type of hearing</h2>

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    How will the hearing be carried out?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{  data.channelradios  }}
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="/hearings/pages/channel?backtocheckanswers=true&">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>

                                            <!-- IN PERSON ONLY -->
                                            {% if data.channelradios == 'In person' %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Select any parties who want to call/video into the hearing
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">

                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/region?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                            {% endif %}


                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select parties who want to be absent for the hearing
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">

                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="/hearings/pages/region?backtocheckanswers=true&">
                                                            Change
                                                        </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>


                                            {% if data.channelradios == 'In person' %}
                                                <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Where will the hearing take place?
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{  data['regionselection']  }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="/hearings/pages/region?backtocheckanswers=true&">
                                                                Change
                                                            </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Select all possible venues
                                                        </dt>
                                                        <dd class="govuk-summary-list__value"  style="white-space: pre-wrap;">{{  data['thenevue']  }}</dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="/hearings/pages/region?backtocheckanswers=true&">
                                                                Change
                                                            </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                            {% endif %}





                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    What facilities are required?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{  data.otherfailities  }}
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                    <a class="govuk-link" href="/hearings/pages/venuedefault?backtocheckanswers=true&">
                                                        Change
                                                    </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                        </dl>









                                        <h2 class="govuk-heading-m">Panel</h2>

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                                            {% if data.viewingconfirmedhearing == 'true' %}

                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Judge
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Her Honour Judge Anderson
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                        </dd>
                                                    </div>

                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Tribunal Medical Member
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Tony King
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                        </dd>
                                                    </div>

                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Disability Qualified Member
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Ramesh Desiato
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                        </dd>
                                                    </div>

                                            {% else %}



                                                {% if data.firsthearingscenario != 'true' %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Use the most recent panel again?
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{  data.panelsame }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/panel?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                {% endif %}


                                                {% if data.panelsame == 'No - select a new panel'  or  data.firsthearingscenario =='true' %}

                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Do you want a specific judge?
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{  data.specificjudge }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>

                                                    {% if data.specificjudge == 'Yes' %}
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    Name of the judge
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    {{  data.judgename }}
                                                                </dd>
                                                                <dd class="govuk-summary-list__actions">
                                                                    {% if data.changesallowed != 'false' %}
                                                                    <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                        Change
                                                                    </a>
                                                                    {% endif %}
                                                                </dd>
                                                            </div>


                                                    {% elif data.specificjudge == 'No' %}
                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    Select a judge type
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    {{  data.judgecontract }}
                                                                </dd>
                                                                <dd class="govuk-summary-list__actions">
                                                                    {% if data.changesallowed != 'false' %}
                                                                    <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                        Change
                                                                    </a>
                                                                    {% endif %}
                                                                </dd>
                                                            </div>

                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    Ticketed
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                     03    <!-- {{  data.judgeticketedlevel  }}   -->
                                                                </dd>
                                                                <dd class="govuk-summary-list__actions">
                                                                    {% if data.changesallowed != 'false' %}
                                                                        <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                            Change
                                                                        </a>
                                                                    {% endif %}
                                                                </dd>
                                                            </div>

                                                            <div class="govuk-summary-list__row">
                                                                <dt class="govuk-summary-list__key">
                                                                    Exclude a judge who wasn't on a previous panel
                                                                </dt>
                                                                <dd class="govuk-summary-list__value">
                                                                    {{  data.exludejudgefield }}
                                                                </dd>
                                                                <dd class="govuk-summary-list__actions">
                                                                    {% if data.changesallowed != 'false' %}
                                                                    <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                        Change
                                                                    </a>
                                                                    {% endif %}
                                                                </dd>
                                                            </div>

                                                    {% endif %}



                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Include specific panel members
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{  data.addpersonsname }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Exclude specific panel members
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{  data.excludepersonsname }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Select any other panel roles required
                                                        </dt>
                                                        <dd class="govuk-summary-list__value" style="white-space: pre-wrap;">{{  data.panelmemeberlist }}</dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/paneldifferent?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                {% endif  %}


                                            {% endif %}

                                        </dl>





                                            <h2 class="govuk-heading-m">When will the hearing take place?</h2>

                                            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                                <!-- PROBABLY NOT NEEDED -->
                                                <!--
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select a time
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Morning or afternoon (9am to 5pm)
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                -->

                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select length of hearing
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{  data.theduration }}
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="/hearings/pages/timing?backtocheckanswers=true&">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                                {% if data['durationradios'] != '45 minutes' %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Give a reason why a different length of hearing is required
                                                        <dd class="govuk-summary-list__value">
                                                        {{  data.durationreasontext }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="/hearings/pages/timing?backtocheckanswers=true&">
                                                                Change
                                                            </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                {% endif %}


                                                <!-- NOT NEEDED FOPR SSCS  -->
                                                <!--
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Days since SLA
                                                    <dd class="govuk-summary-list__value">
                                                        5 days
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">

                                                    </dd>
                                                </div>
                                                -->


                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Does the hearing need to take place on a specific date?
                                                    <dd class="govuk-summary-list__value">
                                                        {{  data.dateradios }}
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="/hearings/pages/timing?backtocheckanswers=true&">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                                {% if data['dateradios'] == 'Yes' %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            The first date of the hearing must be

                                                        <dd class="govuk-summary-list__value">
                                                            {{   data.firstdateoutputtext    }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/timing?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                {% endif %}


                                                {% if data['dateradios'] == 'Choose a date range' %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Earliest hearing date
                                                        <dd class="govuk-summary-list__value">
                                                            {{   data.earliestdateoutputtext    }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/timing?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Latest hearing date
                                                        <dd class="govuk-summary-list__value">
                                                            {{   data.latestdateoutputtext    }}
                                                        </dd>
                                                        <dd class="govuk-summary-list__actions">
                                                            {% if data.changesallowed != 'false' %}
                                                                <a class="govuk-link" href="/hearings/pages/timing?backtocheckanswers=true&">
                                                                    Change
                                                                </a>
                                                            {% endif %}
                                                        </dd>
                                                    </div>
                                                {% endif %}

                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Is this a priority hearing? (optional)
                                                    <dd class="govuk-summary-list__value">

                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="/hearings/pages/timing?backtocheckanswers=true&">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                            </dl>


                                            <h2 class="govuk-heading-m">Welsh</h2>

                                            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select if the hearing needs to be in Welsh
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{  data.priorityoutput  }}
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="/hearings/pages/language">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                            </dl>




                                    {% if data.viewingconfirmedhearing == 'true' %}

                                            <h2 class="govuk-heading-m">Outcome of the hearing</h2>

                                            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Placeholder
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Placeholkder
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="/hearings/pages/language">
                                                            Change
                                                        </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                            </dl>

                                    {% endif %}





                        {% if data.changesallowed != 'false' %}
                            <form
                                name="aspnetForm"
                                method="post"
                                id="aspnetForm"
                                autocomplete="off"
                                >

                                {% if  data.drafthearing == 'false'   %}
                                    <div class="govuk-form-group  govuk-!-margin-top-5" >
                                        <button class="govuk-button" data-module="govuk-button">
                                            Submit updated request
                                        </button>
                                    </div>

                                {% else %}
                                    <div class="govuk-form-group  govuk-!-margin-top-5" >
                                        <button class="govuk-button" data-module="govuk-button">
                                            Submit request
                                        </button>
                                    </div>
                                {% endif %}



                            </form>
                        {% endif %}





            </div>
        </div>
    </main>





<script>
    function goBack() {
        window.history.back();
    }
</script>





<div style="width:300px;">

    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 140px; width:300px;">
        <p style="margin-bottom:0px;">Draft heading</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="drafthearing=true&"
                    {% if  data.drafthearing == 'true'   %}selected{% endif %}
            >View during draft</option>

            <option value="drafthearing=false&"
                    {% if  data.drafthearing != 'true'   %}selected{% endif %}
            >View after creation</option>
        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; width:300px;">
        <p style="margin-bottom:0px;">View only</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="changesallowed=false&"
                    {% if  data.changesallowed != 'true'   %}selected{% endif %}
            >ON</option>

            <option value="changesallowed=true&"
                    {% if  data.changesallowed == 'true'   %}selected{% endif %}
            >OFF - editable</option>

        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; width:300px;">
        <p style="margin-bottom:0px;">Channel</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="channelradios=In person"
                    {% if data.channelradios == 'In person' %} selected {% endif %}
            >In person</option>

            <option value="channelradios=By phone&"
                    {% if data.channelradios != 'In person' %} selected {% endif %}
            >Not in person</option>

        </select>
    </form>



    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px;">
        <p style="margin-bottom:0px;">Same panel question (SSCS only)</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="firsthearingscenario=true&"
                    {% if data.firsthearingscenario == 'true' %}selected{% endif %}
            >First hearing (question doesn't show)</option>

            <option value="firsthearingscenario=false&"
                    {% if data.firsthearingscenario != 'true' %}selected{% endif %}
            >2nd or later hearing</option>

        </select>
    </form>



    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; margin-bottom:0px;">
        <p style="margin-bottom:0px;">Same or different panel</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="panelsame=Yes - use the same panel as most recent hearing&firsthearingscenario=false&"
                    {% if data.panelsame != 'No - select a new panel' %}  selected  {% endif %}
            >Same panel</option>

            <option value="panelsame=No - select a new panel&"
                    {% if data.panelsame == 'No - select a new panel' and data.firsthearingscenario != 'true' %}  selected  {% endif %}
            >Different panel</option>

        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; margin-bottom:0px;">
        <p style="margin-bottom:0px;">Specific judge</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="specificjudge=Yes&"
                    {% if data.specificjudge == 'Yes' %}  selected  {% endif %}
            >A specific judge</option>

            <option value="specificjudge=No&"
                    {% if data.specificjudge != 'Yes' %}  selected  {% endif %}
            >Not specific judge</option>

        </select>
    </form>



    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; margin-bottom:0px;">
        <p style="margin-bottom:0px;">Default hearing length</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="durationradios=45 minutes&theduration=45 minutes&"
                    {% if data['durationradios'] == '45 minutes' %} selected  {% endif %}
            >Default length</option>

            <option value="durationradios=other&theduration=1 hour 45 minutes"
                    {% if data['durationradios'] != '45 minutes' %}  selected  {% endif %}
            >Different length</option>

        </select>
    </form>




    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; margin-bottom:0px;">
        <p style="margin-bottom:0px;">Specific date for hearing</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="dateradios=No&"
                    {% if data['dateradios'] == 'No' %} selected  {% endif %}
            >No</option>

            <option value="dateradios=Yes&"
                    {% if data['dateradios'] == 'Yes' %} selected  {% endif %}
            >Yes</option>

            <option value="dateradios=Choose a date range&"
                    {% if data['dateradios'] == 'Choose a date range' %} selected  {% endif %}
            >Date Range</option>

        </select>
    </form>


    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 20px; margin-bottom:100px;">
        <p style="margin-bottom:0px;">Confirmed hearing <br>(Final data and additional data)</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="viewingconfirmedhearing=false&"
                    {% if data['viewingconfirmedhearing'] != 'true' %} selected  {% endif %}
            >Pending</option>

            <option value="viewingconfirmedhearing=true&"
                    {% if data['viewingconfirmedhearing'] == 'true' %} selected  {% endif %}
            >Confirmed</option>

        </select>
    </form>







</div>





{% endblock %}