{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">


                {% if  data.drafthearing == 'falce'   %}
                    <h2 class="govuk-heading-l">Hearing details</h2>
                {% else %}
                    <h2 class="govuk-heading-l">Check your answers before sending your request</h2>
                {% endif %}




                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Case name
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Jane Smith v DWP
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Hearing type
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    03 - Judge, Doctor and disability member
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Restrictions
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Case is restricted
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Case flags
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Vunerable party
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    What facilities are required?
                                                </dt>
                                                <dd class="govuk-summary-list__value">

                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                        </dl>



                                        <h2 class="govuk-heading-m">Type of hearing</h2>

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    What type of hearing is required?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    In person
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Where will the hearing take place?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    North East
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Select all possible venues
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    CHESTER CIVIL AND FAMILY JUSTICE CENTRE<br> LANCASTER MAGISTRATES COURT<br>  LANCASTER MAGISTRATES COURT
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                        </dl>



                                        <h2 class="govuk-heading-m">Panel</h2>

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Use the most recent panel again?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Totally new panel
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Do you want a specific judge?
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    No
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Judge contract type
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Salaried
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Judge role type
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    All
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>

                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Include specific panel members
                                                </dt>
                                                <dd class="govuk-summary-list__value">

                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Exclude specific panel members
                                                </dt>
                                                <dd class="govuk-summary-list__value">

                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Select any other panel roles required
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    Medically qualified - Specialist
                                                </dd>
                                                <dd class="govuk-summary-list__actions">
                                                    {% if data.changesallowed != 'false' %}
                                                        <a class="govuk-link" href="#">
                                                            Change
                                                        </a>
                                                    {% endif %}
                                                </dd>
                                            </div>
                                        </dl>




                                            <h2 class="govuk-heading-m">When will the hearing take place?</h2>

                                            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select a time
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Morning or afternoon (9am to 5pm)
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select length of hearing
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        1 hour and 45 mins
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Give a reason why a different length of hearing is required
                                                    <dd class="govuk-summary-list__value">
                                                        More evidence sent in.
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Days since SLA
                                                    <dd class="govuk-summary-list__value">
                                                        5 days
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">

                                                    </dd>
                                                </div>

                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Does the hearing need to take place on a specific date?
                                                    <dd class="govuk-summary-list__value">
                                                        Choose a date range
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Earliest hearing date
                                                    <dd class="govuk-summary-list__value">
                                                        14 August 2021
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Latest hearing date
                                                    <dd class="govuk-summary-list__value">
                                                        15 October 2021
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        How urgent is the hearing?  (optional)
                                                    <dd class="govuk-summary-list__value">
                                                        Medium priority
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                            </dl>


                                            <h2 class="govuk-heading-m">Welsh and adjustments</h2>

                                            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select if the hearing needs to be in Welsh
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">

                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">
                                                        Select any parties who need reasonable adjustments
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Jane Smith<br>
                                                        A glass and bottle of water on the table.
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        {% if data.changesallowed != 'false' %}
                                                            <a class="govuk-link" href="#">
                                                                Change
                                                            </a>
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                            </dl>




                        {% if data.changesallowed != 'false' %}
                            <form
                                name="aspnetForm"
                                method="post"
                                id="aspnetForm"
                                autocomplete="off"
                                >

                                <div class="govuk-form-group  govuk-!-margin-top-5" >
                                    <button class="govuk-button" data-module="govuk-button">
                                        Submit reuqest
                                    </button>
                                </div>

                            </form>
                        {% endif %}





            </div>
        </div>
    </main>

{% endblock %}