{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">



                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00703c">
                                <h1 class="govuk-panel__title">
                                    Submission complete
                                </h1>
                                <div class="govuk-panel__body">
                                    <!--Your reference number<br><strong>HDJ2123F</strong>  -->  &nbsp;
                                </div>
                            </div>

                            <p class="govuk-body"></p>

                            <h2 class="govuk-heading-m">What happens next</h2>

                            <p class="govuk-body">
                                We’ve submitted  this request for a hearing.  This request will be processed within 10 minutes.
                            </p>
                            <p class="govuk-body">
                                If the listing can't be done audomativally then it will be sent to a member of staff to resolve.
                            </p>

                            <p class="govuk-body">
                                <a href="/hearings/pages/casedetailsdivorce" class="govuk-link">View case</a>
                            </p>
                        </div>




            </div>
        </div>
    </main>

{% endblock %}