{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                {% if data.confimationerror == 'true' %}
                <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                <div class="govuk-tabs__panel" id="event" style="padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">


                    <h2 class="govuk-heading-m">Something went wrong </h2>

                    <p class="govuk-body">
                        Your hearing request has not been processed.
                    </p>

                    <p><a href="#">Try again</a></p>



                {%  else  %}
                        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9 govuk-!-padding-0">
                            <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00703c">
                                <h1 class="govuk-panel__title">
                                    Hearing request submitted
                                </h1>
                                <div class="govuk-panel__body">
                                    <!--Your reference number<br><strong>HDJ2123F</strong>  -->  &nbsp;
                                </div>
                            </div>

                            <p class="govuk-body"></p>

                            <h2 class="govuk-heading-m">What happens next</h2>

                            <p class="govuk-body">
                                We’ve submitted  this request for a hearing.  This request will be processed within 10 minutes.
                                You can view the status of this request in the hearings tab.
                            </p>
                            <p class="govuk-body">
                                If the hearing can’t be listed automatically, it will be sent to a member of staff to be processed.
                            </p>

                            <p class="govuk-body">
                                <a href="/hearings/pages/casedetailsdivorce?submissioncomplete=true&justsubmitted=true&aftertenbmins=false&" class="govuk-link">View case</a>
                            </p>
                        </div>

                {% endif %}



            </div>
        </div>
    </main>








<div style="width:400px;">

    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 140px;">
        <p style="margin-bottom:0px;">Error on submission</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="confimationerror=false&"
                    {% if data.confimationerror != 'true'    %}selected{% endif %}
            >No error</option>

            <option value="confimationerror=true&"
                    {% if data.confimationerror == 'true'    %}selected{% endif %}
            >Error</option>

        </select>
    </form>

</div>

{% endblock %}