{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


<main class="" id="main-content" role="main">
    <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">

        <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

        <div class="govuk-tabs__panel" id="event" style="padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">


            <h2 class="govuk-heading-m">Are you sure you want to cancel this hearing?</h2>

            <form
                    name="aspnetForm"
                    method="post"
                    id="aspnetForm"
                    autocomplete="off"
            >

                <p>The hearing will not be scheduled and the details deleted. </p>

                <p>Jane Smith v DWP</p>

                <p>Hearing date: 21 January 2022</p>



                <div class="govuk-form-group  govuk-!-margin-top-7 govuk-!-margin-bottom-0" >
                    <button class="govuk-button" data-module="govuk-button">
                        Cancel hearing
                    </button>
                </div>


            </form>


            <p><a href="casedetailsdivorce">Do not cancel hearing</a></p>


        </div>
    </div>
</main>



<script>
    function goBack() {
        window.history.back();
    }
</script>


{% endblock %}