{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style="padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                        <h2 class="govuk-heading-m">Are there any other requirements for the hearing?</h2>

                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >

                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            <h3 class="govuk-fieldset__heading">
                                                Select if the hearing needs to be in Welsh
                                            </h3>
                                        </legend>
                                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="welsh1" name="welsh" type="checkbox" value="Welsh">
                                                <label class="govuk-label govuk-checkboxes__label" for="welsh1">
                                                    This hearing will be in Welsh
                                                </label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>




                            <div class="govuk-form-group  govuk-!-margin-top-9" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>


                        </form>



            </div>
        </div>
    </main>



<script>




    function goBack() {
        window.history.back();
    }
</script>




{% endblock %}