{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">



                        <h2 class="govuk-heading-l">Select a new panel</h2>


                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >




                            <div class="govuk-form-group govuk-!-margin-top-5">

                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">
                                            Do you want a specific judge?
                                        </h3>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" onclick="showJudges();">
                                                <label class="govuk-label govuk-radios__label" for="contact"  onclick="showJudges();">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="govuk-radios__conditional" id="conditionaljudge" style="display:none;">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label" for="contact-by-email">
                                                        Name of the judge
                                                    </label>
                                                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                                                </div>
                                            </div>

                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text"   onclick="hideJudges(); ">
                                                <label class="govuk-label govuk-radios__label" for="contact-3" onclick="hideJudges(); ">
                                                    No
                                                </label>
                                            </div>


                                            <div class="govuk-radios__conditional" id="conditionaljudgelevels"  style="display:none;">

                                                <div class="govuk-form-group">
                                                    <br>
                                                    <fieldset class="govuk-fieldset">
                                                        <legend class="govuk-fieldset__legend  govuk-fieldset__legend--s ">
                                                            Select a judge type (optional)
                                                        </legend>
                                                        <div class="govuk-radios">
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract1" name="judgecontract" type="radio" value="england" checked>
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract1">
                                                                    All
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract2" name="judgecontract" type="radio" value="scotland">
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract2">
                                                                    Tribunal Judge - salaried
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract3" name="judgecontract" type="radio" value="wales">
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract3">
                                                                    Tribunal Judge - fee-paid
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract4" name="judgecontract" type="radio" value="scotland">
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract4">
                                                                    Regional Tribunal Judge - salaried
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract5" name="judgecontract" type="radio" value="wales">
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract5">
                                                                    Regional Tribunal Judge - fee-paid
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </div>

                                                <!--
                                                <div class="govuk-form-group" id="roles">
                                                    <fieldset class="govuk-fieldset">
                                                        <legend class="govuk-fieldset__legend  govuk-fieldset__legend--s">
                                                            Judge role type
                                                        </legend>
                                                        <div class="govuk-radios">
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role1" name="judgerole" type="radio" value="All" checked>
                                                                <label class="govuk-label govuk-radios__label" for="role1">
                                                                    All
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-2" name="judgerole" type="radio" value="Regional Tribunal Judge">
                                                                <label class="govuk-label govuk-radios__label" for="role-2">
                                                                    Regional Tribunal Judge
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-3" name="judgerole" type="radio" value="Tribunal Judges ">
                                                                <label class="govuk-label govuk-radios__label" for="role-3">
                                                                    Tribunal Judges
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-4" name="judgerole" type="radio" value="Regional Medical Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-4">
                                                                    Regional Medical Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-5" name="judgerole" type="radio" value="Tribunal Medical Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-5">
                                                                    Tribunal Medical Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-6" name="judgerole" type="radio" value="Tribunal Specialist Medical Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-6">
                                                                    Tribunal Specialist Medical Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-7" name="judgerole" type="radio" value="Disability Qualified Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-7">
                                                                    Disability Qualified Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-8" name="judgerole" type="radio" value="Financially Qualified Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-8">
                                                                    Financially Qualified Member
                                                                </label>
                                                            </div>
                                                        </div>

                                                        </fieldset>
                                                    </div>
                                                    -->


                                                <div class="govuk-form-group" id="excluejudge">
                                                    <div class="govuk-form-group">
                                                        <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-email">
                                                            Exclude a judge who wasn't on a previous panel (optional)
                                                        </label>
                                                        <input class="govuk-input govuk-!-width-one-third" name="contact-by-email" type="email" spellcheck="false" autocomplete="email"  id="exludejudgefield"  style="display:none;">
                                                    </div>
                                                    <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="exludenewjudge" onclick="excludejudge();">
                                                        Exclude a judge
                                                    </p>
                                                    <p class="govuk-button govuk-button--secondary govuk-!-margin-top-2 " data-module="govuk-button" id="exludeanotherjudge"  style="display: none;">
                                                        Exclude another judge
                                                    </p>
                                                </div>


                                            </div>


                                </fieldset>
                            </div>






                            <div class="" id="conditionaljudge">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-email">
                                        Include specific panel members (optional)
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-third" name="contact-by-email" type="text" spellcheck="false" id="addpersonsname" style="display:none;">
                                </div>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="addperson" onclick="addperson();">
                                    Add person
                                </p>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-3 " data-module="govuk-button" id="addanotherperson" style="display:none;">
                                    Add another person
                                </p>
                            </div>



                            <div class="" id="conditionaljudge">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-email">
                                        Exclude specific panel members (optional)
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-third" name="contact-by-email" type="text" spellcheck="false" id="excludepersonsname" style="display:none;">
                                </div>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="excludeperson" onclick="excludejudge();">
                                    Exclude person
                                </p>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-3 " data-module="govuk-button" id="excludeanotherperson" style="display:none;">
                                    Exclude another person
                                </p>
                            </div>




                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h1 class="govuk-fieldset__heading">
                                            Select any other panel roles required   (optional) &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                                        </h1>
                                    </legend>
                                    <div id="waste-hint" class="govuk-hint">
                                        Select all that apply.
                                    </div>
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="venues3" name="venues" type="checkbox" value="Medical member" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="venues3">
                                                Medical member
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="venues6" name="venues" type="checkbox" value="Disability qualified member">
                                            <label class="govuk-label govuk-checkboxes__label" for="venues6">
                                                Disability qualified member
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="venues7" name="venues" type="checkbox" value="Financely qualified member">
                                            <label class="govuk-label govuk-checkboxes__label" for="venues7">
                                                Financely qualified member
                                            </label>
                                        </div>


                                    </div>

                                </fieldset>
                            </div>






                            <div class="govuk-form-group  govuk-!-margin-top-5" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>

                        </form>


            </div>
        </div>
    </main>







<script>


    function showJudges()
    {
        var x = document.getElementById("conditionaljudge");
        if (x.style.display === "none")
        {
            x.style.display = "block";
        }

        var y = document.getElementById("conditionaljudgelevels");
        if (y.style.display === "block")
        {
            y.style.display = "none";
        }
    }

    function hideJudges()
    {
        var x = document.getElementById("conditionaljudge");
        if (x.style.display === "block")
        {
            x.style.display = "none";
        }

        var y = document.getElementById("conditionaljudgelevels");
        if (y.style.display === "none")
        {
            y.style.display = "block";
        }
    }

    function addperson()
    {
        document.getElementById("addpersonsname").style.display = "block";
        document.getElementById("addanotherperson").style.display = "inline-block";
        document.getElementById("addperson").style.display = "none";
    }

    function excludeperson()
    {
        document.getElementById("excludepersonsname").style.display = "block";
        document.getElementById("excludeanotherperson").style.display = "inline-block";
        document.getElementById("excludeperson").style.display = "none";
    }

    function excludejudge()
    {
        document.getElementById("exludejudgefield").style.display = "block";
        document.getElementById("exludeanotherjudge").style.display = "inline-block";
        document.getElementById("exludenewjudge").style.display = "none";
    }



</script>



{% endblock %}