{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                        <h2 class="govuk-heading-m">Select a new panel</h2>


                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >



                            <div class="govuk-form-group govuk-!-margin-top-5">

                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">
                                            Do you want a specific judge?
                                        </h3>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="specificjudge-1" name="specificjudge" type="radio" value="Yes" onclick="showJudges();"  {% if data.specificjudge == 'Yes' %}  Checked {% endif %} >
                                                <label class="govuk-label govuk-radios__label" for="specificjudge-1"  onclick="showJudges();">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="govuk-radios__conditional" id="conditionaljudge" style="display:none; {% if data.specificjudge == 'Yes' %}  display:block;" {% endif %} ">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label" for="judgename">
                                                        Name of the judge
                                                    </label>
                                                    <input class="govuk-input govuk-!-width-one-third" id="judgename" name="judgename"  spellcheck="false">
                                                </div>
                                            </div>

                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="specificjudge-2" name="specificjudge" type="radio" value="No"   onclick="hideJudges(); "   {% if data.specificjudge == 'No' %}  Checked {% endif %} >
                                                <label class="govuk-label govuk-radios__label" for="specificjudge-2" onclick="hideJudges(); " >
                                                    No
                                                </label>
                                            </div>


                                            <div class="govuk-radios__conditional" id="conditionaljudgelevels"  style="display:none; {% if data.specificjudge == 'No' %}  display:block;" {% endif %} ">

                                                <div class="govuk-form-group">
                                                    <br>
                                                    <fieldset class="govuk-fieldset">
                                                        <legend class="govuk-fieldset__legend  govuk-fieldset__legend--s ">
                                                            Select a judge type (optional)
                                                        </legend>
                                                        <div class="govuk-radios">
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract1" name="judgecontract" type="radio" value="All" checked  >
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract1">
                                                                    All
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract2" name="judgecontract" type="radio" value="Tribunal Judge - salaried"  {% if data.judgecontract == 'Tribunal Judge - salaried' %}  Checked {% endif %} >
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract2">
                                                                    Tribunal Judge - Salaried
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract3" name="judgecontract" type="radio" value="Tribunal Judge - fee-paid" {% if data.judgecontract == 'Tribunal Judge - fee-paid' %}  Checked {% endif %} >
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract3">
                                                                    Tribunal Judge - Fee-Paid
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgecontract4" name="judgecontract" type="radio" value="Regional Tribunal Judge" {% if data.judgecontract == 'Regional Tribunal Judge' %}  Checked {% endif %} >
                                                                <label class="govuk-label govuk-radios__label" for="judgecontract4">
                                                                    Regional Tribunal Judge
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </div>

                                                <div class="govuk-form-group">
                                                    <br>
                                                    <fieldset class="govuk-fieldset">
                                                        <legend class="govuk-fieldset__legend  govuk-fieldset__legend--s ">
                                                            Ticketed (optional)
                                                        </legend>
                                                        <div class="govuk-radios">
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgeticketed1" name="judgeticketedlevel" type="radio" value="01 - Social Security" checked  >
                                                                <label class="govuk-label govuk-radios__label" for="judgeticketed1">
                                                                    01 - Social Security
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgeticketed2" name="judgeticketedlevel" type="radio" value="02 - Child Support"   >
                                                                <label class="govuk-label govuk-radios__label" for="judgeticketed2">
                                                                    02 - Child Support
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgeticketed3" name="judgeticketedlevel" type="radio" value="03 - Disability Living Allowance"  >
                                                                <label class="govuk-label govuk-radios__label" for="judgeticketed3">
                                                                    03 - Disability Living Allowance
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgeticketed4" name="judgeticketedlevel" type="radio" value="04 - Incapacity Benefit Employment Support"  >
                                                                <label class="govuk-label govuk-radios__label" for="judgeticketed4">
                                                                    04 - Incapacity Benefit Employment Support
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgeticketed5" name="judgeticketedlevel" type="radio" value="05 - Industrial Injuries - one specialist member"   >
                                                                <label class="govuk-label govuk-radios__label" for="judgeticketed5">
                                                                    05 - Industrial Injuries - one specialist member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgeticketed6" name="judgeticketedlevel" type="radio" value="06 - Industrial Injuries - two specialist members"  >
                                                                <label class="govuk-label govuk-radios__label" for="judgeticketed3">
                                                                    06 - Industrial Injuries - two specialist members
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="judgeticketed7" name="judgeticketedlevel" type="radio" value="07 - Vaccine Damage"  >
                                                                <label class="govuk-label govuk-radios__label" for="judgeticketed7">
                                                                    07 - Vaccine Damage
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </div>

                                                <!--
                                                <div class="govuk-form-group" id="roles">
                                                    <fieldset class="govuk-fieldset">
                                                        <legend class="govuk-fieldset__legend  govuk-fieldset__legend--s">
                                                            Judge role type
                                                        </legend>
                                                        <div class="govuk-radios">
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role1" name="judgerole" type="radio" value="All" checked>
                                                                <label class="govuk-label govuk-radios__label" for="role1">
                                                                    All
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-2" name="judgerole" type="radio" value="Regional Tribunal Judge">
                                                                <label class="govuk-label govuk-radios__label" for="role-2">
                                                                    Regional Tribunal Judge
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-3" name="judgerole" type="radio" value="Tribunal Judges ">
                                                                <label class="govuk-label govuk-radios__label" for="role-3">
                                                                    Tribunal Judges
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-4" name="judgerole" type="radio" value="Regional Medical Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-4">
                                                                    Regional Medical Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-5" name="judgerole" type="radio" value="Tribunal Medical Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-5">
                                                                    Tribunal Medical Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-6" name="judgerole" type="radio" value="Tribunal Specialist Medical Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-6">
                                                                    Tribunal Specialist Medical Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-7" name="judgerole" type="radio" value="Disability Qualified Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-7">
                                                                    Disability Qualified Member
                                                                </label>
                                                            </div>
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="role-8" name="judgerole" type="radio" value="Financially Qualified Member">
                                                                <label class="govuk-label govuk-radios__label" for="role-8">
                                                                    Financially Qualified Member
                                                                </label>
                                                            </div>
                                                        </div>

                                                        </fieldset>
                                                    </div>
                                                    -->


                                                <div class="govuk-form-group" id="excluejudge">
                                                    <div class="govuk-form-group">
                                                        <label class="govuk-label govuk-!-font-weight-bold" for="contact-by-email">
                                                            Exclude a judge who wasn't on a previous panel (optional)
                                                        </label>
                                                        <div id="exludejudgefield"  style="display:none; ">
                                                            <input class="govuk-input govuk-!-width-one-third" name="exludejudgefield" type="text" >
                                                            <p class="govuk-!-padding-2 govuk-!-margin-bottom-0;"><a href="#">Clear</a></p>
                                                        </div>
                                                    </div>
                                                    <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="exludenewjudge" onclick="excludejudge();">
                                                        Exclude a judge
                                                    </p>
                                                    <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="exludeanotherjudge"  style="display: none;">
                                                        Exclude another judge
                                                    </p>
                                                </div>


                                            </div>


                                </fieldset>
                            </div>






                            <div class="" id="conditionaljudge">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <label class="govuk-label govuk-!-font-weight-bold" for="addpersonsname">
                                        Include specific panel members (optional)
                                    </label>
                                    <div  style="display:none; "  id="addpersonsname" >
                                        <input class="govuk-input govuk-!-width-one-third" name="addpersonsname" type="text" spellcheck="false">
                                        <p class="govuk-!-padding-2 govuk-!-margin-bottom-0;"><a href="#">Clear</a></p>
                                    </div>
                                </div>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="addperson" onclick="addperson();">
                                    Add person
                                </p>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="addanotherperson" style="display:none;">
                                    Add another person
                                </p>
                            </div>



                            <div class="" id="conditionaljudge">
                                <div class="govuk-form-group govuk-!-margin-bottom-0">
                                    <label class="govuk-label govuk-!-font-weight-bold" for="excludepersonsname">
                                        Exclude specific panel members (optional)
                                    </label>
                                    <div  style="display:none; "  id="excludepersonsname" >
                                        <input class="govuk-input govuk-!-width-one-third" name="excludepersonsname" type="text" spellcheck="false" >
                                        <p class="govuk-!-padding-2 govuk-!-margin-bottom-0;"><a href="#">Clear</a></p>
                                    </div>
                                </div>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="excludeperson" onclick="excludeperson();">
                                    Exclude person
                                </p>
                                <p class="govuk-button govuk-button--secondary govuk-!-margin-top-0 " data-module="govuk-button" id="excludeanotherperson" style="display:none;">
                                    Exclude another person
                                </p>
                            </div>




                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h1 class="govuk-fieldset__heading">
                                            Select any other panel roles required   (optional) &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                                        </h1>
                                    </legend>
                                    <div id="waste-hint" class="govuk-hint">
                                        Select all that apply.
                                    </div>
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="panelmember2" name="panelmember2" type="checkbox" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="panelmember2">
                                                Tribunal Medical Member
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="panelmember1" name="panelmember1" type="checkbox"  >
                                            <label class="govuk-label govuk-checkboxes__label" for="panelmember1">
                                                Regional Medical Member
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="panelmember3" name="panelmember3" type="checkbox" >
                                            <label class="govuk-label govuk-checkboxes__label" for="panelmember3">
                                                Tribunal Specialist Medical Member
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="panelmember4" name="panelmember4" type="checkbox" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="panelmember4">
                                                Disability Qualified Member
                                            </label>
                                        </div>


                                    </div>

                                </fieldset>
                            </div>






                            <div class="govuk-form-group  govuk-!-margin-top-5" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>

                        </form>


            </div>
        </div>
    </main>







<script>


    function showJudges()
    {
        var x = document.getElementById("conditionaljudge");
        if (x.style.display === "none")
        {
            x.style.display = "block";
        }

        var y = document.getElementById("conditionaljudgelevels");
        if (y.style.display === "block")
        {
            y.style.display = "none";
        }
    }

    function hideJudges()
    {
        var x = document.getElementById("conditionaljudge");
        if (x.style.display === "block")
        {
            x.style.display = "none";
        }

        var y = document.getElementById("conditionaljudgelevels");
        if (y.style.display === "none")
        {
            y.style.display = "block";
        }
    }

    function addperson()
    {
        document.getElementById("addpersonsname").style.display = "flex";
        document.getElementById("addanotherperson").style.display = "inline-block";
        document.getElementById("addperson").style.display = "none";
    }

    function excludeperson()
    {
        document.getElementById("excludepersonsname").style.display = "flex";
        document.getElementById("excludeanotherperson").style.display = "inline-block";
        document.getElementById("excludeperson").style.display = "none";
    }

    function excludejudge()
    {
        document.getElementById("exludejudgefield").style.display = "flex";
        document.getElementById("exludeanotherjudge").style.display = "inline-block";
        document.getElementById("exludenewjudge").style.display = "none";
    }






    function goBack() {
        window.history.back();
    }
</script>






{% endblock %}