{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                        <h2 class="govuk-heading-m">Who will be on the hearing panel?</h2>


                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >


                            <div class="govuk-form-group">
                                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-3">Panel members on previous hearings</p>

                                <table class="govuk-table" style="width:500px;">
                                    <thead class="govuk-table__head">
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header" style="font-weight: 400;">20 July 2021</th>
                                            <td class="govuk-table__cell">Judge Jane Smith<br>Dr David Naran</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header" style="font-weight: 400;">14 April 2021</th>
                                            <td class="govuk-table__cell">Judge Ash Chan<br>Dr Laura Jones</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>




                            <div class="govuk-form-group govuk-!-margin-top-5">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">
                                            Use the most recent panel again?
                                        </h3>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="panel-1" name="panelsame" type="radio" value="Yes - use the same panel as most recent hearing" {% if data.panelsame == 'Yes - use the same panel as most recent hearing' %} Checked {% endif %}>
                                            <label class="govuk-label govuk-radios__label" for="panel-1"  onclick="showJudges();">
                                                Yes - use the same panel as most recent hearing
                                            </label>
                                        </div>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="panel-2" name="panelsame" type="radio" value="No - select a new panel"  {% if data.panelsame == 'No - select a new panel' %}  Checked {% endif %} >
                                            <label class="govuk-label govuk-radios__label" for="panel-2" onclick="hideJudges(); ">
                                                No - select a new panel
                                            </label>
                                        </div>

                                    </div>

                                </fieldset>
                            </div>









                            <div class="govuk-form-group  govuk-!-margin-top-5" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>

                        </form>


            </div>
        </div>
    </main>







<script>

    function showJudges()
    {
        var x = document.getElementById("conditionaljudge");
        if (x.style.display === "none")
        {
            x.style.display = "block";
        }

        var y = document.getElementById("conditionaljudgelevels");
        if (y.style.display === "block")
        {
            y.style.display = "none";
        }
    }

    function hideJudges()
    {
        var x = document.getElementById("conditionaljudge");
        if (x.style.display === "block")
        {
            x.style.display = "none";
        }

        var y = document.getElementById("conditionaljudgelevels");
        if (y.style.display === "none")
        {
            y.style.display = "block";
        }
    }



    function goBack() {
        window.history.back();
    }
</script>






{% endblock %}