{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style="padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                        <h2 class="govuk-heading-l">Request a hearing</h2>

                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >



                            <p>Smith v Smith</p>

                            <p>03 - Judge, Doctor and disability member</p>

                            <div class="govuk-inset-text">
                                Restricted case
                            </div>

                            <div class="govuk-inset-text">
                                Flags: Vunerable party
                            </div>


                            <div class="govuk-form-group" style="width: 600px;">
                                <label class="govuk-label govuk-label-m govuk-!-font-weight-bold" for="more-detail">
                                    What facilities are required in the court?
                                </label>
                                <div id="more-detail-hint" class="govuk-hint">
                                    e.g. A tv to play video.<br>
                                    Do not include party specific requirements.
                                </div>
                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                            </div>








                            <div class="govuk-form-group  govuk-!-margin-top-5" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>


                        </form>


            </div>
        </div>
    </main>

{% endblock %}