{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">

            <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">

            <div class=""  style="display: flex; justify-content: space-between; ">



                <div class="govuk-tabs__panel" id="event" style="padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                        <h2 class="govuk-heading-l">Request a hearing</h2>

                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >








                            <div class="govuk-form-group  govuk-!-margin-top-5" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>


                        </form>


                </div>

            </div>



        </div>
    </main>

{% endblock %}