{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}



    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">

            <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

            <div class="govuk-tabs__panel" id="event" style="padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">


                        <h2 class="govuk-heading-l">Request a hearing</h2>

                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >



                            <p>Jane Smith v DWP </p>

                            <p>03 PIP</p>

                            <!--
                            <div class="govuk-inset-text">
                                Restricted case
                            </div>
                            -->
                            {% if data.caseflagshidden != 'true' %}
                                <div class="govuk-inset-text">
                                    Case flags: Potentially violent
                                </div>
                            {% endif %}


                            <form
                                name="aspnetForm"
                                method="post"
                                id="aspnetForm"
                                autocomplete="off"
                            >


                                <!-- GUY: I have no idea on how to order these,  not sure of most common or chronology  -->
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                            <h1 class="govuk-fieldset__heading">
                                                What stage is this hearing at?
                                            </h1>
                                        </legend>
                                        <div class="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="stage1" name="hearingstage" type="radio" value="London">
                                                <label class="govuk-label govuk-radios__label" for="stage1">
                                                    Initial
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="stage2" name="hearingstage" type="radio" value="Midlands" checked>
                                                <label class="govuk-label govuk-radios__label" for="stage2">
                                                    Final
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="stage3" name="hearingstage" type="radio" value="North East">
                                                <label class="govuk-label govuk-radios__label" for="stage3">
                                                    Substantial
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="stage4" name="hearingstage" type="radio" value="North West">
                                                <label class="govuk-label govuk-radios__label" for="stage4">
                                                    Case management
                                                </label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>




                                <div class="govuk-form-group  govuk-!-margin-top-8" >
                                    <button class="govuk-button" data-module="govuk-button">
                                        Continue
                                    </button>
                                </div>

                            </form>



                        </form>


            </div>
        </div>
    </main>






<script>
    function goBack() {
        window.history.back();
    }
</script>


<div style="width:400px;">
    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 140px;">
        <p style="margin-bottom:0px;">Case flags</p>
        <select style="height:25px;" onchange="window.location.href='?'+this.value">

            <option value="caseflagshidden=false&"
                    {% if data.caseflagshidden != 'true'  %}selected{% endif %}
            >ON</option>

            <option value="caseflagshidden=true&"
                    {% if data.caseflagshidden == 'true'  %}selected{% endif %}
            >OFF</option>

        </select>
    </form>
</div>

{% endblock %}

