{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style="padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                <a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                        <h2 class="govuk-heading-m">When will the hearing take place?</h2>

                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >

                            <!--
                            <div class="govuk-form-group govuk-!-margin-top-5">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">
                                            Select a time (optional)
                                        </h3>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">


                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="ampm-2" name="ampm" type="radio" value="Morning only (9am to 11.59am)"   >
                                            <label class="govuk-label govuk-radios__label" for="ampm-2">
                                                Morning only (9am to 11.59am)
                                            </label>
                                        </div>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="ampm-3" name="ampm" type="radio" value="Afternoon only (12pm to 5pm)"   >
                                            <label class="govuk-label govuk-radios__label" for="ampm-3">
                                                Afternoon only (12pm to 5pm)
                                            </label>
                                        </div>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="ampm-1" name="ampm" type="radio" value="Morning or afternoon (9am to 5pm)" checked>
                                            <label class="govuk-label govuk-radios__label" for="ampm-1">
                                                Morning or afternoon (9am to 5pm)
                                            </label>
                                        </div>

                                    </div>

                                </fieldset>
                            </div>
                            -->


                            <div class="govuk-form-group govuk-!-margin-top-5">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">
                                            Select length of hearing (optional)
                                        </h3>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                        <!--
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="duration1" name="durationradios" type="radio" value="15 minutes" onclick="hideothertime()">
                                            <label class="govuk-label govuk-radios__label" for="duration1"  onclick="hideothertime()">
                                                15 minutes
                                            </label>
                                        </div>
                                        -->

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="duration2" name="durationradios" type="radio" value="30 minutes"  onclick="hideothertime()" checked >
                                            <label class="govuk-label govuk-radios__label" for="duration2" onclick="hideothertime()">
                                                30 minutes
                                            </label>
                                        </div>

                                        <!--
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="duration3" name="durationradios" type="radio" value="1 hour"   onclick="hideothertime()" >
                                            <label class="govuk-label govuk-radios__label" for="duration3" onclick="hideothertime()">
                                                1 hour
                                            </label>
                                        </div>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="duration4" name="durationradios" type="radio" value="1 hour and 30 minutes"   onclick="hideothertime()" >
                                            <label class="govuk-label govuk-radios__label" for="duration4" onclick="hideothertime()">
                                                1 hour and 30 minutes
                                            </label>
                                        </div>
                                        -->

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="duration5" name="durationradios" type="radio" value="Other"  onclick="showothertime()"  >
                                            <label class="govuk-label govuk-radios__label" for="duration5" onclick="showothertime()"  >
                                                Another length
                                            </label>
                                        </div>


                                        <div class="govuk-radios__conditional govuk-!-padding-bottom-1 govuk-!-padding-top-3" style="display:none;" id="othertime">
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <h1 class="govuk-fieldset__heading">
                                                            Length of hearing

                                                        </h1>
                                                    </legend>
                                                    <div class="govuk-date-input" id="passport-issued">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                                                    Hours
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="durationhours" name="durationhours" type="text" pattern="[0-9]*" inputmode="numeric" ></div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                                                    Minutes
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="durationmins" name="durationmins" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>


                                            <div class="govuk-form-group" style="width: 600px;">

                                                <div class="govuk-form-group govuk-!-margin-top-5">
                                                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                            <h3 class="govuk-fieldset__heading">
                                                                Give a reason why a different length of hearing is required
                                                            </h3>
                                                        </legend>
                                                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="durationreason1" name="durationreason" type="radio" value="Reason 1" onclick="hidereason();">
                                                                <label class="govuk-label govuk-radios__label" for="durationreason1"  onclick="hidereason();">
                                                                    Reason 1
                                                                </label>
                                                            </div>

                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="durationreason2" name="durationreason" type="radio" value="Reason 2"  onclick="hidereason();"  >
                                                                <label class="govuk-label govuk-radios__label" for="durationreason2" onclick="hidereason();">
                                                                    Reason 2
                                                                </label>
                                                            </div>


                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="durationreason3" name="durationreason" type="radio" value="Another reason"  onclick="showreason();"  >
                                                                <label class="govuk-label govuk-radios__label" for="durationreason3" onclick="showreason();"  >
                                                                    Another reason
                                                                </label>
                                                            </div>


                                                            <div class="govuk-radios__conditional govuk-!-padding-bottom-1 govuk-!-padding-top-3" style="display:none;" id="reasonsection">


                                                                <label class="govuk-label govuk-label-m govuk-!-font-weight-bold" for="durationreasontext">
                                                                    Enter a reason
                                                                </label>
                                                                <textarea class="govuk-textarea" id="durationreasontext" name="durationreasontext" rows="2" aria-describedby="more-detail-hint"></textarea>


                                                            </div>

                                                        </div>

                                                    </fieldset>
                                                </div>



                                            </div>



                                        </div>

                                    </div>

                                </fieldset>
                            </div>




                            <!--  SLA  -->
                            <div class="govuk-inset-text">
                                5 Days since SLA start date
                            </div>



                            <div class="govuk-form-group govuk-!-margin-top-5">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">
                                            Does the hearing need to take place on a specific date?
                                        </h3>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="dates1" name="dateradios" type="radio" value="No" onclick="hiderangedate(); hidefixeddate();">
                                            <label class="govuk-label govuk-radios__label" for="dates1"  onclick="hiderangedate(); hidefixeddate();">
                                                No
                                            </label>
                                        </div>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="dates2" name="dateradios" type="radio" value="Yes"  onclick="hiderangedate(); showfixeddate();"  >
                                            <label class="govuk-label govuk-radios__label" for="dates2" onclick="hiderangedate(); showfixeddate();">
                                                Yes
                                            </label>
                                        </div>

                                        <div class="govuk-radios__conditional govuk-!-padding-bottom-1 govuk-!-padding-top-3" style="display:none;" id="fixeddatesection">
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <h1 class="govuk-fieldset__heading">
                                                            The first date of the hearing must be
                                                        </h1>
                                                    </legend>
                                                    <div class="govuk-date-input" id="passport-issued">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                                                    Day
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                                                    Month
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                                                    Year
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>
                                        </div>


                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="dates3" name="dateradios" type="radio" value="Choose a date range"  onclick="showrangedate(); hidefixeddate();"  >
                                            <label class="govuk-label govuk-radios__label" for="dates3" onclick="showrangedate();  hidefixeddate();"  >
                                                Choose a date range
                                            </label>
                                        </div>


                                        <div class="govuk-radios__conditional govuk-!-padding-bottom-1 govuk-!-padding-top-3" style="display:none;" id="rangedatesection">



                                            <div id="waste-hint" class="govuk-hint">
                                                You can enter either or both dates.
                                            </div>

                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <h1 class="govuk-fieldset__heading">
                                                            Earliest hearing date
                                                        </h1>
                                                    </legend>
                                                    <div class="govuk-date-input" id="passport-issued">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                                                    Day
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                                                    Month
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                                                    Year
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>



                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <h1 class="govuk-fieldset__heading">
                                                            Latest hearing date
                                                        </h1>
                                                    </legend>
                                                    <div class="govuk-date-input" id="passport-issued">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                                                    Day
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                                                    Month
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                                                    Year
                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>


                                        </div>

                                    </div>

                                </fieldset>
                            </div>



                            <div class="govuk-form-group govuk-!-margin-top-5">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">
                                            Is this a priority hearing?  (optional)       &nbsp;  &nbsp; &nbsp; &nbsp;
                                        </h3>
                                    </legend>

                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="venues7" name="priority" type="checkbox" value="Priority Hearing">
                                            <label class="govuk-label govuk-checkboxes__label" for="venues7">
                                                Priority
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>





                            <div class="govuk-form-group  govuk-!-margin-top-5" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>


                        </form>


            </div>
        </div>
    </main>




<script>

    function showothertime()
    {
        document.getElementById("othertime").style.display = "block";
    }

    function hideothertime()
    {
        document.getElementById("othertime").style.display = "none";
    }



    function showrangedate()
    {
        document.getElementById("rangedatesection").style.display = "block";
    }

    function hiderangedate()
    {
        document.getElementById("rangedatesection").style.display = "none";
    }


    function showfixeddate()
    {
        document.getElementById("fixeddatesection").style.display = "block";
    }

    function hidefixeddate()
    {
        document.getElementById("fixeddatesection").style.display = "none";
    }




    function showreason()
    {
        document.getElementById("reasonsection").style.display = "block";
    }

    function hidereason()
    {
        document.getElementById("reasonsection").style.display = "none";
    }




    function goBack() {
        window.history.back();
    }
</script>




{% endblock %}