{% extends "../layoutstaff.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}


    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row"  style="max-width:1860px; margin: 0 auto;">
            <div class="govuk-tabs__panel" id="event" style=" padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px; min-height: 300px;">

                <<a href="#" class="govuk-back-link govuk-!-margin-bottom-6" onclick="goBack();">Back</a>

                        <!-- <h2 class="govuk-heading-l">Channel</h2>-->

                        <form
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off"
                            >


                            <div class="govuk-form-group">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h1 class="govuk-fieldset__heading">
                                        Hearing venue details
                                    </h1>
                                </legend>

                                <p>ROMFORD COUNTY COURT AND FAMILY COURT<br>
                                    <a href="/hearings/pages/region">Change venue</a></p>
                            </div>



                            <div class="govuk-form-group"style="width: 600px;">
                                <label class="govuk-label govuk-label-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                                    What facilities are required? (optional)
                                </label>
                                <fieldset class="govuk-fieldset">



                                    <div class=""  id="ra2">
                                        <div class="govuk-form-group"style="width: 600px;">
                                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="facilities1" name="facilities" type="checkbox" value="Language interpreter"  >
                                                    <label class="govuk-label govuk-checkboxes__label" for="facilities1" >
                                                        item 1
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="facilities2" name="facilities" type="checkbox" value="Sign language interpreter"  >
                                                    <label class="govuk-label govuk-checkboxes__label" for="facilities2"  >
                                                        item 2
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="facilities3" name="facilities" type="checkbox" value="Hearing loop">
                                                    <label class="govuk-label govuk-checkboxes__label" for="facilities3"  >
                                                        item 3
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="facilities4" name="facilities" type="checkbox" value="Accessible hearing rooms"  >
                                                    <label class="govuk-label govuk-checkboxes__label" for="facilities4" >
                                                        item 4
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item"  onclick="togglefacilities();">
                                                    <input class="govuk-checkboxes__input" id="facilities5" name="facilities" type="checkbox" value="Anything else"  onclick="togglefacilities(); togglefacilities();" >
                                                    <label class="govuk-label govuk-checkboxes__label" for="facilities5" onclick="togglefacilities();"  >
                                                        anything else
                                                    </label>
                                                </div>

                                                <div class="govuk-radios__conditional govuk-!-padding-top-5 govuk-!-padding-bottom-5" id="conditionalra2box"  style="display:none;">
                                                    <label class="govuk-label govuk-label-m govuk-!-font-weight-bold" for="more-detail-adjustments-other-2">
                                                        Tell us what facilities are required
                                                    </label>
                                                    <textarea class="govuk-textarea" id="more-detail-adjustments-other-2" name="more-detail-adjustments-other-2" rows="3" aria-describedby="more-detail-hint"></textarea>
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </fieldset>
                            </div>



                            <div class="govuk-form-group  govuk-!-margin-top-7" >
                                <button class="govuk-button" data-module="govuk-button">
                                    Continue
                                </button>
                            </div>

                        </form>



            </div>
        </div>
    </main>



<script>

    function openfacilities()
    {
        document.getElementById("conditionalfacilities").style.display = "block";
    }

    function closefacilities()
    {
        document.getElementById("conditionalfacilities").style.display = "none";
    }


    function togglefacilities()
    {
        if(document.getElementById("conditionalra2box").style.display == "none")
        {
            document.getElementById("facilities5").checked = true;
            document.getElementById("conditionalra2box").style.display = "block";
        }
        else
        {
            document.getElementById("facilities5").checked = false;
            document.getElementById("conditionalra2box").style.display = "none";
        }
    }



    function goBack() {
        window.history.back();
    }
</script>



{% endblock %}