{% extends "../layout.html" %}
{% set pageId = 'notice-of-acting' %}
{% block pageTitle %}
Contact HMCTS
{% endblock %}
{% block header %}
{% include "includes/cookie-banner.html" %}
{{ hmctsHeader({

    service: {
      name: serviceName,
      url: '/'
    },
    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Sign out',
        href: '#1'
      }]
    }
  }) }}

{% set searchHtml %}
<a class="hmcts-search-toggle__button" href="{{getUrl('/search')}}">Find case</a>
{% endset %}

{{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
    text: 'Your cases',
    href: getUrl('/cases'),
    active: pageId == 'your-cases'
    },
    {
    text: 'Case access',
    href: getUrl('/cases/case-access'),
    active: pageId == 'case-access'
  }
    ],
    searchHtml: searchHtml
  }) }}

{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ super() }}
{{govukBackLink({
href: 'assign'
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold"> <span class="govuk-caption-xl">Assign to another solicitor</span>
        Search for solicitors
      </h1>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-7">
    <span id="" class="govuk-hint hmcts-search__hint ">
      Solicitors must be registered with MyHMCTS. Search by name, location or postcode</span>
    <input class="govuk-input hmcts-search__input" id="new" name="" type="search" aria-describedby="" value="BR31">
  </div>
</div>
<h2 class="govuk-heading-l">Result</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Address</th>

          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">

          <td class="govuk-table__cell ">Pritchard Joyce & Hinds</td>
          <td class="govuk-table__cell ">108-110 Beckenham High Street<br>Beckenham<br>Kent<br>
            BR3 1EB</td>

          <td class="govuk-table__cell "><a href="ref">Select</a></td>
        </tr>
        <tr class="govuk-table__row">

          <td class="govuk-table__cell ">Stoffel & Co</td>
          <td class="govuk-table__cell ">48 High Street<br>Beckenham<br>Kent<br>
            BR3 1AY</td>

          <td class="govuk-table__cell "><a href="#">Select</a></td>
        </tr>
        <tr class="govuk-table__row">

          <td class="govuk-table__cell ">Thackray Williams LLP</td>
          <td class="govuk-table__cell ">225-231 High Street<br>Beckenham<br>Kent<br>BR3 1BN</td>

          <td class="govuk-table__cell "><a href="#">Select</a></td>
        </tr>
        <tr class="govuk-table__row">

          <td class="govuk-table__cell ">Tinklin Springall</td>
          <td class="govuk-table__cell ">9-11 Rectory Rd<br>Beckenham<br>Kent<br>BR3 1JB</td>

          <td class="govuk-table__cell "><a href="#">Select</a></td>
        </tr>
        <tr class="govuk-table__row">

          <td class="govuk-table__cell ">WTJM Law</td>
          <td class="govuk-table__cell ">247 High Street<br>Beckenham<br>Kent<br>BR3 1AB</td>

          <td class="govuk-table__cell "><a href="#">Select</a></td>
        </tr>



      </tbody>
    </table>
  </div>
</div>
{% endblock %}