
{% extends "../layout.html" %}

{% set pageId = 'case-access' %}

{% block pageTitle %}
  Case access
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}


{% block content %}



 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
 <form action="/v3/cases/notice">

   <h1 class="govuk-heading-xl">
        Case access
      </h1>

<h2 class="govuk-heading-m">Notice of acting</h2>
  <p>This is sometimes called a ‘notice of change'. Use this 'notice of acting' to tell a court that the legal representative in a case has changed.</p>

   <p class="govuk-body">You can only do this if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the case already exists online</li>
  <li>you know the case reference number, for example 1111-2222-3333-4444</li>
  <li>you know the email address your client used to create the case</li>
</ul>
        
            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

{% endblock %}