{% extends "../layout.html" %}
{% set pageId = 'case-access' %}
{% block pageTitle %}
Case access
{% endblock %}
{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ hmctsHeader({

    service: {
      name: serviceName,
      url: '/'
    },

    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Sign out',
        href: '#1'
      }]
    }
  }) }}

  {% set searchHtml %}
    <a class="hmcts-search-toggle__button" href="{{getUrl('/search')}}">Find case</a>
  {% endset %}

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
    text: 'Your cases',
    href: getUrl('/cases'),
    active: pageId == 'your-cases'
    },
    {
    text: 'Case access',
    href: getUrl('/cases/notice'),
    active: pageId == 'case-access'
  }
    ],
    searchHtml: searchHtml
  }) }}

{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <form action="/v4/cases/start">
                <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-heading-xl">
                            <span class="govuk-caption-xl">Notice of acting</span>
                            What do you want to do?
                        </h1>
                    </legend>
                    <span id="changed-name-hint" class="govuk-hint">
                        Select one of the following:
                    </span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                                Add a legal representative to the case
                            </label>
                            <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                               For example, if the appellant no longer wants to represent themselves
                            </span>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
                                Change an existing legal representative
                            </label>
                            <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                                For example, if the appellant wants to change their current solicitor
                            </span>
                        </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
                                Remove an existing legal representative
                            </label>
                            <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                                For example, legal representative no longer wishes to represent appellant
                            </span>
                        </div>
                    </div>
                </fieldset>
        </div>
        {{govukButton({
        text: 'Continue'
        })}}
        </form>
    </div>
</div>
{% endblock %}