{% extends "../layout.html" %}
{% set pageId = 'notice-of-acting' %}
{% block pageTitle %}
Prefered method of confirmation - Notice of acting
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{govukBackLink({
href: 'method'
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="/v3/cases/details">
            <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Notice of acting</span>
            Your contact details
        </h1>

    <p class="govuk-body-l">These details will be used in the email sent to the client to confirm they want you to act on their behalf.</p>    

            <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
   Full name
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false" value="Janet Tempest">
</div>
            <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
    Organisation name
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false" value="Hamlin and Tinklin Solicitors">
</div>

      {{govukButton({
            text: 'Continue'
            })}}
        </form>
    </div>
</div>
{% endblock %}