// global styles for <a> and <p> tags
$govuk-global-styles: true;

$govuk-page-width: 1220px;
$hmcts-page-width: 1220px;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";


// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";
@import "node_modules/@hmcts/frontend/all";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.black-box {
  color: govuk-colour('white');
  background: govuk-colour('black');
  min-height: 600px;
  padding: govuk-spacing(6);
}

.black-box .govuk-heading-xl,
.black-box .govuk-heading-l,
.black-box .govuk-heading-m {
  color: govuk-colour('white');
  margin-bottom: 0;
}

.black-box--small {
  min-height: 0;
}

// hack
a.hmcts-search-toggle__button {
  color: govuk-colour('white');
}



// close button for banner messages

#close-banner {
    float:right;
    display:inline-block;
    padding:0px 0px 20px 5px;
    background:#fff;
    font-size: 18px;
    font-weight: bold;
    color: govuk-colour("black");
}


.govuk-list--alpha {
  padding-left: 20px;
  list-style-type: lower-alpha;
}


.govuk-accordion-wa__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 4px;
}

.govuk-accordion-wa__icon:after,
.govuk-accordion-wa__icon:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: govuk-colour("black");
}

.govuk-accordion-wa__icon:before {
  width: 100%;
}

.govuk-accordion-wa__icon:after {
  height: 100%;
}

.govuk-accordion-wa__iconc {
  position: absolute;
  width: 16px;
  // height: 16px;
  margin-top: 12px;
  margin-left: 4px;
}

.govuk-accordion-wa__iconc:after,
.govuk-accordion-wa__iconc:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: govuk-colour("black");
}

.govuk-accordion-wa__iconc:before {
  width: 100%;
}

.govuk-accordion-wa__iconc:after {
  height: 100%;
}

.right {
  text-align: right;
  margin-right: 40px;
}

.right_m {
  text-align: right;
  margin-right: 5px;
}
.right_l {
  text-align: right;
  margin-right: 18px;
}

.right_tl {
  text-align: right;
  margin-right: 24px;
}




.hmcts-badge--orange {
  border-color: govuk-colour("orange");
  color: govuk-colour("orange");
}
