// global styles for <a> and <p> tags
$govuk-global-styles: true;

$govuk-page-width: 1220px;
$hmcts-page-width: 1220px;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";


// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";
@import "node_modules/@hmcts/frontend/all";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.black-box {
  color: govuk-colour('white');
  background: govuk-colour('black');
  min-height: 600px;
  padding: govuk-spacing(6);
}

.black-box .govuk-heading-xl,
.black-box .govuk-heading-l,
.black-box .govuk-heading-m {
  color: govuk-colour('white');
  margin-bottom: 0;
}

.black-box--small {
  min-height: 0;
}

// hack
a.hmcts-search-toggle__button {
  color: govuk-colour('white');
}



.xui-alert-link__text {
  text-decoration: underline;
  display: inline-block;
  margin-right: govuk-spacing(1);
}

.xui-alert-link__number {
  @include govuk-font($size: 16, $line-height: 25px);
  border-radius: 50%;
  background-color: #1d70b8;
  color: govuk-colour('white');
  font-weight: bold;
  width: 25px;
  height: 25px;
  margin-left: govuk-spacing(1);
  text-align: center;
  display: inline-block;
  text-decoration: none;
}




// close button for banner messages

#close-banner {
    float:right;
    display:inline-block;
    padding:0px 0px 20px 5px;
    background:#fff;
    font-size: 18px;
    font-weight: bold;
    color: govuk-colour("black");
}


.govuk-list--alpha {
  padding-left: 20px;
  list-style-type: lower-alpha;
}


.govuk-accordion-wa__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 4px;
}

.govuk-accordion-wa__icon:after,
.govuk-accordion-wa__icon:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: govuk-colour("black");
}

.govuk-accordion-wa__icon:before {
  width: 100%;
}

.govuk-accordion-wa__icon:after {
  height: 100%;
}

.govuk-accordion-wa__iconc {
  position: absolute;
  width: 16px;
  // height: 16px;
  margin-top: 12px;
  margin-left: 4px;
}

.govuk-accordion-wa__iconc:after,
.govuk-accordion-wa__iconc:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: govuk-colour("black");
}

.govuk-accordion-wa__iconc:before {
  width: 100%;
}

.govuk-accordion-wa__iconc:after {
  height: 100%;
}

.right {
  text-align: right;
  margin-right: 40px;
}

.right_m {
  text-align: right;
  margin-right: 5px;
}
.right_l {
  text-align: right;
  margin-right: 18px;
}

.right_tl {
  text-align: right;
  margin-right: 24px;
}


.hmcts-badge_right {
  float: right;
}

.hmcts-badge--orange {
  border-color: govuk-colour("orange");
  color: govuk-colour("orange");
}

.hmcts-badge--black {
  border-color: govuk-colour("black");
  color: govuk-colour("black");
}


.govuk-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 40.0525em) {
  .govuk-tabs__list {
    margin-bottom: 20px;
  }
}

@media (max-width: 40.0525em) and (min-width: 40.0625em) {
  .govuk-tabs__list {
    margin-bottom: 30px;
  }
}

.govuk-tabs__list-item {
  margin-left: 25px;
}

.govuk-tabs__list-item::before {
  content: "\2014 ";
  margin-left: -25px;
  padding-right: 5px;
}


.govuk-tabs__tab {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media print {
  .govuk-tabs__tab {
    font-family: sans-serif;
  }
}

.govuk-tabs__tab:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  background-color: #ffbf47;
}

.govuk-tabs__tab:link {
  color: #005ea5;
}

.govuk-tabs__tab:visited {
  color: #4c2c92;
}

.govuk-tabs__tab:hover {
  color: #2b8cc4;
}

.govuk-tabs__tab:active {
  color: #2b8cc4;
}

.govuk-tabs__tab:focus {
  color: #0b0c0c;
}

@media print {
  .govuk-tabs__tab {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs__tab {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .govuk-tabs__tab {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.govuk-tabs__tab [aria-current="true"] {
  color: #0b0c0c;
  text-decoration: none;
}

.govuk-tabs__panel {
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .govuk-tabs__panel {
    margin-bottom: 50px;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__list {
    border-bottom: 1px solid #bfc1c3;
  }
  .js-enabled .govuk-tabs__list:after {
    content: "";
    display: block;
    clear: both;
  }
  .js-enabled .govuk-tabs__list-item {
    margin-left: 0;
  }
  .js-enabled .govuk-tabs__list-item::before {
    content: none;
  }
  .js-enabled .govuk-tabs__title {
    display: none;
  }
  .js-enabled .govuk-tabs__tab {
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    color: #0b0c0c;
    background-color: #f8f8f8;
    text-align: center;
    text-decoration: none;
  }

  .js-enabled .govuk-tabs__tab_b {
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: -1px;
    padding-top: 14px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom:11px;
    border-bottom: 0;
    float: left;
    color: #ffffff;
    background-color: #005ea5;
    text-align: center;
    text-decoration: none;
  }

  .js-enabled .govuk-tabs__tab--selected {
    margin-top: -5px;
    margin-bottom: -1px;
    padding-top: 14px;
    padding-right: 19px;
    padding-bottom: 16px;
    padding-left: 19px;
    border: 1px solid #bfc1c3;
    border-bottom: 0;
    color: #0b0c0c;
    background-color: #ffffff;
  }
  .js-enabled .govuk-tabs__tab--selected:focus {
    background-color: transparent;
  }
  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border: 1px solid #bfc1c3;
    border-top: 0;
  }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel--hidden {
    display: none;
  }
  .js-enabled .govuk-tabs__panel > :last-child {
    margin-bottom: 0;
  }
}
.govuk-tag--red {
    color: #942514;
    background: #f6d7d2;
}
.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
}
.govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3;
}
.govuk-tag--grey {
    color: #383f43;
    background: #eeefef;
}



    #no-underline{
  underline: none;
}

/* // RESPONSIVE table */

body {
  line-height: 1.25;
}

table {
  border-bottom: 1px solid #fff;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;

  table-layout: auto;
}

table caption {
  /* font-size: 1.5em; */
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em 0;
  text-align: left;

}

table th {

}

@media screen and (max-width: 650px) {
  table {
    border: 0;
  }

  table caption {
    /* font-size: 1.3em; */
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

  }

  table tr {
    border-bottom: 5px solid #ddd;
    display: block;
    margin-bottom: .625em;

  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    /* font-size: .8em; */
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;

  }
}
