{% extends "../layoutpros.html" %}
{% block pageTitle %}
Refunds
{% endblock %}
{% block content %}
<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h1 class="govuk-heading-xl">Refund list</h1>
  </div>
</div>

<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h2 class="govuk-heading-l">Refunds to be approved</h2>
  </div>
</div>

<div class="hmcts-scrollable-pane">
  <div class="hmcts-scrollable-pane__wrapper">
    <div style="display:block; position:relative; width:100%; verticle-align: top;">
      <div style="display:inline-block; position:relative; float:left; width:40%;">
        <p class="govuk-body" style="float: left">Displaying <strong>1</strong> of <strong>1</strong> refunds</p>
      </div>
      <div style="display:inline-block; position:relative;  float:left; width:30%;">
        <div class="govuk-form-group" style="float: right">
          <label class="govuk-label" for="services" style="display: inline-block; margin-right: 10px">
            Filter by service:
          </label>
          <select class="govuk-select" id="services" name="services">
            <option>All services</option>
            <option>Service One</option>
            <option>Service Two</option>
            <option>Service Three</option>
          </select>
        </div>
      </div>
      <div style="display:inline-block; position:relative; float:right; width:30%;">
        <div class="govuk-form-group" style="float: right">
          <label class="govuk-label" for="sort" style="display: inline-block; margin-right: 10px">
            Filter by caseworker:
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option>All caseworkers</option>
            <option>Steve Smith</option>
            <option>Loren Barrow</option>
          </select>
        </div>
      </div>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Case reference</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Refund reference</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Submitted by</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Date submitted</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Last updated</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Action</button></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1630-5919-1394-8513</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1630-5951-1622-1438</td>
          <td class="govuk-table__cell">Krishna kumar</td>
          <td class="govuk-table__cell">8 August 2021</td>
          <td class="govuk-table__cell">8 September 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="">Review case</a> &nbsp;
            <a href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/refund/J7-review-approve">Process refund</a>
          </td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1631-5864-6675-1164</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-5869-5688-4160</td>
          <td class="govuk-table__cell">Krishna Kishore Nuthalapati</td>
          <td class="govuk-table__cell">14 August 2021</td>
          <td class="govuk-table__cell">14 September 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="#">Review case</a> &nbsp;
            <a href="#">Process refund</a>
          </td>
        </tr> -->
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1630-9239-8542-7656</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1630-9373-9826-8085</td>
          <td class="govuk-table__cell">Krishna Kishore Nuthalapati</td>
          <td class="govuk-table__cell">14 August 2021</td>
          <td class="govuk-table__cell">14 September 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="#">Review case</a> &nbsp;
            <a href="#">Process refund</a>
          </td>
        </tr> -->
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1632-1782-7392-7721</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1632-2228-9507-7927</td>
          <td class="govuk-table__cell">Caseworker Requester</td>
          <td class="govuk-table__cell">21 July 2021</td>
          <td class="govuk-table__cell">21 September 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="#">Review case</a> &nbsp;
            <a href="#">Process refund</a>
          </td>
        </tr> -->
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1629-9006-0071-4810</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1629-9787-7654-9533</td>
          <td class="govuk-table__cell">Probate BO-issuer</td>
          <td class="govuk-table__cell">18 September 2021</td>
          <td class="govuk-table__cell">18 October 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="#">Review case</a> &nbsp;
            <a href="#">Process refund</a>
          </td>
        </tr> -->
      </tbody>
    </table>

<br />

<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h2 class="govuk-heading-l">Refunds returned to caseworker</h2>
  </div>
</div>

<div class="hmcts-scrollable-pane">
  <div class="hmcts-scrollable-pane__wrapper">
    <div style="display:block; position:relative; width:100%; verticle-align: top;">
      <div style="display:inline-block; position:relative; float:left; width:40%;">
        <p class="govuk-body" style="float: left">Displaying <strong>3</strong> of <strong>3</strong> refunds</p>
      </div>
      <div style="display:inline-block; position:relative;  float:left; width:30%;">
        <div class="govuk-form-group" style="float: right">
          <label class="govuk-label" for="services" style="display: inline-block; margin-right: 10px">
            Filter by service:
          </label>
          <select class="govuk-select" id="services" name="services">
            <option>All services</option>
            <option>Service One</option>
            <option>Service Two</option>
            <option>Service Three</option>
          </select>
        </div>
      </div>
      <div style="display:inline-block; position:relative; float:right; width:30%;">
        <div class="govuk-form-group" style="float: right">
          <label class="govuk-label" for="sort" style="display: inline-block; margin-right: 10px">
            Filter by caseworker:
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option>All caseworkers</option>
            <option>Steve Smith</option>
            <option>Loren Barrow</option>
          </select>
        </div>
      </div>
    </div>


    <table class="govuk-table ">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Case reference</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Refund reference</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Submitted by</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Date submitted</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Last updated</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Action</button></th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1630-9239-8542-7656</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1324-6846-2454-5445</td>
          <td class="govuk-table__cell">Loren Barrow</td>
          <td class="govuk-table__cell">14 August 2021</td>
          <td class="govuk-table__cell">14 September 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="">Review refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1632-1782-7392-7721</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1632-2228-9507-7927</td>
          <td class="govuk-table__cell">Caseworker Requester</td>
          <td class="govuk-table__cell">21 July 2021</td>
          <td class="govuk-table__cell">21 September 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="#">Review refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1629-9006-0071-4810</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1629-9787-7654-9533</td>
          <td class="govuk-table__cell">Probate BO-issuer</td>
          <td class="govuk-table__cell">18 September 2021</td>
          <td class="govuk-table__cell">18 October 2021</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="#">Review refund</a>
          </td>
        </tr>
      </tbody>
    </table>






    {% endblock %}
    {% block scripts %}
    {% endblock %}
