{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicialplain.html" %}
{% else %}
    {% extends "../layoutstaffplain.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="/caseaccess/pages/booking-location-opt1" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}


  <span class="govuk-caption-l">Work access</span>
{% set setDuration %}
<!--
<p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">Access starts</p>
<p class="govuk-body govuk-!-font-weight-regular govuk-!-font-size-19">{{ now |  date("add", 0, "day") | date( "D MMMM YYYY" ) }}</p>
-->
{{ govukDateInput({
id: "access-start-date",
namePrefix: "access-start-date",
fieldset: {
legend: {
text: "Booking start",
classes: "govuk-fieldset__legend--m"
}
},
hint: {
text: "For example, 19 11 2021"
}
}) }}
{{ govukDateInput({
id: "access-end-date",
namePrefix: "access-end-date",
fieldset: {
legend: {
text: "Booking ends",
classes: "govuk-fieldset__legend--m"
}
},
hint: {
text: "For example, 19 12 2021"
}
}) }}

{% endset -%}
{% set textHtml %}
{{ govukInput({
  id: "contact-by-text",
  name: "contact-by-text",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Mobile phone number"
  }
}) }}

{% endset -%}
{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "Book your time at the location",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [

    {
      value: "phone",
      text: "Today only (ends at midnight)",
      hint: {
    text: ""
  }
  },

  {
    value: "phone",
    text: "This week (end on Sunday at midnight )",
    hint: {
  text: ""
}
},


    {
      value: "phone",
      text: "Select a date range",
      hint: {
    text: ""
  },
      conditional: {
        html: setDuration
      }
    }
  ]
}) }}

    {{ govukButton({
      text: "Submit",
      href: "/caseaccess/pages/booking-location-opt1c"
    }) }}


{% endblock %}
