{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicialplain.html" %}
{% else %}
    {% extends "../layoutstaffplain.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">Booking UI</h1>


<h3 class="govuk-heading-m">Where are you working today
</h3>

<!--
    <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-size-19" for="sort"><strong>
    Jurisdiction</strong>
  </label>
  <select class="govuk-select" id="sort" name="sort">

    <option value="updated" selected>Please select</option>
    <option value="views">Immigration and Asylum</option>
    <option value="comments">Probate</option>
  </select>
</div>
    <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-size-19" for="sort"><strong>
    Appointment</strong>
  </label>
  <select class="govuk-select" id="sort" name="sort">

    <option value="updated" selected>Select if applicable</option>
    <option value="views">Something</option>
    <option value="comments">Something else</option>
  </select>
</div>
-->
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-size-19" for="sort"><strong>
      Region</strong>
      </label>
      <select class="govuk-select" id="sort" name="sort" onChange="document.location = this.value" value="GO">

          <option value="/caseaccess/pages/booking-location-opt1" >Please select</option>

    <!--      <option value="published">All</option> -->
        <option value="#">North Eastern Circuit</option>
        <option value="#">Northen Circuit</option>
        <option value="#">Midland Circuit</option>
        <option value="#">Wales and Chester Circuit</option>
          <option value="#">South Eastern Circuit</option>
            <option value="/caseaccess/pages/booking-location-opt1-2" selected>Western Circuit</option>
      </select>
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-size-19" for="sort"><strong>
      Cluster</strong>
      </label>
      <select class="govuk-select" id="sort" name="sort" onChange="document.location = this.value" value="GO">
  <option value="/caseaccess/pages/booking-location-opt1-2"" >Please select</option>
        <option value="#">Wiltshire, Hampshire and IOW</option>

        <option value="/caseaccess/pages/booking-location-opt1-3" selected>Devon, Cornwall and Dorset</option>
        <option value="#">Avon, Somerset and Gloucestershire</option>

      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-size-19" for="sort" ><strong>
      Location</strong>
      </label>

      <select class="govuk-select" id="sort" name="sort" onChange="document.location = this.value" value="GO"  >
          <option value="/caseaccess/pages/booking-location-opt1-3" >Please select</option>
        <option value="#">Dorset</option>
                <option value="/caseaccess/pages/booking-location-opt1-3" selected>Exeter</option>
                        <option value="#">Plymouth</option>
                                <option value="#">Taunton</option>
                                <option value="#">Truro</option>

      </select>
    </div>

    {{ govukButton({
      text: "Submit",

      href: "/caseaccess/pages/mywork"
    }) }}


{% endblock %}
