{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicialplain.html" %}
{% else %}
    {% extends "../layoutstaffplain.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="/caseaccess/pages/booking-location-opt1" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}


  <span class="govuk-caption-l">Work access</span>
{% set setDuration %}
{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Access starts",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 12 11 2007"
  }
}) }}
{{ govukDateInput({
id: "passport-issued",
namePrefix: "passport-issued",
fieldset: {
legend: {
text: "Access ends",
classes: "govuk-fieldset__legend--m"
}
},
hint: {
text: "For example, 19 11 2007"
}
}) }}
{% endset -%}
{% set textHtml %}
{{ govukInput({
  id: "contact-by-text",
  name: "contact-by-text",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Mobile phone number"
  }
}) }}
{% endset -%}
{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "How long will you be working here?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You should provide a date which reflects your actual working time at this location"
  },
  items: [

    {
      value: "phone",
      text: "Today only ",
      hint: {
    text: "Starts from today and access ends at midnight."
  }
  },


    {
      value: "phone",
      text: "Another period",
      hint: {
    text: "You’ll need to provide both a start and end date."
  },
      conditional: {
        html: setDuration
      }
    }
  ]
}) }}

    {{ govukButton({
      text: "Submit",

      href: "/caseaccess/pages/mywork-exeter"
    }) }}


{% endblock %}
