{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicialplain.html" %}
{% else %}
    {% extends "../layoutstaffplain.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block content %}
<form action="#" method="post" onsubmit="usePage(this, 'bob');">
  <div class="govuk-form-group">

  </div>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Design option one",
      classes: "govuk-!-margin-right-3",
      href: "/caseaccess/pages/booking-design-option-1.html"
    }) }}
    {{ govukButton({
      text: "Design option two",
      classes: "govuk-!-margin-right-3",
      href: "/caseaccess/pages/booking-design-option-2.html"
    }) }}
  </div>
</form>
<script type="text/javascript">
  function usePage(frm,nm){
    for (var i_tem = 0, bobs=frm.elements; i_tem < bobs.length; i_tem++)
    if(bobs[i_tem].name==nm&&bobs[i_tem].checked)
    frm.action=bobs[i_tem].value;
  }
</script>
{% endblock %}
