{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicialplain.html" %}
{% else %}
    {% extends "../layoutstaffplain.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="/caseaccess/pages/booking" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-form-group">
    <span class="govuk-caption-l">Work access</span>
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="location-picker">
      Select a location
    </label>
  </h1>
  <div id="event-name-hint" class="govuk-hint">
    Enter the location name, for example, Taylor House Tribunal Centre.
  </div>
  <div style="width:40%; padding:0 0 20px 0;display:inline-block;">
    <select id="location-picker" name="locationPicker">
      <option value=" " {% if data.locationPicker == ' ' %} selected {% endif %}> </option>
      <option value="Birmingham Civil and Family Justice Centre" {% if data.locationPicker == 'Birmingham Civil and Family Justice Centre' %} selected {% endif %}>Birmingham Civil and Family Justice Centre</option>
      <option value="Bradford Tribunal Hearing Centre" {% if data.locationPicker == 'Bradford Tribunal Hearing Centre' %} selected {% endif %}>Bradford Tribunal Hearing Centre</option>
      <option value="Glasgow Tribunals Centre" {% if data.locationPicker == 'Glasgow Tribunals Centre' %} selected {% endif %}>Glasgow Tribunals Centre</option>
      <option value="Hatton Cross Tribunal Hearing Centre" {% if data.locationPicker == 'Hatton Cross Tribunal Hearing Centre' %} selected {% endif %}>Hatton Cross Tribunal Hearing Centre</option>
      <option value="Manchester Tribunal Hearing Centre" {% if data.locationPicker == 'Manchester Tribunal Hearing Centre' %} selected {% endif %}>Manchester Tribunal Hearing Centre</option>
      <option value="Newcastle Civil & Family Courts and Tribunals Centre" {% if data.locationPicker == 'Newcastle Civil & Family Courts and Tribunals Centre' %} selected {% endif %}>Newcastle Civil & Family Courts and Tribunals Centre</option>
      <option value="Newport (South Wales) Immigration and Asylum Tribunal" {% if data.locationPicker == 'Newport (South Wales) Immigration and Asylum Tribunal' %} selected {% endif %}>Newport (South Wales) Immigration and Asylum Tribunal</option>
      <option value="Taylor House Tribunal Hearing Centre" {% if data.locationPicker == 'Taylor House Tribunal Hearing Centre' %} selected {% endif %}>Taylor House Tribunal Hearing Centre</option>
    </select>

    </div>
</div>

{{ govukButton({
  text: "Continue",

  href: "/caseaccess/pages/booking-location-opt1b"
}) }}

<script type="text/javascript">
  window.onload = (event) => {
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#location-picker')
    })
  }
</script>

<script type="text/javascript">
  function usePage(frm,nm) {
    for (var i_tem = 0, bobs=frm.elements; i_tem < bobs.length; i_tem++)
    if(bobs[i_tem].name==nm&&bobs[i_tem].checked)
    frm.action=bobs[i_tem].value;
  }
</script>

{% endblock %}
