{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}


{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

<div class="hmcts-banner">
  <svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
  C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
  </svg>
  <div class="hmcts-banner__message">
    <span class="hmcts-banner__assistive">information</span>You have been given specific access to this case until midnight on 06/04/2021. Access to this case is logged for auditing purposes.
  </div>
</div>
<div class="govuk-grid-row" style="width:1220px; margin-left: 0px;">
  <div class="" style="display: flex; justify-content: space-between; ">


    <div>
      <h1 class="govuk-heading-xl">4321456798766789</h1>
    </div>


    <div style="display: flex; align-items:right">
      <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

      <select class="govuk-select" id="sort" name="sort">
        <option value="published" selected="">Select action</option>
        <option value="published">Submit amended application</option>
        <option value="published">Link respondent</option>
        <option value="published">Add Note</option>
        <option value="published">Upload document</option>
        <option value="updated">Stop representing a client</option>
      </select>

      <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
        <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
          Go
        </button>
      </form>
    </div>



  </div>


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#">
          Tasks
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#">
          Roles and access
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#">
          Overview
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Appeal
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Appellant
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Documents
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Directions
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week" >
          Applications
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Case notes
        </a>
      </li>
  <!--    <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Hearing
        </a>
      </li> -->
    </ul>

    <div class="govuk-tabs__panel" id="event" style="display: padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px;">
      <div >
        <h2 class="govuk-heading-l">Overview</h2>

        <h3 class="govuk-heading-m">Current progress of the case</h3>



        <div class="hmcts-progress-bar">
        <ol class="hmcts-progress-bar__list">

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
          <span class="hmcts-progress-bar__label">Appeal<br>submitted</span>
        </li>

        <li class="hmcts-progress-bar__list-item" aria-current="step">
            <span class="hmcts-progress-bar__icon e"></span>
          <span class="hmcts-progress-bar__label">Awaiting<br>respondent<br>evidence</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon "></span>
          <span class="hmcts-progress-bar__label">Case<br>building</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon "></span>
          <span class="hmcts-progress-bar__label">Case<br>under<br>review</span>
        </li>

        <li class="hmcts-progress-bar__list-item" ">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Respondent<br>review</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Submit<br>hearing<br>requirements</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Listing</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Prepare<br>for<br>hearing</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Final<br>bundling</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Pre<br>hearing</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Decision</span>
        </li>
        </ol>
        </div>


        <h2 class="govuk-heading-m">Do this next</h2>

        <p class="govuk-body">Check the response uploaded by the respondent.</p>
        <p class="govuk-body">If it complies with the Procedure Rules and Practice Directions, direct the appellant to <a href="#" class="govuk-link">review the Home Office response</a></p>
        <p class="govuk-body">If it does not comply, direct the respondent to <a href="#" class="govuk-link">amend the appeal response</a></p>

        <br>
         <h2 class="govuk-heading-m">Case details</h2>



         <dl class="govuk-summary-list">


               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key summary-key">
                   Appeal reference
                 </dt>
                 <dd class="govuk-summary-list__value">
                   4321456798766789

                 </dd>

               </div>



               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key summary-key">
                   Appellant
                 </dt>
                 <dd class="govuk-summary-list__value">
                    	Ali Uddin
                 </dd>

               </div>



               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key summary-key">
                   Date of birth
                 </dt>
                 <dd class="govuk-summary-list__value">
                  14/06/1990
                 </dd>

               </div>



               <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key summary-key">
                   Nationalities
                 </dt>
                 <dd class="govuk-summary-list__value">
                   Pushtan
                 </dd>

               </div>


         </dl>


      </div>


    </div>
  </div>



</div>

{% endblock %}
