{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial-c.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}
    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-xl">My work</h1>
          </div>
    </div>
    <p>Access tasks and cases.</p>
    {{ govukButton({
  text: "Show work filter",
  classes: "govuk-button--secondary"
}) }}
    <div class="hmcts-scrollable-pane">
      <div class="hmcts-scrollable-pane__wrapper">
        <nav class="hmcts-sub-navigation">
          <ul class="hmcts-sub-navigation__list">
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="#">
                My tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="#">
                Available tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link"  href="#">
                My cases <!-- <span class="xui-alert-link__number"> 1 </span> -->
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" aria-current="page"  href="#">
                My access  <span class="xui-alert-link__number"> 2 </span>
              </a>
            </li>
          </ul>
        </nav>
        <p class="govuk-body">Displaying <strong>2</strong> of <strong>2</strong> cases </p>
        <table class="govuk-table ">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending"><button type="button" data-index="0">Case name</button></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Jurisdiction</button></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Case category</button></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Date submitted</button></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Access</button></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Start</button></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">End</button></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-14" style="width: auto;" aria-sort="none"><a href="#"></a></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="/caseaccess/pages/IACs-atc"><strong>Ali Uddin</strong></a></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Immigration and Asylum</strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Protection</strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>14/04/2021</strong></td>
                  <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Specific access</strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>17/04/2021 </strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>15/05/2021 </strong></td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Amelia Chu</strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Immigration and Asylum</strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Protection</strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>13/04/2021</strong></td>
                  <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Not granted</strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong></strong></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19" >&nbsp;&nbsp;&nbsp;<a href="IACs-tcrvd" class="right_m">View</a></td>


                  </tr>

              </tbody>
          </table>

{% endblock %}
{% block scripts %}
{% endblock %}
