{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial-c.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}
    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-xl">My work</h1>
          </div>
    </div>
    <p>See your tasks and view tasks available for you to pick up.</p>
    {{ govukButton({
  text: "Filter my work",
  classes: "govuk-button--secondary"
}) }}
        <div class="hmcts-scrollable-pane">
          <div class="hmcts-scrollable-pane__wrapper">
            <nav class="hmcts-sub-navigation">
              <ul class="hmcts-sub-navigation__list">
                <li class="hmcts-sub-navigation__item">
                  <a class="hmcts-sub-navigation__link"  href="mywork-c">
                    My tasks
                  </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                  <a class="hmcts-sub-navigation__link" href="available-tasks-c">
                    Available tasks
                  </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                  <a class="hmcts-sub-navigation__link" aria-current="page" href="mycases-c">
                    My cases
                  </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                  <a class="hmcts-sub-navigation__link"  href="#">
                    My access
                  </a>
                </li>
              </ul>
            </nav
</div>
  <p class="govuk-body">Displaying <strong>2</strong> of <strong>2</strong> cases </p>
        <table class="govuk-table ">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 200px;" aria-sort="ascending"><button type="button" data-index="0">Case name</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Jurisdiction</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 140px;" aria-sort="none"><button type="button" data-index="1">Case category</button></th>
                <!--  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none""></th> -->
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Case role</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 120px;" aria-sort="none"><button type="button" data-index="1">Start</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 120px;" aria-sort="none"><button type="button" data-index="1">End</button></th>
                <!--     <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 130px;" aria-sort="none"><button type="button" data-index="1">Hearing date</button></th> -->
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-14" style="width: 110px;" aria-sort="none"><a href="#"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="#">Patti Jo</a></td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Immigration and Asylum</td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Protection</td>
                  <!--  <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td> -->
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Leadership Judge</td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">DD/MM/YYYY </td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">DD/MM/YYYY  </td>
                  <!--  <td class="govuk-table__cell">18 Apr 2021</td> -->
                    <td class="govuk-table__cell"><a href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="#">Hudson Remi</a></td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Immigration and Asylum</td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">HR</td>
                    <!--  <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td> -->
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Hearing Judge</td>
                    <td class="govuk-table__cell">DD/MM/YYYY  </td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
                  <!--   <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td> -->
                    <td class="govuk-table__cell"><a href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
                </tr>
        <!--          <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="#">Mr Peter Williams Vs Mrs Janet Richards</a></td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Immigration and Asylum</td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Adoption</td>

                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Reviewer</td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">14 Mar 2021</td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">14 Apr 2021 </td>

                      <td class="govuk-table__cell"><a href="#" class="right_">Go to case</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="#">Mrs Mary Hunter-bridge Vs Mrs Caroline Manning</a></td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Family</td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Care and supervision</td>

                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Reviewer</td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">22 Mar 2021</td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">22 Mar 2021 </td>

                      <td class="govuk-table__cell"><a href="#" class="right_m">Go to case</a></td>
                  </tr> -->
              </tbody>
          </table>
{% endblock %}
{% block scripts %}
{% endblock %}
