{% if  data.usertype == 'judiciary'   %}
{% extends "../layoutjudicial-c.html" %}
{% else %}
{% extends "../layoutstaff-c.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form
          name="paForm"
          method="post"
          id="paForm"
          autocomplete="off"
          action="PA-00321-2018-request">
      {{ govukPanel({
        titleText: "Access successful",
        html: "Case reference:<br><strong>9872574867365860</strong>"
      }) }}
  <!--    <p class="govuk-body">We have sent you a confirmation email.</p>
-->
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
      You can access this case file until midnight tonight.</p>
      <p class="govuk-body">
        You’ll need to request access again once this expires.
      </p>
      <p class="govuk-body">
        Your request will be logged for auditing purposes.
      </p>
      <p><a href="SSCS-a" class="govuk-link">View case file</a>.
    </div>
  </div>
{% endblock %}
