{% if  data.usertype == 'judiciary'   %}
{% extends "../layoutjudicial.html" %}
{% else %}
{% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}
<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h1 class="govuk-heading-xl">Cancel a task</h1>
  </div>
</div>
<div class="govuk-form-group">

  <div id="event-name-hint" class="govuk-body">
  Cancel as task that has not been completed, but is no longer needed. This will remove it from the task list.
  </div>



    <div class="hmcts-scrollable-pane">
      <div class="hmcts-scrollable-pane__wrapper">

        <table class="govuk-body" id="transactionstable">
          <p class="govuk-body">

          </p>
          <thead>
            <tr class="govuk-table__row">

              <th scope="col" class="govuk-table__header" aria-sort="none">Case name</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Case category</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Task created</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Person</th>
              <th scope="col" class="govuk-table__header" aria-sort="none"></th>
            </tr>
          </thead>
          <tbody>
            <tr>

              <td data-label="Case">Hudson Remi</td>
              <td data-label="Reference">Protection</td>
              <td data-label="Status">Taylor House</td>
              <td data-label="Date">Generate decision and reasons</td>
                <td data-label="Amount">{{ now |  date("subtract", 0, "day") | date( "D MMMM YYYY" ) }}  </td>
        <td data-label="Status">Judge Beech</td>
          <td data-label="Status"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p></p>
    </div>
    <form>
        {{ govukButton({
        text: 'Cancel task',
        classes: "govuk-!-margin-right-5",
        href: "wa-allwork-sp-ct"
        }) }}
<p><a class="govuk-body" href="wa-allwork-sp-o">Cancel</a></p>
<!--
        {{ govukButton({
        text: 'Cancel',
        classes: "govuk-button--secondary",
        href: "/workallocation/pages/wa-mytasks-ao"
        }) }}
-->

    </form>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
