{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}
    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-xl">My work</h1>
          </div>
    </div>
    <p>See your tasks and view tasks available for you to pick up.</p>
{{ govukButton({
    text: "Filter my work",
    classes: "govuk-button--secondary" }) }}
    <div class="hmcts-scrollable-pane">
      <div class="hmcts-scrollable-pane__wrapper">
        <nav class="hmcts-sub-navigation">
          <ul class="hmcts-sub-navigation__list">
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="#">
                My tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="#">
                Available tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="#">
                My cases
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" aria-current="page"  href="#">
                My access <span class="xui-alert-link__number">1 </span>
              </a>
            </li>
          </ul>
        </nav>
        <p class="govuk-body">Displaying <strong>1</strong> of <strong>1</strong> cases </p>
        <table class="govuk-table ">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 200px;" aria-sort="ascending"><button type="button" data-index="0">Case name</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Jurisdiction</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 140px;" aria-sort="none"><button type="button" data-index="1">Case category</button></th>
                <!--  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none""></th> -->
  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 120px;" aria-sort="none"><button type="button" data-index="1">Case role</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Access</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 120px;" aria-sort="none"><button type="button" data-index="1">Start</button></th>
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 120px;" aria-sort="none"><button type="button" data-index="1">End</button></th>
                <!--     <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 130px;" aria-sort="none"><button type="button" data-index="1">Hearing date</button></th> -->
                  <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-14" style="width: 110px;" aria-sort="none"><a href="#">(Reset sorting)</a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Amelia Chu</strong></td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Immigration and Asylum</strong></td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Protection</strong></td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Reviewer</strong></td>
                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><strong>Rejected</strong></td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
                    <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
                    <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a href="myaccess-tcr" class="right_m">Manage</a><span class="govuk-accordion-wa__iconc"></span></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td colspan="8" class="govuk-table__cell right"><a href="/workallocation/pages/myaccess-tcrd" class="right_l">Delete request</a><a href="myaccess-tcrvd" class="right_l">View access request</a></td>
                  </tr>
              </tbody>
          </table>
{% endblock %}
{% block scripts %}
{% endblock %}
