{% if  data.usertype == 'judiciary'   %}
{% extends "../layoutjudicial-aw.html" %}
{% else %}
{% extends "../layoutstaff-aw.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}
<style>
  .govuk-width-container {
    max-width: 1820px;
  }
</style>
<div class="govuk-width-container">
  <div class="hmcts-page-heading">
    <div class="hmcts-page-heading__title">
      <h1 class="govuk-heading-xl">All work</h1>
    </div>
  </div>
  <p>View and manage all tasks and cases.</p>


  <div class="hmcts-scrollable-pane">
    <div class="hmcts-scrollable-pane__wrapper">
      <nav class="hmcts-sub-navigation">
        <ul class="hmcts-sub-navigation__list">
          <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" href="wa-allwork">
              Tasks
            </a>
          </li>
          <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" aria-current="page" href="wa-allwork-cases">
              Cases
            </a>
          </li>
        </ul>
      </nav>
      <div class="hmcts-filter-layout" >
        <div class="hmcts-filter-layout__filter" style="background-color: #f3f2f1;">

          <div class="hmcts-filter__content">

            <div class="hmcts-filter__options" >


  <div>
  <label class="govuk-heading-m" for="sort">
    Service
  </label>
  <select class="govuk-select" id="sort" name="sort" style="width:100%">
    <option value="published">Value</option>
    <option value="updated" selected>Immigration and Asylum</option>
    <option value="views">Value</option>
    <option value="comments">Value</option>
  </select>
<div class="govuk-!-padding-bottom-4"></div>


  <label class="govuk-heading-m" for="sort">
    Case location
  </label>
  <select class="govuk-select" id="sort" name="sort" style="width:100%">
    <option value="published">All locations</option>
    <option value="updated" selected>Taylor House</option>
    <option value="views">Value</option>
    <option value="comments">Value</option>
  </select>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <label class="govuk-heading-m" for="sort">
    Role type
  </label>
  <select class="govuk-select" id="sort" name="sort" style="width:100%">

    <option value="updated" selected>Judicial</option>
    <option value="views">Legal ops</option>
    <option value="comments">Admin</option>
  </select>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <form action="#" method="post" onsubmit="usePage(this, 'bob');">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <label class="govuk-heading-m" for="sort">
      Person
    </label>
    <div class="govuk-radios" >
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="person" name="bob" type="radio" value="/workallocation/pages/wa-allwork-cases" >
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          All
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="person-3" name="bob" type="radio" value="/workallocation/pages/wa-allwork-cases-jb" checked="true">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Specific person
        </label>
      </div>
  <div class="govuk-!-padding-bottom-2"></div>
      <div class="govuk-form-group">
          <input class="govuk-input" id="address-town" name="address-town" type="text" value="Judge Beech (judge.beech@eJudiciary.co.uk)">
      </div>

    </div>



  </div>
  <div class="govuk-!-padding-bottom-1"></div>

              <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Apply
              </button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Reset to default
              </button>
            </div>
          </div>
        </div>
        <div class="hmcts-filter-layout__content">
          <p class="govuk-body">Displaying <strong>4</strong> case allocations of <strong>4</strong></p>
          <table class="govuk-table ">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;">Case name</th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" >Case category</th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" >Location</th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" >Role</th>

                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" >Person</th>
                <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-14" style="width: auto;" ></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19" style="border-bottom: 1px solid #fff"><a href="#">Libby Mcmahon</a></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19" style="border-bottom: 1px solid #fff">Protection</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19" style="border-bottom: 1px solid #fff">Taylor House</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19" style="border-bottom: 1px solid #fff"></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19" style="border-bottom: 1px solid #fff">Lead Judge</td>

                <td class="govuk-table__cell govuk-body govuk-!-font-size-19" style="border-bottom: 1px solid #fff">Judge Beech</td>
                <td class="govuk-table__cell" style="border-bottom: 1px solid #fff">&nbsp;&nbsp;&nbsp;<a href="wa-allwork-cases-jb" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
              </tr

<tr class="govuk-table__row">

  <td colspan="7" class="right"><a href="wa-cases-real" class="right">Reallocate</a> <a href="#" class="right_tl">Remove allocation</a></td>
</tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="#">Talha Awan</a></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Protection</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Lead Judge</td>

                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Judge Beech</td>
                <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a v href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="#">Patti Jo</a></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Protection</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Lead Judge</td>

                      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Judge Beech</td>
                <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a v href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
              </tr>




              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="#">Hudson Remi</a></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Protection</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25" path
                    style="fill: black">
                    <title>This case has more than one task. Review needed.</title>
                    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                                              C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                  </svg></td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Lead Judge</td>

                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Judge Beech</td>
                <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </form>
    <script type="text/javascript">
    function usePage(frm,nm){
    for (var i_tem = 0, bobs=frm.elements; i_tem < bobs.length; i_tem++)
    if(bobs[i_tem].name==nm&&bobs[i_tem].checked)
    frm.action=bobs[i_tem].value;
    }
    </script>

    {% endblock %}
