{% if  data.usertype == 'judiciary'   %}
{% extends "../layoutjudicial.html" %}
{% else %}
{% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}

<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h1 class="govuk-heading-xl">My work</h1>
  </div>
</div>
<p>Use the work filter to show tasks and cases based on service, work type and location.</p>

{{ govukButton({
  text: "Show work filter",
  classes: "govuk-button--secondary",
  href: "wa-show-work-filter-zero"
}) }}

<div class="hmcts-scrollable-pane">
  <div class="hmcts-scrollable-pane__wrapper">
    <nav class="hmcts-sub-navigation">
      <ul class="hmcts-sub-navigation__list">
        <li class="hmcts-sub-navigation__item">
          <a class="hmcts-sub-navigation__link" aria-current="page" href="wa-mytasks">
            My tasks
          </a>
        </li>
        <li class="hmcts-sub-navigation__item">
          <a class="hmcts-sub-navigation__link" href="wa-available-tasks">
            Available tasks
          </a>
        </li>
        <li class="hmcts-sub-navigation__item">
          <a class="hmcts-sub-navigation__link" href="wa-mycases">
            My cases
          </a>
        </li>
        <li class="hmcts-sub-navigation__item">
          <a class="hmcts-sub-navigation__link" href="wa-myaccess">
            My access
          </a>
        </li>
      </ul>
    </nav>
    <p class="govuk-body">Displaying <strong>0</strong> of <strong>0</strong> tasks</p>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
