{% extends "../layoutpros.html" %}
{% block pageTitle %}
Refunds
{% endblock %}
{% block content %}
<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h1 class="govuk-heading-xl">Refund list</h1>
  </div>
</div>

<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h2 class="govuk-heading-l">Refunds to be approved</h2>
  </div>
</div>

<div class="hmcts-scrollable-pane">
  <div class="hmcts-scrollable-pane__wrapper">
    <p class="govuk-body" style="float: left">Displaying <strong>15</strong> of <strong>15</strong> refunds</p>

    <div class="govuk-form-group" style="float: right">
      <label class="govuk-label" for="sort" style="display: inline-block; margin-right: 10px">
        Filter by caseworker:
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option>All caseworkers</option>
        <option>Steve Smith</option>
        <option>Loren Barrow</option>
      </select>
    </div>

    <table class="govuk-table ">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Case ID</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Refund reference</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Reason</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Submitted by</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Date updated</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Action</button></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        {% if data['state'] != 'remission' %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1630-5919-1394-8513</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1630-5951-1622-1438 </td>
          <td class="govuk-table__cell">Legal correction - legislation reinterpretation</a>
          <td class="govuk-table__cell">Krishna kumar</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 0, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1631-5864-6675-1164</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-5869-5688-4160 </td>
          <td class="govuk-table__cell">Duplicate fee (customer error)</a>
          <td class="govuk-table__cell">Krishna Kishore Nuthalapati</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 0, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1630-9239-8542-7656 </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1630-9373-9826-8085</td>
          <td class="govuk-table__cell">Fee not due</a>
          <td class="govuk-table__cell">Krishna Kishore Nuthalapati </a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 0, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1632-1782-7392-7721</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1632-2228-9507-7927 </td>
          <td class="govuk-table__cell">Retrospective remission</a>
          <td class="govuk-table__cell">Caseworker Requester</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 1, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1629-9013-4012-5267</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1629-9927-3340-1571</td>
          <td class="govuk-table__cell">Retrospective remission</a>
          <td class="govuk-table__cell">Krishna Kishore Nuthalapati</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 1, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1629-9006-0071-4810 </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1629-9787-7654-9533</td>
          <td class="govuk-table__cell">Retrospective remission</a>
          <td class="govuk-table__cell">Probate BO-issuer</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 1, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1631-6401-4137-2191</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-6408-1680-7141</td>
          <td class="govuk-table__cell">Duplicate fee (customer error)</a>
          <td class="govuk-table__cell">Krishna kumar</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 2, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1631-6143-4090-7834 </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-7889-7125-7964</td>
          <td class="govuk-table__cell">Retrospective remission</a>
          <td class="govuk-table__cell">Krishna kumar</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 2, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1630-0566-5403-5912</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1630-0710-3724-8553</td>
          <td class="govuk-table__cell">Retrospective remission</a>
          <td class="govuk-table__cell">Krishna Kishore Nuthalapati</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 2, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1631-8731-3456-2409</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-8797-4071-1736</td>
          <td class="govuk-table__cell">Retrospective remission</a>
          <td class="govuk-table__cell">Probate Requester</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 3, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1631-8798-9420-9297</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-8814-2684-7891</td>
          <td class="govuk-table__cell">Retrospective remission</a>
          <td class="govuk-table__cell">Probate Requester</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 3, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1111-1111-1111-1111</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-8874-0829-4366 </td>
          <td class="govuk-table__cell">Amended claimFR</a>
          <td class="govuk-table__cell">Requester</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 3, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1111-1111-1111-1112</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-8877-4795-8135</td>
          <td class="govuk-table__cell">Amended claimCMC</a>
          <td class="govuk-table__cell">Requester</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 4, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1600-1627-2722-0635</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-8886-5511-7714</td>
          <td class="govuk-table__cell">Amended claimCMC</a>
          <td class="govuk-table__cell">Requester</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 4, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1631-9906-2007-6338</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1632-0615-4320-0840</td>
          <td class="govuk-table__cell">Duplicate fee (customer error)</a>
          <td class="govuk-table__cell">Caseworker Requester </a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'add', 4, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=withdrawn&result=submitted&user={{ data['user'] }}">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=withdrawn&user={{ data['user'] }}">Process refund</a>
          </td>
        </tr>


        {% elseif data['state'] != 'withdrawn' %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1632-1362-3971-4963</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1632-1415-6140-5453 </td>
          <td class="govuk-table__cell">Retrospective remission </a>
          <td class="govuk-table__cell">Caseworker Requester </a>
          <td class="govuk-table__cell"> {{govukTag({
          text: now | date( 'subtract', 5, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}}</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?casetype=civil&state=remission&result=submitted">Review case</a> &nbsp;
            <a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/review-approve?casetype=civil&state=remission">Process refund</a>
          </td>
        </tr>

        {% endif %}

      </tbody>
    </table>

<br />

<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title">
    <h2 class="govuk-heading-l">Refunds returned to caseworker</h2>
  </div>
</div>

<div class="hmcts-scrollable-pane">
  <div class="hmcts-scrollable-pane__wrapper">
    <p class="govuk-body" style="float: left">Displaying <strong>3</strong> of <strong>3</strong> refunds</p>

    <div class="govuk-form-group" style="float: right">
      <label class="govuk-label" for="sort" style="display: inline-block; margin-right: 10px">
        Filter by caseworker:
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option>All caseworkers</option>
        <option>Steve Smith</option>
        <option>Loren Barrow</option>
      </select>
    </div>


    <table class="govuk-table ">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Case ID</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending">Refund reference</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Reason</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none">Submitted by</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Date updated</button></th>
          <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 21%" aria-sort="none">Action</button></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">4692-3164-5845-1567</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1324-6846-2454-5445</td>
          <td class="govuk-table__cell">Case withdrawn</a>
          <td class="govuk-table__cell">Loren Barrow</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'subtract', 1, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/view-refund?result=returned&refund=adHoc">Review refund</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1630-5919-1394-8513</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1630-5951-1622-1438 </td>
          <td class="govuk-table__cell">Legal correction - legislation reinterpretation</a>
          <td class="govuk-table__cell">Loren Barrow</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'subtract', 2, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/view-refund?result=returned&refund=adHoc">Review refund</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">1111-1111-1111-1111</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">RF-1631-8874-0829-4366 </td>
          <td class="govuk-table__cell">Amended claimFR</a>
          <td class="govuk-table__cell">Loren Barrow</a>
          <td class="govuk-table__cell">{{govukTag({
          text: now | date( 'subtract', 3, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}} </td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="https://fees-and-payments.herokuapp.com/orders/pages/refund/view-refund?result=returned&refund=adHoc">Review refund</a></td>
        </tr>

<!--
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19">3164-1234-5845-4819</td>
          <td class="govuk-table__cell">Remission granted</a>
          <td class="govuk-table__cell"> {{govukTag({
          text: now | date( 'subtract', 5, 'days' ) | date,
          classes: "govuk-tag--grey"
        })}}</td>
          <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><a href="https://fees-and-payments.herokuapp.com/orders/pages/v1caseinccd?state=remission&casetype=civil">Review case</a></td>
        </tr>
  -->

      </tbody>
    </table>






    {% endblock %}
    {% block scripts %}
    {% endblock %}
