
{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="wa-PA-00467-2017-coi-4" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<h2 class="govuk-heading-l">Add an exclusion</h2>
<h2 class="govuk-heading-m">Describe the exclusion</h2>
<div class="govuk-form-group">


  <textarea class="govuk-textarea govuk-!-width-one-half" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

  <div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
href: "wa-PA-00467-2017-coi-6",

    classes: "govuk-!-margin-right-3"
  }) }}

  <p><a class="govuk-body" href="wa-PA-00467-2017-ar">Cancel</a></p>
</div>
</form>

{% endblock %}
