
{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="wa-PA-00467-2017-ajhadur-fpjl" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<h2 class="govuk-heading-l">Allocate a judicial role</h2>
<h2 class="govuk-heading-m">Check your allocation</h2>
<div id="event-name-hint" class="govuk-hint">
  Check the information below carefully.
</div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-width-three-quarters">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 350px;">
              Type of role
            </dt>
            <dd class="govuk-summary-list__value">
              Hearing judge
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="wa-PA-00467-2017-aj-fpjl">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <!--
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who the role will be allocated to
            </dt>
            <dd class="govuk-summary-list__value">
            Allocate to another judge
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="wa-PA-00467-2017-ajh-fpj">
                Change<span class="govuk-visually-hidden">Selected judge</span>
              </a>
            </dd>
          </div>
-->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Person
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Judge Goodwin</p>
              <p class="govuk-body">judge.goodwin@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="wa-PA-00467-2017-ajha-fpjl">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration of role
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ now |  date("subtract", 0, "day") | date( "D MMMM YYYY" ) }} to {{ now |  date("add", 120, "day") | date( "D MMMM YYYY" ) }}</p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="wa-PA-00467-2017-ajhadur-fpjcl">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

        </dl>

  <div class="govuk-button-group">
  {{ govukButton({
    text: "Confirm allocation",
href: "wa-PA-00467-2017-arj-fpj",

    classes: "govuk-!-margin-right-3"
  }) }}

  <p><a class="govuk-body" href="wa-PA-00467-2017-ar-fpjl">Cancel</a></p>
</div>
</form>

{% endblock %}
