
{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="wa-PA-00467-2017-ajh" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<span class="govuk-caption-l">Hearing judge</span>
<h2 class="govuk-heading-l">Allocate a judicial role</h2>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
      Find the judge
    </label>
  </h2>
  <div id="event-name-hint" class="govuk-hint">
    Type the name of the judge to select the right person.
  </div>
  <input class="govuk-input govuk-!-width-one-third" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
</div>

  <div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "wa-PA-00467-2017-ajchk",
    classes: "govuk-!-margin-right-3"
  }) }}

  <p><a class="govuk-body" href="wa-PA-00467-2017-ar">Cancel</a></p>
</div>
</form>

{% endblock %}
