
{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}

{% block content %}
<span class="govuk-caption-l">Hearing judge</span>
<h2 class="govuk-heading-l">Remove allocation</h2>
<p class="govuk-body">This will remove the role allocation. You may need to unassign or reassign associated tasks too.</p>

<div class="govuk-form-group">
  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
      Role summary
    </label>
  </h3>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-width-three-quarters">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Person
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Judge Goodwin</p>
        <p class="govuk-body">judge.goodwin@example.com</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="wa-PA-00467-2017-ajhan">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Role
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Hearing judge</p>

      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="wa-PA-00467-2017-ajndur">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      </dd>
    </div>
  </dl>
</div>

  <div class="govuk-button-group">
  {{ govukButton({
    text: "Remove allocation",
    href: "wa-PA-00467-2017-arjra-de",
    classes: "govuk-!-margin-right-3"
  }) }}

  <p><a class="govuk-body" href="wa-PA-00467-2017-arjp-o">Cancel</a></p>
</div>
</form>

{% endblock %}
