{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="wa-PA-00467-2017-coi-3" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
{% set textHtml %}
{{ govukTextarea({
  name: "more-detail",
  id: "more-detail"
}) }}
{% endset -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Add an exclusion</h2>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
          Choose an exclusion type
        </label>
      </h2>
{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  items: [
  {
    value: "coi",
    text: "Conflict of interest"
  },
  {
    value: "other",
    text: "Other"
  }
  ]
}) }}
<div class="govuk-button-group">
{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-right-3",
  href: "/workallocation/pages/wa-PA-00467-2017-coi-5"
}) }}
<!--
{{ govukButton({
  text: "Cancel and unassign task",
  href: "/caseaccess/pages/PA-00467-2017-t",
  classes: "govuk-button--secondary"
}) }}
-->
  <p><a class="govuk-body" href="wa-PA-00467-2017-ar">Cancel</a></p>
</div>

</div>
</div>
{% endblock %}
