{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block beforeContent %}
<a href="wa-PA-00467-2017-ajn" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Allocate a hearing judge</span>
    Choose who to allocate the role to
</h1>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form
        name="aspnetForm"
        method="post"
        id="aspnetForm"
        autocomplete="off">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1" style="display:block">
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" onclick="hideshow(2)">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Reserve to me
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-2">
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" onclick="hideshow(3)">
                <label class="govuk-label govuk-radios__label" for="contact-3">
                    Allocate to another person
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
    <div class="govuk-grid-column-two-thirds">
      <!--  NEXT PAGE  CHNAGING BASED ON SELECTION  -->
      <!--  NO SELECTION -->
      <a href="#" style="display: block" id="link0">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>
      <!--  Selected entered address -->
      <a href="#" style="display: none" id="link1">
      </a>
      <!--  Selected solicitor -->
      <a href="wa-PA-00467-2017-ajndur" style="display: none" id="link2">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>
      <!--  Selected solicitor -->
      <a href="wa-PA-00467-2017-ajhan" style="display: none" id="link3">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>
    </div>
    </div>
    <p><a class="govuk-body" href="wa-PA-00467-2017-noj">Cancel</a></p>
  </div>
{% block scripts %}

<script>
  function hideshow(x)
  {
    document.getElementById("link0").style.display = "none";
    if ( x == 1 )
      {
        document.getElementById("conditional-1").style.display = "block";
        document.getElementById("conditional-2").style.display = "none";
        document.getElementById("link1").style.display = "block";
        document.getElementById("link2").style.display = "none";
        document.getElementById("link3").style.display = "none";
      }
    else if ( x == 2 )
      {
          document.getElementById("conditional-2").style.display = "block";
          document.getElementById("conditional-1").style.display = "none";
          document.getElementById("link1").style.display = "none";
          document.getElementById("link2").style.display = "block";
          document.getElementById("link3").style.display = "none";
      }
    else if ( x == 3 )
      {
          document.getElementById("conditional-1").style.display = "none";
          document.getElementById("conditional-2").style.display = "none";
          document.getElementById("link1").style.display = "none";
          document.getElementById("link2").style.display = "none";
          document.getElementById("link3").style.display = "block";
      }
    }
</script>
{% endblock %}
{% endblock %}
