{% if  data.usertype == 'judiciary'   %}
{% extends "../layoutjudicial.html" %}
{% else %}
{% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" autofocus>
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#service">
          <a href="#service">
            Select a service
          </a>
      </li>
    </ul>
  </div>
</div>
<div class="govuk-width-container">
  <div class="hmcts-page-heading">
    <div class="hmcts-page-heading__title">
      <h1 class="govuk-heading-xl">My work</h1>
    </div>
  </div>
  <p>Access tasks and cases.</p>

  {{ govukButton({
    text: "Hide work filter",
    classes: "govuk-button--secondary",
    href: "/workallocation/pages/wa-mytasks.html"}) }}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half"
        style="background-color: #f3f2f1; padding:20px 20px 0px 20px; margin-left: 15px;">
<div class="govuk-form-group govuk-form-group--error">
        <h2 class="govuk-heading-m" id="service">Services</h2>
        <span id="contact-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select a service
        </span>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column" style="background-color: 	#f3f2f1; margin-left: 15px;">
            <div class="govuk-checkboxes govuk-checkboxes--large">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="selectall" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="selectall">
                  <strong>Select all</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Immigration and Asylum
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                  Damages
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                  Social security and child support
                </label>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <p></p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <p></p>
          </div>
        </div>
        </div>
        <hr>
        <div style="width:70%; padding:0 0 20px 0;display:inline-block;">
          <label class="govuk-body" for="location-picker">
            Search for a location by name
          </label>
          <select id="location-picker" name="locationPicker">
            <option value=" " {% if data.locationPicker == ' ' %} selected {% endif %}> </option>
            <option value="Birmingham Civil and Family Justice Centre" {% if data.locationPicker == 'Birmingham Civil and Family Justice Centre' %} selected {% endif %}>Birmingham Civil and Family Justice Centre</option>
            <option value="Bradford Tribunal Hearing Centre" {% if data.locationPicker == 'Bradford Tribunal Hearing Centre' %} selected {% endif %}>Bradford Tribunal Hearing Centre</option>
            <option value="Glasgow Tribunals Centre" {% if data.locationPicker == 'Glasgow Tribunals Centre' %} selected {% endif %}>Glasgow Tribunals Centre</option>
            <option value="Hatton Cross Tribunal Hearing Centre" {% if data.locationPicker == 'Hatton Cross Tribunal Hearing Centre' %} selected {% endif %}>Hatton Cross Tribunal Hearing Centre</option>
            <option value="Manchester Tribunal Hearing Centre" {% if data.locationPicker == 'Manchester Tribunal Hearing Centre' %} selected {% endif %}>Manchester Tribunal Hearing Centre</option>
            <option value="Newcastle Civil & Family Courts and Tribunals Centre" {% if data.locationPicker == 'Newcastle Civil & Family Courts and Tribunals Centre' %} selected {% endif %}>Newcastle Civil & Family Courts and Tribunals Centre</option>
            <option value="Newport (South Wales) Immigration and Asylum Tribunal" {% if data.locationPicker == 'Newport (South Wales) Immigration and Asylum Tribunal' %} selected {% endif %}>Newport (South Wales) Immigration and Asylum Tribunal</option>
            <option value="Taylor House Tribunal Hearing Centre" {% if data.locationPicker == 'Taylor House Tribunal Hearing Centre' %} selected {% endif %}>Taylor House Tribunal Hearing Centre</option>
          </select>
          </div>
          <div style="width:25%; display:inline-block; vertical-align:top; margin-top:25px; margin-left:10px;">
            {{ govukButton({
              text: "Add location",
              href: "/workallocation/pages/wa-show-work-filter-add-1.html",
              classes: "govuk-!-margin-right-3"
            }) }}
          </div>
          <ul class="hmcts-filter-tags">
            <li>
              <a class="hmcts-filter__tag" href="">
                <span class="govuk-visually-hidden">
                  Remove this filter
                </span>
                Taylor House Tribunal Hearing Centre
              </a>
            </li>
          </ul>
          <hr>
          <h2 class="govuk-heading-s">Types of work</h2>
        {% if  data.usertype == 'judiciary'   %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column" style="background-color: 	#f3f2f1; margin-left: 15px;">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="select-all" name="typeofwork" type="checkbox" value="select-all">
                <label class="govuk-label govuk-checkboxes__label" for="select-all">
                  <strong>Select all</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="access-request" name="typeofwork" type="checkbox" value="access-request" checked>
                <label class="govuk-label govuk-checkboxes__label" for="access-request">
                  Access request
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="application" name="typeofwork" type="checkbox" value="application">
                <label class="govuk-label govuk-checkboxes__label" for="application">
                  Applications
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="decision-making-work" name="typeofwork" type="checkbox" value="decision-making-work">
                <label class="govuk-label govuk-checkboxes__label" for="decision-making-work">
                  Decision-making work
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="hearing-work" name="typeofwork" type="checkbox" value="hearing-work">
                <label class="govuk-label govuk-checkboxes__label" for="hearing-work">
                  Hearing work
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="manage-errors" name="typeofwork" type="checkbox" value="manage-errors">
                <label class="govuk-label govuk-checkboxes__label" for="manage-errors">
                  Manage errors
                </label>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <p></p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <p></p>
          </div>
        </div>
        {% else %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column" style="background-color: 	#f3f2f1; margin-left: 15px;">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="select-all" name="typeofwork" type="checkbox" value="select-all">
                <label class="govuk-label govuk-checkboxes__label" for="select-all">
                  <strong>Select all</strong>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="access-request" name="typeofwork" type="checkbox" value="access-request" checked>
                <label class="govuk-label govuk-checkboxes__label" for="access-request">
                  Access request
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="application" name="typeofwork" type="checkbox" value="application">
                <label class="govuk-label govuk-checkboxes__label" for="application">
                  Applications
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="decision-making-work" name="typeofwork" type="checkbox" value="decision-making-work">
                <label class="govuk-label govuk-checkboxes__label" for="decision-making-work">
                  Decision-making work
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="hearing-work" name="typeofwork" type="checkbox" value="hearing-work">
                <label class="govuk-label govuk-checkboxes__label" for="hearing-work">
                  Hearing work
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="manage-errors" name="typeofwork" type="checkbox" value="manage-errors">
                <label class="govuk-label govuk-checkboxes__label" for="manage-errors">
                  Manage errors
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="priority" name="typeofwork" type="checkbox" value="priority">
                <label class="govuk-label govuk-checkboxes__label" for="priority">
                  Priority
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="routine-work" name="typeofwork" type="checkbox" value="routine-work">
                <label class="govuk-label govuk-checkboxes__label" for="routine-work">
                  Routine work
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="upper-tribunal" name="typeofwork" type="checkbox" value="upper-tribunal">
                <label class="govuk-label govuk-checkboxes__label" for="upper-tribunal">
                  Upper Tribunal
                </label>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <p></p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <p></p>
          </div>
        </div>
        {% endif %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {{ govukButton({
          text: "Apply",
          href: "",
          classes: "govuk-!-margin-right-3"
        }) }}
      </div>
    </div>

    <div class="hmcts-scrollable-pane">
      <div class="hmcts-scrollable-pane__wrapper">
        <nav class="hmcts-sub-navigation">
          <ul class="hmcts-sub-navigation__list">
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" aria-current="page" href="wa-mytasks">
                My tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="wa-available-tasks">
                Available tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="wa-mycases">
                My cases
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="wa-myaccess">
                My access
              </a>
            </li>
          </ul>
        </nav>
        <p class="govuk-body">Displaying <strong>5</strong> of <strong>5</strong> tasks</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="ascending"><button type="button" data-index="0">Case name</button></th>
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Case category</button></th>
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Location</button></th>
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: 25px;" aria-sort="none"></th>
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Task</button></th>
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" style="width: auto;" aria-sort="none"><button type="button" data-index="1">Task created</button></th>
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-14" style="width: 100px;" aria-sort="none"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Lacey-May Sanders</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Protection</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House Tribunal Hearing Centre</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Allocate a hearing judge</td>
              <td class="govuk-table__cell"> <!--{{govukTag({
              text: now | date( 'subtract', 2, 'days' ) | date,
              classes: "govuk-tag--red"
            })}} --> {{ now |  date("subtract", 0, "day") | date( "D MMMM YYYY" ) }}</td>
              <!--  <td class="govuk-table__cell">14 Mar 2021</td> -->
              <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a href="/workallocation/pages/wa-available-tasks-o" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Olivia-Rose Olsen</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Protection</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House Tribunal Hearing Centre</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Review respondent evidence</td>
              <td class="govuk-table__cell"><!--{{govukTag({
              text: now | date( 'add', 0, 'days' ) | date,
              classes: "govuk-tag--yellow"
            })}} --> {{ now |  date("add", 0, "day") | date( "D MMMM YYYY" ) }}</td>
              <!--  <td class="govuk-table__cell">14 Mar 2021</td> -->
              <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">John Pickering</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">EEA</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House Tribunal Hearing Centre</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25" path
                  style="fill: black">
                  <title>This case has more than one task. Review needed.</title>
                  <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                        C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg></td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Create case summary</td>
              <td class="govuk-table__cell"><!--{{govukTag({
              text: now | date( 'add', 0, 'days' ) | date,
              classes: "govuk-tag--yellow"
            })}} --> {{ now |  date("add", 0, "day") | date( "D MMMM YYYY" ) }}</td>
              <!--  <td class="govuk-table__cell">N/A</td> -->
              <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Neha Venkatanarasimharaj</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">HR</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House Tribunal Hearing Centre</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19"></td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Review appellant case</td>
              <td class="govuk-table__cell"><!--{{govukTag({
              text: now | date( 'add', 6, 'days' ) | date,
              classes: "govuk-tag--grey"
            })}} -->{{ now |  date("subtract", 6, "day") | date( "D MMMM YYYY" ) }}</td>
              <!--  <td class="govuk-table__cell">N/A</td> -->
              <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
            </tr>
            <tr class="govuk-table__row">

              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Hudson Remi</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">HR</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Taylor House Tribunal Hearing Centre</td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19"><svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25" path
                  style="fill: black">
                  <title>This case has more than one task. Review needed.</title>
                  <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                        C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg></td>
              <td class="govuk-table__cell govuk-body govuk-!-font-size-19">Review application decision</td>
              <td class="govuk-table__cell"><!--{{govukTag({
              text: now | date( 'add', 8, 'days' ) | date,
              classes: "govuk-tag--grey"
            })}} -->{{ now |  date("subtract", 8, "day") | date( "D MMMM YYYY" ) }} </td>
              <!--  <td class="govuk-table__cell">N/A</td> -->
              <td class="govuk-table__cell">&nbsp;&nbsp;&nbsp;<a href="#" class="right_m">Manage</a><span class="govuk-accordion-wa__icon"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript">
      window.onload = (event) => {
        accessibleAutocomplete.enhanceSelectElement({
          selectElement: document.querySelector('#location-picker')
        })
      }
    </script>

    <script type="text/javascript">
      function usePage(frm,nm){
        for (var i_tem = 0, bobs=frm.elements; i_tem < bobs.length; i_tem++)
        if(bobs[i_tem].name==nm&&bobs[i_tem].checked)
        frm.action=bobs[i_tem].value;
      }
    </script>

    {% endblock %}
