{% extends "../layoutmanageorg.html" %}

{% block pageTitle %}
Divorce
{% endblock %}


{% block content %}

<div style="width:740px; display: flex; margin: 0 auto; margin-right: 480px;">
    <div class="">

        <div class="govuk-form-group">


            <h1 class="govuk-fieldset__legend--l  govuk-!-margin-bottom-7">
                Organisation
            </h1>


            <table class="govuk-table">
                <thead class="govuk-table__head">
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width:300px;">Name</th>
                        <td class="govuk-table__cell" style="width:500px;">Bond & Shaw Solicitors</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Address</th>
                        <td class="govuk-table__cell">24 Appleby Cross<br>South Kensington<br>London<br>S01 AKJ</td>
                    </tr>
                </tbody>
            </table>



    </div>

</div>






</script>

{% endblock %}