{% extends "../layoutmanageorgusersonly.html" %}

{% block pageTitle %}
Divorce
{% endblock %}


{% block content %}

<div style="width:1220px; display: flex; margin: 0 auto; margin-right: 480px;">
    <div class="">

        <div class="govuk-form-group">


            <h1 class="govuk-fieldset__legend--l  govuk-!-margin-bottom-7">
                Users
            </h1>


            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Email</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Vanetta Medley&emailaddress=Vanetta.Medley@bondshawsolictors.uk&showcaapermish=false&">Vanetta Medley</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Vanetta.Medley@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Loan Bourland&emailaddress=Loan.Bourland@bondshawsolictors.uk&showcaapermish=false&">Loan Bourland</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Loan.Bourland@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Basilia Bourdeau&emailaddress=Basilia.Bourdeau@bondshawsolictors.uk&showcaapermish=false&">Basilia Bourdeau</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Basilia.Bourdeau@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Letha Schwebach&emailaddress=Letha.Schwebach@bondshawsolictors.uk&showcaapermish=false&">Letha Schwebach</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Letha.Schwebach@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Derrick Rega&emailaddress=Derrick.Rega@bondshawsolictors.uk&showcaapermish=false&">Derrick Rega</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Derrick.Rega@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;">Lea Mangan</td>
                        <td class="govuk-table__cell" style="width:580px;">Lea.Mangan@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Pending</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Sergio Collyer&emailaddress=Sergio.Collyer@bondshawsolictors.uk&showcaapermish=false&">Sergio Collyer</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Sergio.Collyer@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Tawanna Kilbourne&emailaddress=Tawanna.Kilbourne@bondshawsolictors.uk&showcaapermish=false&">Tawanna Kilbourne</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Tawanna.Kilbourne@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>


                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell" style="width:320px;"><a href="/manageorg/solicitor/userdetails?name=Elin Muth&emailaddress=Elin.Muth@bondshawsolictors.uk&showcaapermish=false&">Elin Muth</a></td>
                        <td class="govuk-table__cell" style="width:580px;">Elin.Muth@bondshawsolictors.uk</td>
                        <td class="govuk-table__cell" style="width:120px;">Active</td>
                    </tr>

                </tbody>
            </table>


    </div>

</div>






</script>

{% endblock %}