{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
My work
{% endblock %}
{% block content %}
    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-xl">My work</h1>
          </div>
    </div>
    <p>Access tasks and cases.</p>
    <div class="hmcts-scrollable-pane">
      <div class="hmcts-scrollable-pane__wrapper">
        <nav class="hmcts-sub-navigation">
          <ul class="hmcts-sub-navigation__list">
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="mywork">
                My tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="available-tasks">
                Available tasks
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" href="mycases">
                My cases
              </a>
            </li>
            <li class="hmcts-sub-navigation__item">
              <a class="hmcts-sub-navigation__link" aria-current="page"  href="change">
                Change work view
              </a>
            </li>
          </ul>
        </nav>
{% endblock %}
{% block scripts %}
{% endblock %}
