
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Notice of change
      </h1>

      <p>Solicitor<br>
          <a href="noticeofchange/solicitor/caselist">Take over case</a><br>
          <a href="">Stop representing case</a>
      </p>

      <br>

      <p>Citizen<br>
         <a href="">Remove solicitor and self represent</a>
      </p>

      <p>Citizen - Email after solicitor stop representing<br>
         <a href="">Already registered with IDAM</a><br>
         <a href="">Not registered with IDAM</a>
      </p>

    </div>
</div>



{% endblock %}
