{% extends "template.njk" %}

{% from "accordion/macro.njk"        import govukAccordion %}
{% from "back-link/macro.njk"        import govukBackLink %}
{% from "breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "button/macro.njk"           import govukButton %}
{% from "character-count/macro.njk"  import govukCharacterCount %}
{% from "checkboxes/macro.njk"       import govukCheckboxes %}
{% from "date-input/macro.njk"       import govukDateInput %}
{% from "details/macro.njk"          import govukDetails %}
{% from "error-message/macro.njk"    import govukErrorMessage %}
{% from "error-summary/macro.njk"    import govukErrorSummary %}
{% from "fieldset/macro.njk"         import govukFieldset %}
{% from "file-upload/macro.njk"      import govukFileUpload %}
{% from "input/macro.njk"            import govukInput %}
{% from "inset-text/macro.njk"       import govukInsetText %}
{% from "panel/macro.njk"            import govukPanel %}
{% from "phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "radios/macro.njk"           import govukRadios %}
{% from "select/macro.njk"           import govukSelect %}
{% from "skip-link/macro.njk"        import govukSkipLink %}
{% from "summary-list/macro.njk"     import govukSummaryList %}
{% from "table/macro.njk"            import govukTable %}
{% from "tabs/macro.njk"             import govukTabs %}
{% from "tag/macro.njk"              import govukTag %}
{% from "textarea/macro.njk"         import govukTextarea %}
{% from "warning-text/macro.njk"     import govukWarningText %}

{% from "hmcts-badge/macro.njk"     import hmctsBadge %}
{% from "hmcts-page-header-with-actions/macro.njk" import hmctsPageHeaderWithActions %}
{% from "hmcts-header/macro.njk" import hmctsHeader %}
{% from "hmcts-footer/macro.njk" import hmctsFooter %}
{% from "hmcts-primary-navigation/macro.njk" import hmctsPrimaryNavigation %}



{% block head %}
  {% include "includes/head.html" %}
{% endblock %}



{% block header %}
  {% include "includes/cookie-banner.html" %}




    <header class="hmcts-header" role="banner">

        <div style="width:1220px; display: flex; margin: 0 auto;">

            <div style="width: 406px; ">
                <a style="color: white; font-size: 30px; font-weight: bold; text-decoration: none;" href="#">MyHMCTS</a>
            </div>

            <div class="hmcts-header__container" style="width: 814px;">


                <div class="hmcts-header__logo">
                    <a class="hmcts-header__link" href="/noticeofchange/v1/solicitor/caselist">Manage Cases</a>
                </div>


                <div class="hmcts-header__content">
                    <nav class="hmcts-header__navigation" aria-label="Account navigation">
                        <ul class="hmcts-header__navigation-list">
                            <li class="hmcts-header__navigation-item">
                                <a class="hmcts-header__navigation-link" href="#">
                                    Sign out
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>


    </header>

  {% set searchHtml %}
    <a class="hmcts-search-toggle__button" href="#">Find case</a>
  {% endset %}


    <div  style="background-color: black;">
        <div style="width:1220px; display: flex; margin: 0 auto; background-color: black;">

            <div style="width: 406px; ">

            </div>

            <div class="hmcts-header__container" style="width: 814px;">
                {{ hmctsPrimaryNavigation({
                label: 'Primary navigation',
                items: [{
                text: 'Case list',
                href: getUrl('/v1/solicitor/caselist'),
                active: pageId == '#'
                },
                {
                text: 'Create case',
                href: getUrl('/v1/solicitor/caselist'),
                active: pageId == '#'
                },
                {
                text: 'Represent a case',
                href: getUrl('/v1/startnoc'),
                active: pageId == '#'
                }
                ],
                searchHtml: searchHtml
                }) }}
            </div>
        </div>


    </div>



  <div class="govuk-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}



  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}


  {% block bodyEnd %}
    {% block scripts %}
      {% include "./scripts.html" %}
      {% block pageScripts %}{% endblock %}
    {% endblock %}
  {% endblock %}
