
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl">Hearings management</h1>

        <h3 class="govuk-heading-m">Iteration 3 testing</h3>
        <p class="govuk-body">14 October 2021</p><br />

        <p class="govuk-body">
            <a class="govuk-link" href="pages/iteration3/hearings-tab-no-hearings">Task 1</a><br /><br />
            <a class="govuk-link" href="pages/iteration3/hearings-tab-first-request-listed">Task 2</a><br /><br />
            <a class="govuk-link" href="pages/iteration3/hearings-tab-first-request-listed">Task 3</a><br /><br />
            <a class="govuk-link" href="pages/iteration3/">Task 4</a><br /><br />
        </p>

    </div>
</div>







{% endblock %}
