{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}
{% block pageTitle %}
Case details
{% endblock %}
{% block content %}
<div class="govuk-grid-row" style="width:1220px; margin-left: 0px;">
  <div class="" style="display: flex; justify-content: space-between; ">
    <div>
      <h1 class="govuk-heading-xl">PA/00467/2017</h1>
    </div>
    <div style="display: flex; align-items:right">
      <p class="govuk-!-margin-top-2">Next step &nbsp;</p>
      <select class="govuk-select" id="sort" name="sort" onchange="document.location.href=this.value">
        <option value="#" selected="">Select action</option>
        <option value="#">Submit amended application</option>
        <option value="#">Link respondent</option>
        <option value="#">Add Note</option>
        <option value="#">Upload document</option>
        <option value="/complexcase/pages/PA-00467-2017-create"">Create complex case</option>
        <option value="#">Stop representing a client</option>
      </select>
      <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
        <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
          Go
        </button>
      </form>
    </div>
  </div>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="PA-00467-2017-t">
          Tasks
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="PA-00467-2017-ar">
          Roles / access
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="PA-00467-2017-a">
          Overview
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Appeal
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Appellant
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Documents
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Directions
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week" >
          Applications
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Case notes
        </a>
      </li>
  <!--    <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Hearing
        </a>
      </li> -->
    </ul>
    <div class="govuk-tabs__panel" id="event" style="display: padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px;">
      <div >
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukInput({
            label: {
              text: "Name of complex case",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "Hint text here"
            },
          id: "case-name",
          name: "case-name"
          }) }}
        </div>
      </div>
</div>
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "/complexcase/pages/PA-00467-2017-add"
  }) }}
  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary",
    href: "/complexcase/pages/PA-00467-2017"
  }) }}
</div>
{% endblock %}
