
{% extends "../layout.html" %}

{% set pageId = 'case-access' %}

{% block pageTitle %}
  Case access
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}


{% block content %}



 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
 <form action="/v3/cases/notice">
   {{ govukRadios({
  idPrefix: "sign-in",
  name: "sign-in",
  fieldset: {
    legend: {
      text: "Case access",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Some helpful text can be placed here"
  },
  items: [
    {
      value: "notice-of-acting",
      text: "Notice of acting",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "This is sometimes known as ‘notice of change’. 
        You can only do this if; a case exists online and you have the email address of the individual you are representing"
      }
    },
    {
      value: "inbound-coms",
      text: "Another action",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "Text to go here."
      }
    }
  ]
}) }}
        


            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

{% endblock %}