
{% extends "layout.html" %}

{% set serviceName %}
  Confirm details of your legal representative
{% endset%}

{% block pageTitle %}
  Confirm details of your legal representative
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Confirm details of your legal representative</h1>
          <p>You’ve asked for this organisation to act on your behalf.</p>

    <h2 class="govuk-heading-m">Organisation details</h2>
      <form action="/v3/cases/notice-confirmation">
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Hamlin and Tinklin Solicitors
            </dd>
         
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case reference
            </dt>
            <dd class="govuk-summary-list__value">
              1197-2489-3471-2344
            </dd>
          </div>
        </dl> 

       
         {{ govukButton({
          "text": "Confirm",
          href: 'confirmation-portal-success'
        }) }}
      </form>
    </div>
  </div>



{% endblock %}










