
{% extends "layout.html" %}

{% set pageId = 'your-cases' %}

{% block content %}
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Confirm request to act on your behalf</h1>

          <p>Please check all details.</p>

          <p>Some text here about passing control of a case ... what you need to do and what happens... next</p>

 <h2 class="govuk-heading-l">Solicitor details</h2>


           <h3 class="govuk-heading-m">Hamlin and Tinklin Solicitors</h3>
  <h3 class="govuk-heading-m">Case reference:
BV18D00150</h3>







          <form action="/v3/cases/notice-confirmation">
  {{ govukButton({
          "text": "Confirm",
          href: 'confirmation-portal-success'
        }) }}

          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}










