
{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            All done
          </h1>
        <!--  <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div> -->
        </div>
     
       <p class="govuk-body"> 

       <p class="govuk-body">We have sent a confirmation email to Hamlin and Tinklin Solicitors, notifying them of the change.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          New text here for anything the user needs to do.
        </p>

        <P>You can now close this window</P>
 
    </div>
  </div>
<p><a style="color:red" href="confirmation-email-portal">[Click here to continue journey from solicitors point of view (Email - they will see)]</a></p>

{% endblock %}

