
{% extends "layout.html" %}

{% set pageId = 'your-cases' %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Confirm notice to act</h1>
          <p>Supporting text to be added.</p>

    <h2 class="govuk-heading-m">Details</h2>
      <form action="/v3/cases/notice-confirmation">
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Hamlin and Tinklin Solicitors
            </dd>
         
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case reference
            </dt>
            <dd class="govuk-summary-list__value">
              1197-2489-3471-2344
            </dd>
           
          </div>
        </dl> 

       <h2 class="govuk-heading-m">Legal bit</h2>

        <p class="govuk-body">By submitting this request you are confirming that you are instructing the solicitor to act on your behalf.</p>
         {{ govukButton({
          "text": "Confirm and send",
          href: 'confirmation-portal-success'
        }) }}
      </form>
    </div>
  </div>



{% endblock %}










