
{% extends "../layout.html" %}

{% set pageId = 'notice-of-acting' %}

{% block pageTitle %}
  Notice of acting confirmation
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         {{ govukPanel({
              titleText: "Confirmation sent to",
              html: data['emailaddress']
            }) }}
      <h2 class="govuk-heading-m">What happens next</h2>

     
       <p class="govuk-body"> 
       The recepient will get an email from HM Courts and Tribunals asking them to confirm the notice of acting request to act ... some more text in here... 
      </p>
    <p><a href="index.html">Back to your cases</a></p>
    </div>
  </div>

<p><a href="confirmation-email">Continue journey - Link to email - they will see</a></p>

{% endblock %}

