
{% extends "../layout.html" %}

{% set pageId = 'notice-of-acting' %}

{% block pageTitle %}
  Confirmation email sent
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         {{ govukPanel({
              titleText: "Confirmation email sent",
              html: data['emailaddress']
            }) }}
      <h2 class="govuk-heading-m">What happens next</h2>

     
       <p class="govuk-body"> 
       Your client will receive an email from HM Courts & Tribunals Service asking them to confirm they’re happy for you to act on their behalf. 
      </p>
    <p><a href="index.html">Back to your cases</a></p>
    </div>
  </div>

<p><a style="color:green" href="confirmation-email">[Click here to continue journey from recepient point of view (Email - they will see)]</a></p>

{% endblock %}

