
{% extends "../layout.html" %}

{% set pageId = 'notice-of-acting' %}

{% block pageTitle %}
  Confirmation email sent
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         {{ govukPanel({
              titleText: "Message sent"
            }) }}
      <h2 class="govuk-heading-m">What happens next</h2>

     
       <p class="govuk-body"> 
       Your client will receive an [email] [letter] from HM Courts & Tribunals service to confirm they want you to act on their behalf.
      </p>

      <p>The link will expire 14 days.
    <p><a href="index.html">Back to your cases</a></p>
    <h3 class="govuk-heading-m"><a style="color:blue" href="confirmation-email">Email - continue journey from recepient point of view</a></h3>
  
     <h3 class="govuk-heading-m"><a style="color:blue" href="#">Post - continue journey from recepient point of view</a></h3>
     <p></p>
    </div>

  </div>



{% endblock %}

