
{% extends "../layout.html" %}

{% set pageId = 'notice-of-acting' %}

{% block pageTitle %}
  Notice of acting
{% endblock %}


{% block beforeContent %}

  {{ super() }}

{% endblock %}


{% block content %}
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Notice of acting</h1>

          <p>If your client has asked you to act on their behalf, you’ll need their:</p>

                           <ul class="govuk-list govuk-list--bullet">
                   
<li>case reference</li>
<li>email address</li></ul>

          

          <form action="/v3/cases/notice-confirmation">

           {{ govukInput({
              label: {
                text: "Case reference",
                classes: 'govuk-label--m'
                },
                hint: {
                text: "This is a 16-digit number. For example: 1111-2222-3333-4444"
              },
              id: "firstname",
              name: "firstname"
            }) }}
         
            {{ govukInput({
              label: {
                text: "Email address",
                classes: 'govuk-label--m'
              },
                hint: {
                text: ""
              },
              id: "emailaddress",
              name: "emailaddress"
            }) }}
         

            {{govukButton({
              text: 'Submit'
            })}}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}