
{% extends "../layout.html" %}

{% set pageId = 'notice-of-acting' %}

{% block pageTitle %}
  Notice of acting
{% endblock %}


{% block beforeContent %}

  {{ super() }}

{% endblock %}


{% block content %}



 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Notice of acting</h1>

          <p></p>

          <p>If your client has asked you to act on their behalf, you’ll need their:</p>

                           <ul class="govuk-list govuk-list--bullet">
                   
<li>case reference</li>
<li>email address</li>
<li>designation whether they are the claimant or respondent</li>
<li>method of confirmation</li>
</ul>

<p>You'll also need to confirm your corrispondant details</p>
          <form action="/v3/cases/designation">

           {{ govukInput({
              label: {
                text: "Case reference",
                classes: 'govuk-label--m'
                },
                hint: {
                text: "This is a 16-digit number. For example: 1111-2222-3333-4444"
              },
              id: "reference",
              name: "reference"
            }) }}
         
            {{ govukInput({
              label: {
                text: "Email address",
                classes: 'govuk-label--m'
              },
                hint: {
                text: "This is the email address they used when creating their case"
              },
              id: "emailaddress",
              name: "emailaddress"
            }) }}



            {{govukButton({
              text: 'Continue'
            })}}
          </form>
        </div>
      </div>

{% endblock %}