{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicialtransition.html" %}
{% else %}
    {% extends "../layoutstafftransition_error_scenario_1.html" %}
{% endif %}



{% block pageTitle %}
Case details
{% endblock %}


{% block content %}



<div class="hmcts-page-heading" style="margin-bottom: 20px;">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-xl">No results found</h1>
          </div>
    </div>

    <p>This 16-digit case reference could not be found.</p>

    <p>Try searching again or go back.</p>

    <br><br><br>






<form method="post"  action="#" class="for4" style=" float: left; margin-top: 50px;">
    <select style="height:25px;" onchange="window.location.href='?'+this.value">

        <option value="caselist=divorce&caseadded=false&hideone=false&hidetwo=false&hidethree=false&"
                {% if data.caselist == 'divorce' %}selected{% endif %}
        >Divorce</option>

        <option value="caselist=financialremedy&caseadded=false&hideone=false&hidetwo=false&hidethree=false&"
                {% if data.caselist == 'financialremedy' %}selected{% endif %}
        >Financial remedy</option>

        <option value="caselist=probate&caseadded=false&hideone=false&hidetwo=false&hidethree=false&"
                {% if data.caselist == 'probate' %}selected{% endif %}
        >Probate</option>

        <option value="caselist=publiclaw&caseadded=false&hideone=false&hidetwo=false&hidethree=false&"
                {% if data.caselist == 'publiclaw' %}selected{% endif %}
        >Family public Law</option>

        <option value="caselist=immigration&caseadded=false&hideone=false&hidetwo=false&hidethree=false&"
                {% if data.caselist == 'immigration' %}selected{% endif %}
        >Immigration and asylum</option>


    </select>
</form>



{% endblock %}