{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}



{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-xl">No results found</h1>
          </div>
    </div>

    <!--<p><a href="search.html">Change search</a></p>-->


<form
    action="/searchcases/pages/search"
    name="aspnetForm"
    method="get"
    id="aspnetForm"
    autocomplete="off"
    >

        <div class="govuk-form-group  govuk-!-margin-top-7" >
            <button class="govuk-button" data-module="govuk-button">
                Search again
            </button>
        </div>

</form>



{% endblock %}