{% if  data.usertype == 'judiciary'   %}
    {% extends "../layoutjudicial.html" %}
{% else %}
    {% extends "../layoutstaff.html" %}
{% endif %}



{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-xl">Search cases</h1>
          </div>
    </div>

    <div style="display: flex; ">


        <div style="width: 350px;">
            <!-- <h2 class="govuk-heading-m">Case information</h2>  -->

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Case reference
                </label>
                <div id="email-hint" class="govuk-hint">
                    This must be 16 digits
                </div>
                <input class="govuk-input govuk-input--width-10" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" >
            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Jurisdiction and service
                </label>
                <select class="govuk-select govuk-input--width-10" id="sort" name="sort">
                    <option>All</option>
                    <option>Family</option>
                    <option>Immigration and Asylum</option>
                    <option>Money claims</option>
                    <option>Probate</option>
                    <option>Public law</option>
                </select>
            </div>


            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        More search options
                    </span>
                </summary>
                <div class="govuk-details__text">

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email">
                            Court name/ hearing venue
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint">
                    </div>



                    <!--   HEARING DATE   -->
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <label class="govuk-label" for="account-number">
                            Hearing date
                        </label>
                        <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                        </div>
                    </fieldset>


                    <!--   DECISION DATE   -->
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                        <label class="govuk-label" for="account-number">
                            Date of decision
                        </label>
                        <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                            </div>
                        </div>
                    </fieldset>


                </div>
            </details>


            <button class="govuk-button" data-module="govuk-button">
                Search
            </button>

        </div>

        <div style="width: 350px;">
            <!-- <h2 class="govuk-heading-m">Parties</h2> -->

            <div class="govuk-form-group">
                <label class="govuk-label" for="account-number">
                    Party name
                </label>
                <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="account-number">
                    Party  National Insurance number
                </label>
                <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>

            <!--   DOB  -->
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <label class="govuk-label" for="account-number">
                    Party date of birth
                </label>
                <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                </div>

            </fieldset>

        </div>



        <div style="width: 350px;">
            <!-- <h2 class="govuk-heading-m">Representative</h2> -->

            <div class="govuk-form-group">
                <label class="govuk-label" for="account-number">
                    Representative person
                </label>
                <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="account-number">
                    Representative firm
                </label>
                <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>
        </div>




    </div>



<!--
<div class="govuk-form-group">
    <label class="govuk-label" for="email">
        Case state
    </label>
    <select _ngcontent-rpu-c8="" aria-controls="search-result" class="form-control form-control-3-4 ccd-dropdown ng-pristine ng-valid ng-touched" id="wb-case-state" name="state">
        <option>Any</option>
        <option>Application Drafted</option>
        <option>Awaiting HWF Decision</option>
        <option>Awaiting Payment Response</option>
        <option>Application Submitted</option>
        <option>Application Issued</option>
        <option>Gate Keeping And Allocation</option>
        <option>Scheduling And Hearing</option>
        <option>Prepare For Hearing</option>
        <option>Ready for Hearing</option>
        <option>Close</option>
        <option>Consent Process</option>
        <option>Awaiting Judiciary Response</option>
        <option>Consent Order Approved</option>
        <option>Consent Order Not Approved</option>
        <option>Consent Order Made</option>
        <option>Case Worker Review</option>
        <option>Judge Draft Order</option>
        <option>Solicitor Draft Order</option>
        <option>Review Order</option>
        <option>Draft Order Not Approved</option>
        <option>Schedule &amp; Raise Directions Order</option>
        <option>Order Drawn</option>
        <option>Order Sent</option>
        <option>Consented Order Submitted</option>
        <option>Awaiting Judiciary Response (Consent)</option>
        <option>Consent Assigned to Judge</option>
        <option>Consented Order Approved</option>
        <option>Response Received</option>
        <option>Consented Order Not Approved</option>
        <option>General Application</option>
        <option>Awaiting Judiciary Response (Application)</option>
        <option>General Application Outcome</option>
    </select>
</div>
-->










{% endblock %}