{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Divorce
{% endblock %}


{% block content %}

<div style="width:1220px; display: flex; margin: 0 auto;">
    <div class="govuk-grid-row govuk-grid-column-full">

        <form
                name="aspnetForm"
                method="post"
                id="aspnetForm"
                autocomplete="off">

                <div class="govuk-form-group">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                            <h1 class="govuk-fieldset__heading">
                                Share unassigned cases
                            </h1>
                        </legend>

                        <div  class=" govuk-!-margin-bottom-6">
                            <p><span style="font-weight: 700">Showing</span>
                                <br>Divorce, Contested Financial Remedy, Consented Financial Remedy<br>
                                <a href="showhideunassignedcases">Change</a></p>
                        </div>


                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" style="font-weight: 400; width: 80px; ">
                                        <a href="#">Select all</a>
                                        <!--<div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="selectall-1" name="selectall" type="checkbox" value="selectall">
                                            <label class="govuk-label govuk-checkboxes__label" for="selectall-1">
                                            </label>
                                        </div>-->
                                    </th>
                                    <th class="govuk-table__header" scope="col" style="width:200px;">Solicitor's notes<br></th>
                                    <th class="govuk-table__header" scope="col" style="width:200px;">Case type<br></th>
                                    <th class="govuk-table__header" scope="col" style="width:200px;">Solicitor's firm<br></th>
                                    <th class="govuk-table__header" scope="col">Case name<br></th>
                                    <th class="govuk-table__header" scope="col" style="width:110px;">Date sent</th>
                                    <th class="govuk-table__header" scope="col" style="width:110px;">Deadline</th>
                                </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="selectall-1" name="selectall" type="checkbox" value="selectall">
                                            <label class="govuk-label govuk-checkboxes__label" for="selectall-1">
                                            </label>
                                        </div>
                                    </th>
                                    <td class="govuk-table__cell ">Michele Serrano EB-345-2020</td>
                                    <td class="govuk-table__cell ">Divorce</td>
                                    <td class="govuk-table__cell ">Clarke Willmott</td>
                                    <td class="govuk-table__cell ">Anne Smith vs Hugh fearnley Smith</td>
                                    <td class="govuk-table__cell ">27 Oct 20<br>(3 days ago)</td>
                                    <td class="govuk-table__cell ">3 Nov 20<br>(4 days left)</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="selectall-1" name="selectall" type="checkbox" value="selectall">
                                            <label class="govuk-label govuk-checkboxes__label" for="selectall-1">
                                            </label>
                                        </div>
                                    </th>
                                    <td class="govuk-table__cell ">Michele Serrano<br>FR-347-2020</td>
                                    <td class="govuk-table__cell ">Contested Financial Remedy</td>
                                    <td class="govuk-table__cell ">Clarke Willmott</td>
                                    <td class="govuk-table__cell ">Anne Smith vs Hugh fearnley Smith</td>
                                    <td class="govuk-table__cell ">27 Oct 20<br>(3 days ago)</td>
                                    <td class="govuk-table__cell "></td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="selectall-1" name="selectall" type="checkbox" value="selectall">
                                            <label class="govuk-label govuk-checkboxes__label" for="selectall-1">
                                            </label>
                                        </div>
                                    </th>
                                    <td class="govuk-table__cell ">Pietro Jones</td>
                                    <td class="govuk-table__cell ">Contested Financial Remedy</td>
                                    <td class="govuk-table__cell ">Michelmores</td>
                                    <td class="govuk-table__cell ">Hemesh Patel vs Laura Patel</td>
                                    <td class="govuk-table__cell ">29 Oct 20<br>(1 day ago)</td>
                                    <td class="govuk-table__cell "></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                </div>



            <button class="govuk-button" data-module="govuk-button">
                Share
            </button>
        </form>

    </div>

</div>





<script>

    var inputbox = document.getElementById("searchinput");


    function debounce(func, wait, immediate) {
        var timeout;

        return function executedFunction() {
            var context = this;
            var args = arguments;

            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };

            var callNow = immediate && !timeout;

            clearTimeout(timeout);

            timeout = setTimeout(later, wait);

            if (callNow) func.apply(context, args);
        };
    };



    function updateresults()
    {
        //alert("running");
        // Make lower case string out of inputted value
        var entertedtext = document.getElementById("searchinput").value;


        // Check which results match inputted text
        var buttonname = 'selectbutton';
        var matchcount = 0;
        var str = "";
        var prefixaddresswords = 'results';
        var prefixaddresscontainer = 'testesult';
        // check input has at least 2 character
        var datacountplusone = 18;
        if (0 == entertedtext.length)
        {
            document.getElementById("noresults").style.display = "none";
            // Hide all results
            for (i = 1; i < datacountplusone; i++)
            {
                document.getElementById(prefixaddresscontainer + i).style.display = "none";
                document.getElementById(buttonname + i).innerHTML = 'Select';
            }
        }
        else if (1 < entertedtext.length)
        {
            // search through companies
            for (i = 1; i < datacountplusone; i++)
            {
                //alert(" loop " + i + "  "  + str );
                //make a lower case string out of each possible result
                str = document.getElementById(prefixaddresswords + i).innerHTML.toLowerCase();
                //alert(" loop " + i + "  "  + str );
                document.getElementById(buttonname + i).innerHTML = 'Select';

                // check if input string is contained each result
                if ( str.includes(entertedtext.toString().toLowerCase()) )
                {
                    //alert("match");
                    document.getElementById("noresults").style.display = "none";
                    document.getElementById(prefixaddresscontainer + i).style.display = "flex";
                    matchcount = matchcount + 1;
                }
            }
        }

        if (0 == matchcount  &&  1 < entertedtext.length)
        {
            //alert("NO match");
            // Hide all results
            for (i = 1; i < datacountplusone; i++)
            {
                document.getElementById(prefixaddresscontainer + i).style.display = "none";
            }

            document.getElementById("noresults").style.display = "block";
        }

    }



    inputbox.addEventListener('keydown', debounce(function()
    {
        updateresults();
    }, 500));



    function showselectedresult(itemnumber)
    {
        var prefixaddresscontainer = 'testesult';
        var buttonname = 'selectbutton';
        var datacountplusone = 18;

        if (document.getElementById(buttonname + itemnumber).innerHTML != 'Deselect')
        {
            for (i = 1; i < datacountplusone; i++) {
                document.getElementById(prefixaddresscontainer + i).style.display = "none";
            }
            document.getElementById("noresults").style.display = "none";

            //alert("selection");
            document.getElementById(prefixaddresscontainer + itemnumber).style.display = "flex";

            // Change button to deselect
            document.getElementById(buttonname + itemnumber).innerHTML = 'Deselect';
        }
        else
        {
            document.getElementById(buttonname + itemnumber).innerHTML = 'Select';
            updateresults();
        }
    }


</script>

{% endblock %}