
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Hearings prototype
        </h1>


        <p><span class="govuk-!-font-weight-bold"> Starting states </span>
        <br>Links open in a new tab.</p>

        <p><a target="_blank" href="/hearings/first">No hearings / Request first hearing</a></p>

        <p><a target="_blank" href="/hearings/firstalt">No hearings / Request first hearing - Starting from check answers</a></p>

        <p><a target="_blank" href="/hearings/third">2 hearings / Request a 3rd hearing</a></p>

        <p><a target="_blank" href="/hearings/after10mins">10 mins after submission</a></p>

        <p><a target="_blank" href="/hearings/aftermonth">After a month after submission</a></p>

        <p><a target="_blank" href="/hearings/aftersubmission">After submission</a></p>

        <p><a target="_blank" href="/hearings/all">Show all states</a></p>

        <p><a target="_blank" href="/hearings/pages/confirmation?confimationerror=true&">Error on submission</a></p>

        <br>
        <br>
        <br>
        <br>


        <p><span class="govuk-!-font-weight-bold"> Links to each page  </span>
            <br>Some pages have a dropdown in the footer to toggle states</p>

        <p><a target="_blank" href="/hearings/pages/casedetailsdivorce">Hearings tab</a></p>

        <p><a target="_blank" href="/hearings/pages/startrequest">General case and hearing details</a></p>

        <p><a target="_blank" href="/hearings/pages/partiyrequirements">Party requirements</a></p>

        <p><a target="_blank" href="/hearings/pages/channel">Hearing channel</a></p>

        <p><a target="_blank" href="/hearings/pages/venuedefault">Venue</a></p>

        <p><a target="_blank" href="/hearings/pages/region">Change venue - region</a>&nbsp;&nbsp; (optional path)</p>

        <p><a target="_blank" href="/hearings/pages/venue?regionselection=Wales&">Change venue - Venues</a>&nbsp;&nbsp; (optional path)</p>

        <p><a target="_blank" href="/hearings/pages/panel">New or exisiting panel</a>&nbsp;&nbsp;  (Conditional on this not being a first hearing)</p>

        <p><a target="_blank" href="/hearings/pages/paneldifferent">New panel</a></p>

        <p><a target="_blank" href="/hearings/pages/timing">Length and dates</a></p>

        <p><a target="_blank" href="hearings/pages/language">Welsh</a>&nbsp;&nbsp; (Probably should be conditional on Welsh region)</p>

        <p><a target="_blank" href="/hearings/pages/checkyouranswers">Check your answers</a>&nbsp;&nbsp; (Probably should be conditional on Welsh region)</p>

        <p><a target="_blank" href="/hearings/pages/confirmchangesubmission">Confirm resubmission</a>&nbsp;&nbsp; (Conditional on editing a submitted request)</p>

        <p><a target="_blank" href="/hearings/pages/confirmation">Confirmation</a>&nbsp;&nbsp; </p>

        <p><a target="_blank" href="/hearings/pages/confirmcancel">Confirm 'Cancel' of a requested hearing</a>&nbsp;&nbsp; </p>


        <br>
        <br>
        <br>
        <br>


        <p><span class="govuk-!-font-weight-bold">Judges view</span>
            <br>Links open in a new tab.</p>

        <p><a target="_blank" href="/hearings/judgesview">Hearings tab</a></p>

        <!--

        <p>Solicitor<br>
            <a href="solicitor/caselist">Case list</a><br>
        </p>

        <br>

        <p>Email - To solicitor who is being replaced<br>
            <a href="">They are now off record</a><br>
        </p>

        <p>Email - To solicitor who took themselves off record<br>
            <a href="">They are now off record</a><br>
        </p>

        <br>
        <br>

        <p><span class="govuk-!-font-weight-bold">Blocked by details froms services</span><br>
            Email - After caseworker approval<br>
            <a href="">Rejected</a><br>
            <a href="">Approved</a><br>
        </p>

        <p><span class="govuk-!-font-weight-bold">Blocked by business</span><br>
            Email - Citizen - After solicitor stop representing <br>
             <a href="">Already registered with IDAM</a><br>
             <a href="">Not registered with IDAM</a><br>
             <a href="">When case goes to paper</a>
        </p>

        -->

    </div>
</div>







{% endblock %}
