{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

<div style="width:960px; display: flex; margin: 0 auto;">

        <div class="govuk-grid-row govuk-grid-column-two-thirds">
            <div class="">




                <div class="hmcts-page-heading">
                      <div class="hmcts-page-heading__title">
                           <h1 class="govuk-heading-l">Search for the other party's solicitor firm</h1>
                      </div>
                </div>

                <form
                    name="aspnetForm"
                    method="post"
                    id="aspnetForm"
                    autocomplete="off">

                    <div class="govuk-form-group ">
                        <label class="govuk-label" for="searchinput">
                            Name, address or postcode (optional)</span>
                        </label>
                        <input class="govuk-input govuk-input--width-20 "
                               id="searchinput" name="searchinput" type="text" spellcheck="false" value="">
                    </div>

                    <div id="resultstest" style="">

                        <div id="noresults" style="display: none;">
                            <p><span class="govuk-!-font-weight-bold">No results found</span>
                            <br>The solicitor's firm may not be registered with our online.</p>
                        </div>

                        <div id="testesult1" style="display: none;">
                            <p id="results1" ><span class="govuk-!-font-weight-bold">Name of org</span>
                            <br>Line 1
                            <br>Line 2
                            <br>Linee 3
                            <br>Town
                            <br>POSTCODE
                            </p>
                        </div>

                        <div id="testesult2" style="display: none;">
                            <p id="results2" ><span class="govuk-!-font-weight-bold">Admiral</span>
                                <br>David Street
                                <br>Cardiff
                                <br>CF10 2EH
                            </p>
                        </div>
                    </div>


                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </form>

            </div>
        </div>

</div>


<script>

    var inputbox = document.getElementById("searchinput");




    function debounce(func, wait, immediate) {
        var timeout;

        return function executedFunction() {
            var context = this;
            var args = arguments;

            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };

            var callNow = immediate && !timeout;

            clearTimeout(timeout);

            timeout = setTimeout(later, wait);

            if (callNow) func.apply(context, args);
        };
    };

    inputbox.addEventListener('keydown', debounce(function()
    {
        //alert("running");
        // Make lower case string out of inputted value
        var entertedtext = document.getElementById("searchinput").value;


        // Check which results match inputted text
        var matchcount = 0;
        var str = "";
        var prefixaddresswords = 'results';
        var prefixaddresscontainer = 'testesult';
        // check input has at least 2 character
        var datacountplusone = 3;
        if (0 == entertedtext.length)
        {
            document.getElementById("noresults").style.display = "none";
            // Hide all results
            for (i = 1; i < datacountplusone; i++)
            {
                document.getElementById(prefixaddresscontainer + i).style.display = "none";
            }
        }
        else if (1 < entertedtext.length)
        {
            // search through companies
            for (i = 1; i < datacountplusone; i++)
            {
                //alert(" loop " + i + "  "  + str );
                //make a lower case string out of each possible result
                str = document.getElementById(prefixaddresswords + i).innerHTML.toLowerCase();
                //alert(" loop " + i + "  "  + str );

                // check if input string is contained each result
                if ( str.includes(entertedtext.toString().toLowerCase()) )
                {
                    //alert("match");
                    document.getElementById("noresults").style.display = "none";
                    document.getElementById(prefixaddresscontainer + i).style.display = "block";
                    matchcount = matchcount + 1;
                }
            }
        }

        if (0 == matchcount  &&  1 < entertedtext.length)
        {
            //alert("NO match");
            document.getElementById("testesult1").style.display = "none";
            document.getElementById("noresults").style.display = "block";
        }
    }, 500));



</script>


{% endblock %}