{% extends "../layoutdemomyhmcts.html" %}

{% block pageTitle %}
Divorce
{% endblock %}


{% block content %}

<div style="width:640px; display: flex; margin: 0 auto; margin-right: 580px;">
    <div class="">

        <div class="govuk-form-group">


            <h1 class="govuk-fieldset__legend--l  govuk-!-margin-bottom-7">
                Consent Order Application
            </h1>

            <h2 class="govuk-fieldset__legend--m " >
                Before You Start
            </h2>


            <p class="govuk-body"   style="font-size:17.5px;">Before you start completing this application you will need:</p>

            <ul class="govuk-list--bullet">
                <li class="govuk-body"  style="font-size:17.5px;">A copy of the decree nisi or decree absolute from the divorce case.</li>
                <li class="govuk-body"   style="font-size:17.5px;">Your PBA number or an online help with fees reference number.</li>
                <li class="govuk-body"   style="font-size:17.5px;">A scanned copy of the draft consent order that has been signed by both parties.</li>
                <li class="govuk-body"   style="font-size:17.5px;">A copy of the D81 form signed by both parties.</li>
                <li class="govuk-body"   style="font-size:17.5px;">Any other relevant documents e.g. pension forms, cover letters etc.</li>
            </ul>

            <p class="govuk-body"  style="font-size:17.5px;">Please check the list below to ensure the application is within the current scope of the pilot:</p>

            <p class="govuk-body"  style="font-size:17.5px;"><strong>Scope</strong></p>

            <p class="govuk-body"  style="font-size:17.5px;">In line with Practice Direction 41B and 36T, From 24 August 2020, Legal Professionals
                must use this portal to issue consent applications that meet the following criteria:</p>

            <ul class="govuk-list--bullet">
                <li class="govuk-body"  style="font-size:17.5px;">The application is being made as part of a Divorce case (applications on Civil Partnership, judicial separation or nullity cases cannot be accepted at this time)</li>
                <li class="govuk-body"  style="font-size:17.5px;">The Divorce case must have reached at least Decree Nisi stage</li>
                <li class="govuk-body"  style="font-size:17.5px;">The Divorce case may have been submitted via paper or online, however, there must be <strong>no previous or existing</strong> financial remedy proceedings on the case</li>
                <li class="govuk-body"  style="font-size:17.5px;">You must be representing the Applicant (the applicant for FR proceedings could be either the petitioner or respondent in the divorce proceedings)</li>
            </ul>

            <p>If your application does not meet these criteria, it will be returned, and you will need to submit your application via the paper process.</p>

            <div class="govuk-form-group">
                <div  class="form-group form-group-related">
                    <form
                            action="/searchorgs/search/fr2"
                            name="aspnetForm"
                            method="post"
                            id="aspnetForm"
                            autocomplete="off">

                        <button  class="govuk-button govuk-button--secondary" type="button" disabled="" style=" font-size: 1.05rem;">Previous</button>
                        <button  class="govuk-button" type="submit" style=" font-size: 1.05rem;">Continue</button>
                    </form>
                </div>

                <p class="cancel">
                    <a  href="">Cancel</a>
                </p>
            </div>

    </div>

</div>





<script>

    var inputbox = document.getElementById("searchinput");


    function debounce(func, wait, immediate) {
        var timeout;

        return function executedFunction() {
            var context = this;
            var args = arguments;

            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };

            var callNow = immediate && !timeout;

            clearTimeout(timeout);

            timeout = setTimeout(later, wait);

            if (callNow) func.apply(context, args);
        };
    };



    function updateresults()
    {
        //alert("running");
        // Make lower case string out of inputted value
        var entertedtext = document.getElementById("searchinput").value;


        // Check which results match inputted text
        var buttonname = 'selectbutton';
        var matchcount = 0;
        var str = "";
        var prefixaddresswords = 'results';
        var prefixaddresscontainer = 'testesult';
        // check input has at least 2 character
        var datacountplusone = 18;
        if (0 == entertedtext.length)
        {
            document.getElementById("noresults").style.display = "none";
            // Hide all results
            for (i = 1; i < datacountplusone; i++)
            {
                document.getElementById(prefixaddresscontainer + i).style.display = "none";
                document.getElementById(buttonname + i).innerHTML = 'Select';
            }
        }
        else if (1 < entertedtext.length)
        {
            // search through companies
            for (i = 1; i < datacountplusone; i++)
            {
                //alert(" loop " + i + "  "  + str );
                //make a lower case string out of each possible result
                str = document.getElementById(prefixaddresswords + i).innerHTML.toLowerCase();
                //alert(" loop " + i + "  "  + str );
                document.getElementById(buttonname + i).innerHTML = 'Select';

                // check if input string is contained each result
                if ( str.includes(entertedtext.toString().toLowerCase()) )
                {
                    //alert("match");
                    document.getElementById("noresults").style.display = "none";
                    document.getElementById(prefixaddresscontainer + i).style.display = "flex";
                    matchcount = matchcount + 1;
                }
            }
        }

        if (0 == matchcount  &&  1 < entertedtext.length)
        {
            //alert("NO match");
            // Hide all results
            for (i = 1; i < datacountplusone; i++)
            {
                document.getElementById(prefixaddresscontainer + i).style.display = "none";
            }

            document.getElementById("noresults").style.display = "block";
        }

    }



    inputbox.addEventListener('keydown', debounce(function()
    {
        updateresults();
    }, 500));



    function showselectedresult(itemnumber)
    {
        var prefixaddresscontainer = 'testesult';
        var buttonname = 'selectbutton';
        var datacountplusone = 18;

        if (document.getElementById(buttonname + itemnumber).innerHTML != 'Deselect')
        {
            for (i = 1; i < datacountplusone; i++) {
                document.getElementById(prefixaddresscontainer + i).style.display = "none";
            }
            document.getElementById("noresults").style.display = "none";

            //alert("selection");
            document.getElementById(prefixaddresscontainer + itemnumber).style.display = "flex";

            // Change button to deselect
            document.getElementById(buttonname + itemnumber).innerHTML = 'Deselect';
        }
        else
        {
            document.getElementById(buttonname + itemnumber).innerHTML = 'Select';
            updateresults();
        }
    }


</script>

{% endblock %}