{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}




{% block content %}

<div style="width:960px; display: flex; margin: 0 auto;">
    <div class="govuk-grid-row govuk-grid-column-two-thirds">

        <div class="govuk-form-group">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Continue with divorce application...
                    </h1>
                </legend>

                <p>This would be a page of the existing journey.</p>

                <p><a href="divorce1">Back to search</a></p>


            </div>

        </div>

</div>


{% endblock %}