{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

<div class="">
    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">

                    <!-- Automatic approval -->
                    <h1 class="govuk-panel__title">
                        Notice of change successful<br><br>
                        <div class="govuk-panel__body">
                            You’ve stopped representing case <br>3689-2642-5857-7069
                        </div>
                    </h1>

                </div>


                    <!-- Automatic approval -->


                    <h2 class="govuk-heading-m  govuk-!-margin-top-6">What happens next</h2>
                    <p class="govuk-body">We’ve sent you a confirmation email.</p>
                    <p class="govuk-body">We’ll also send a letter to your former client confirming you are no longer their legal representative. </p>
                    <p class="govuk-body">This case will no longer appear in your case list.</p>
                    <p class="govuk-body">
                        <a href="caselist">View case list</a>
                    </p>

            </div>
        </div>
    </main>

</div>






{% endblock %}