{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Work allocation prototype
    </h1>
    <h2 class="govuk-heading-l">
      Last updated (12/05/21)
    </h2>
    <div style="display: flex; margin-top: 80px;">


      <div style="width: 800px;">

        <!-- JUDICIARY -->
        <h2 class="govuk-heading-l">My work judiciary</h2>
        <div class="xui-alert-link__number">1 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <!-- SECTION BREAK -->

        <p><a target="_blank" href="/workallocation/pages/wa-mytasks?usertype=judiciary&">My tasks - tab</a><br>Checked with DS - v3.3</p>

        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-o?usertype=judiciary&">My tasks - open - Go to tasks</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018?usertype=judiciary&">Active tasks</a><br> - v3.3  </p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018-a?usertype=judiciary&">Active tasks - Assign task to me</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018-app?usertype=judiciary&">Active tasks - Next steps - do the task</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-app-confirmation?usertype=judiciary&">Active tasks - task complete</a><br>Checked with DS - v3.3</p>

        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=judiciary&">Active tasks - task complete - return tp task tab</a><br>Checked with DS - v3.3</p>

        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=judiciary&">Available tasks - tab</a><br>Checked with DS - v3.3 </p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-reset?usertype=judiciary&">Available tasks - tab - Reset sorting</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-pag?usertype=judiciary&">Available tasks - tab - pagination (Design as prototype)</a><br>Checked with DS - v3.3 </p>
        <p><a target="_blank" href="/workallocation/pages/wa-mycases?usertype=judiciary&">My cases - tab</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-myaccess?usertype=judiciary&">My access - tab</a><br>Checked with DS - v3.3</p>
        <div class="govuk-!-padding-bottom-9"></div>
        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">My work filter</h2>
        <div class="xui-alert-link__number">2 </div>
        <div class="govuk-!-padding-bottom-6"></div>
          <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-wf?usertype=judiciary&">Filter open</a><br>- v3.3</p>
          <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-wfe?usertype=judiciary&">Filter open - Error</a><br>- v3.3</p>
          <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-wfbt?usertype=judiciary&">Filter open - filter applied</a><br>- v3.3</p>
        <div class="govuk-!-padding-bottom-9"></div>
        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Available tasks</h2>
        <div class="xui-alert-link__number">3 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=judiciary&">Available tasks - tab</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-o?usertype=judiciary&">Available tasks - Assign task</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-a?usertype=judiciary&">Available tasks - Assigned to me</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-ao?usertype=judiciary&">My tasks - Unassign</a><br>Checked with DS - v3.3 </p>
        <p><a target="_blank" href="/workallocation/pages/lms?usertype=judiciary&">Unassign task - Unassign</a><br> - v3.3 </p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-u?usertype=judiciary&">Unassigned task - Unassign</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/reassign?usertype=judiciary&">Reassign task - Find the judge</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/reassign-b?usertype=judiciary&">Reassign task - Check your changes</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-r?usertype=judiciary&">My task - Reassigned</a><br>Checked with DS - v3.3</p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Allocate a specific role from a task</h2>
        <div class="xui-alert-link__number">4a </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=judiciary&">Available tasks - tab</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-o?usertype=judiciary&">Available tasks - Go to tasks</a><br>Checked with DS - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-all?usertype=judiciary&">Active tasks</a><br>- v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hj?usertype=judiciary&">Roles and access - Allocate a hearing judge</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjha?usertype=judiciary&">Roles and access - Allocate a hearing judge - Find the judge</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjdur?usertype=judiciary&">Roles and access - Allocate a hearing judge - Duration of role</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjchk?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - Check details</a><br> - v3.3 </p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjc?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - confirmation</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-none?usertype=judiciary&">Roles and access - no active tasks for case</a> - v3.3</p>
<br>
<div class="xui-alert-link__number">4b </div>
<div class="govuk-!-padding-bottom-6"></div>

        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-noj?usertype=judiciary&">Roles and access - Allocate role</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajn?usertype=judiciary&">Roles and access - Allocate a judicial role</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-err-s?usertype=judiciary&">Roles and access - Allocate role - generic error</a><br>NEW - additional generic error page when no selction has been made</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhn?usertype=judiciary&">Roles and access - Allocate a judicial role - choose</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhan?usertype=judiciary&">Roles and access - Allocate a judicial role - find</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajndur?usertype=judiciary&">Roles and access - Allocate a judicial role - duration</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjchkn?usertype=judiciary&">Roles and access - Allocate a judicial role - check details</a><br> - v3.3 </p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-loj?usertype=judiciary&">Roles and access - Allocate a judicial role - complete</a><br> - v3.3</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p class="govuk-!-padding-bottom-2"></p>

        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp-o?usertype=judiciary&">Roles and access - Rellocate</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-real?usertype=judiciary&">Roles and access - Rellocate role</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-real-chk?usertype=judiciary&">Roles and access - Rellocate role - check changes</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arj-re?usertype=judiciary&">Roles and access - Rellocate role - complete</a><br> - v3.3</p>

        <hr class="govuk-section-break govuk-section-break--visible">
        <p class="govuk-!-padding-bottom-2"></p>

        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp-o?usertype=judiciary&">Roles and access - Remove allocation</a><br> - v3.3 </p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjra?usertype=judiciary&">Roles and access - Remove allocation</a><br> - v3.3</p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjra-de?usertype=judiciary&">Roles and access - Removed allocation - complete</a><br> - v3.3 </p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Role already exists</h2>
        <div class="xui-alert-link__number">5 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-err?usertype=judiciary&">Allocate judicial role - error</a><br>Checked with DS - v3.3</p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Add a fee-paid judge (IAC)</h2>
        <div class="xui-alert-link__number">6 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar-fpj?usertype=judiciary&">Roles and access - Allocate a role (IAC)</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-fpj?usertype=judiciary&">Roles and access - Allocate a judicial role - Choose a role (IAC)</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajh-fpj?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - Choose how to allocate... (IAC)</a><br>Checked with DS - v3.3 </p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajha-fpj?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - Find the judge (IAC)</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhadur-fpj?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - Duration of access and role (IAC)</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhadur-fpj-err?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - Duration of access and role (IAC) - ERROR - 1</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhadur-fpj-err-2?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - Duration of access and role (IAC) - ERROR - 2</a><br>Checked with DS - v3.3</p>

  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajchk-fpj?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - Check details (IAC)</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arj-fpj?usertype=judiciary&">Roles and access - Allocate a judicial role - Hearing judge - confirmation (IAC)</a><br>Checked with DS - v3.3</p>

  <!-- SECTION BREAK -->

  <h2 class="govuk-heading-l">Add an exclusion</h2>
  <div class="xui-alert-link__number">6a </div>
  <div class="govuk-!-padding-bottom-6"></div>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar?usertype=judiciary&">Roles and access</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi?usertype=judiciary&">Roles and access - Add an exclusion - Who</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-2?usertype=judiciary&">Roles and access - Add an exclusion - Role</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-3?usertype=judiciary&">Roles and access - Add an exclusion - Find person</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-4?usertype=judiciary&">Roles and access - Add an exclusion - Add type</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-5?usertype=judiciary&">Roles and access - Add an exclusion - Describe exclusion</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-6?usertype=judiciary&">Roles and access - Add an exclusion - Check details</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arex?usertype=judiciary&">Roles and access - Add an exclusion - Complete</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-mytasks-ex?usertype=jud iciary&">My tasks - Excluded self</a><br>Checked with DS - v3.3</p>

<!-- SECTION BREAK -->

<h2 class="govuk-heading-l">Allocate Legal Ops role</h2>
<div class="xui-alert-link__number">6b </div>
<div class="govuk-!-padding-bottom-6"></div>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-lo?usertype=judiciary&">Roles and access</a><br>Checked with DS - v3.3</p>

<h2 class="govuk-heading-l">My cases</h2>
<div class="xui-alert-link__number">7 </div>
<div class="govuk-!-padding-bottom-6"></div>
<p><a target="_blank" href="/workallocation/pages/wa-mycases-new?usertype=judiciary&">My cases - new case alert</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-mycases-new-o?usertype=judiciary&">My cases - new case alert - options</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-1549?usertype=judiciary&">Case details</a><br>Checked with DS - v3.3</p>
<p><a target="_blank" href="/workallocation/pages/wa-mycases-new-v?usertype=judiciary&">My cases - new case - viewed</a><br>Checked with DS - v3.3</p>


<!-- SECTION BREAK -->

<h2 class="govuk-heading-l">My access</h2>
<div class="xui-alert-link__number">8  </div>
<div class="govuk-!-padding-bottom-6"></div>

<h3 class="govuk-heading-m" style="color: red;">My access to be updated following<br> agreement with WA (May 17th)</h3>

  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new?usertype=judiciary&">My access - tab - New case alert - Pending</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess?usertype=judiciary&">My access - tab - pending - viewed</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-re?usertype=judiciary&">My access - tab - New case alert - Rejected</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-tcrvd?usertype=judiciary&">My access - tab - View rejection details</a><br>Checked with DS - v3.3 </p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-re-v?usertype=judiciary&">My access - tab - rejected - viewed</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-c?usertype=judiciary&">My access - tab - New case alert - Challenged</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-2018?usertype=judiciary&">My access - tab - case details- Challenged</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-c-v?usertype=judiciary&">My access - tab - Challenged - viewed</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-s?usertype=judiciary&">My access - tab - New case alert - Specific</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-2017?usertype=judiciary&">My access - tab - case details- Specific</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-s-v?usertype=judiciary&">My access - tab - Specific - viewed</a><br>Checked with DS - v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-assv?usertype=judiciary&">My access - tab - Assorted type - viewed</a><br>Checked with DS - v3.3</p>

  <p class="govuk-body govuk-!-margin-bottom-9"></p>


  <h2 class="govuk-heading-xl">All Work</h2>
  <h2 class="govuk-heading-m">TASKS - View tasks not yet assigned</h2>
  <div class="xui-alert-link__number">1 </div>
  <div class="govuk-!-padding-bottom-6"></div>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork?usertype=judiciary&">All work - tab - Tasks All</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-none?usertype=judiciary&">All work - tab - Tasks none assigned</a><br>Checked with v3.3</p>

  <h2 class="govuk-heading-m">TASKS - View all tasks assigned to Judge Beech</h2>
  <div class="xui-alert-link__number">2 </div>
  <div class="govuk-!-padding-bottom-6"></div>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp?usertype=judiciary&">All work - tab - Tasks - Judge Beech</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-y?usertype=judiciary&">All work - tab - Tasks - Judge Beech - Priority yellow</a><br>Checked with v3.3</p>


  <h2 class="govuk-heading-m">TASKS - Reassign tasks from Judge Beech<br> to Judge Birch</h2>
  <div class="xui-alert-link__number">3 </div>
  <div class="govuk-!-padding-bottom-6"></div>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp?usertype=judiciary&">All work - tab - Tasks - Judge Beech</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-o?usertype=judiciary&">All work - tab - Tasks - Judge Beech - open</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/reassign-t?usertype=judiciary&">All work - tab - Tasks - Reassign - add name</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/reassign-tb?usertype=judiciary&">All work - tab - Tasks - Reassign - Check your changes</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-r?usertype=judiciary&">All work - tab - Tasks - task complete</a><br>Checked with v3.3</p>


  <h2 class="govuk-heading-m">CASES - View all cases with judicial allocations</h2>
  <div class="xui-alert-link__number">4 </div>
  <div class="govuk-!-padding-bottom-6"></div>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases?usertype=judiciary&">All work - tab - Cases - Judicial</a><br>Checked with v3.3</p>


  <h2 class="govuk-heading-m">CASES - View all cases for Judge Beech</h2>
  <div class="xui-alert-link__number">5 </div>
  <div class="govuk-!-padding-bottom-6"></div>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases?usertype=judiciary&">All work - tab - Cases - Judicial</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb?usertype=judiciary&">All work - tab - Cases - Judge Beech</a><br>Checked with v3.3</p>


  <h2 class="govuk-heading-m">CASES - Reallocate case for Judge Beech </h2>
  <div class="xui-alert-link__number">6 </div>
  <div class="govuk-!-padding-bottom-6"></div>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases?usertype=judiciary&">All work - tab - Cases - all cases </a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb?usertype=judiciary&">All work - tab - Cases - Judge Beech</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb-0?usertype=judiciary&">All work - tab - Cases - Judge Beech - open</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-cases-real?usertype=judiciary&">All work - tab - Cases - Reassign </a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-cases-real-chk?usertype=judiciary&">All work - tab - Cases - Reassign - Check your changes</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb-r?usertype=judiciary&">All work - tab - Cases - task complete</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-r?usertype=judiciary&">All work - tab - Cases - all cases </a><br>Checked with v3.3</p>


  <h2 class="govuk-heading-m">ALL WORK OTHER FEATURES </h2>

  <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-o?usertype=judiciary&">Launch page - assigned</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/mark-as-done?usertype=judiciary&">Mark a task as done</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/cancel-task?usertype=judiciary&">Cancel a task</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/unassign-task?usertype=judiciary&">Unassign a task</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/wa-allwork-none-o?usertype=judiciary&">Launch page - unassigned</a><br>Checked with v3.3</p>
  <p><a target="_blank" href="/workallocation/pages/assign-task?usertype=judiciary&">Assign a task</a><br>Checked with v3.3</p>
  </div>





  <div style="width: 800px;">




    <!-- STAFF -->

    <h2 class="govuk-heading-l">My work judiciary</h2>
    <div class="xui-alert-link__number">1 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <!-- SECTION BREAK -->

    <p><a target="_blank" href="/workallocation/pages/wa-mytasks?usertype=staff&">My tasks - tab</a><br>Checked with DS - v3.3</p>

    <p><a target="_blank" href="/workallocation/pages/wa-mytasks-o?usertype=staff&">My tasks - open - Go to tasks</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018?usertype=staff&">Active tasks</a><br> - v3.3  </p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018-a?usertype=staff&">Active tasks - Assign task to me</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018-app?usertype=staff&">Active tasks - Next steps - do the task</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-app-confirmation?usertype=staff&">Active tasks - task complete</a><br>Checked with DS - v3.3</p>

    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=staff&">Active tasks - task complete - return tp task tab</a><br>Checked with DS - v3.3</p>

    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=staff&">Available tasks - tab</a><br>Checked with DS - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-reset?usertype=staff&">Available tasks - tab - Reset sorting</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-pag?usertype=staff&">Available tasks - tab - pagination (Design as prototype)</a><br>Checked with DS - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-mycases?usertype=staff&">My cases - tab</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess?usertype=staff&">My access - tab</a><br>Checked with DS - v3.3</p>
    <div class="govuk-!-padding-bottom-9"></div>
    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">My work filter</h2>
    <div class="xui-alert-link__number">2 </div>
    <div class="govuk-!-padding-bottom-6"></div>
      <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-wf?usertype=staff&">Filter open</a><br>- v3.3</p>
      <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-wfe?usertype=staff&">Filter open - Error</a><br>- v3.3</p>
      <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-wfbt?usertype=staff&">Filter open - filter applied</a><br>- v3.3</p>
    <div class="govuk-!-padding-bottom-9"></div>
    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">Available tasks</h2>
    <div class="xui-alert-link__number">3 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=staff&">Available tasks - tab</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-o?usertype=staff&">Available tasks - Assign task</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-a?usertype=staff&">Available tasks - Assigned to me</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-mytasks-ao?usertype=staff&">My tasks - Unassign</a><br>Checked with DS - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/lms?usertype=staff&">Unassign task - Unassign</a><br> - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-mytasks-u?usertype=staff&">Unassigned task - Unassign</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/reassign?usertype=staff&">Reassign task - Find the judge</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/reassign-b?usertype=staff&">Reassign task - Check your changes</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-mytasks-r?usertype=staff&">My task - Reassigned</a><br>Checked with DS - v3.3</p>

    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">Allocate a specific role from a task</h2>
    <div class="xui-alert-link__number">4a </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=staff&">Available tasks - tab</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-o?usertype=staff&">Available tasks - Go to tasks</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-all?usertype=staff&">Active tasks</a><br>- v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hj?usertype=staff&">Roles and access - Allocate a hearing judge</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjha?usertype=staff&">Roles and access - Allocate a hearing judge - Find the judge</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjdur?usertype=staff&">Roles and access - Allocate a hearing judge - Duration of role</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjchk?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - Check details</a><br> - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjc?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - confirmation</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-none?usertype=staff&">Roles and access - no active tasks for case</a> - v3.3</p>
    <br>
    <div class="xui-alert-link__number">4b </div>
    <div class="govuk-!-padding-bottom-6"></div>

    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-noj?usertype=staff&">Roles and access - Allocate role</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajn?usertype=staff&">Roles and access - Allocate a judicial role</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-err-s?usertype=staff&">Roles and access - Allocate role - error</a><br>NEW - additional error page</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhn?usertype=staff&">Roles and access - Allocate a judicial role - choose</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhan?usertype=staff&">Roles and access - Allocate a judicial role - find</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajndur?usertype=staff&">Roles and access - Allocate a judicial role - duration</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-hjchkn?usertype=staff&">Roles and access - Allocate a judicial role - check details</a><br> - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-loj?usertype=staff&">Roles and access - Allocate a judicial role - complete</a><br> - v3.3</p>

    <hr class="govuk-section-break govuk-section-break--visible">
    <p class="govuk-!-padding-bottom-2"></p>

    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp-o?usertype=staff&">Roles and access - Rellocate</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-real?usertype=staff&">Roles and access - Rellocate role</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-real-chk?usertype=staff&">Roles and access - Rellocate role - check changes</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arj-re?usertype=staff&">Roles and access - Rellocate role - complete</a><br> - v3.3</p>

    <hr class="govuk-section-break govuk-section-break--visible">
    <p class="govuk-!-padding-bottom-2"></p>

    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp-o?usertype=staff&">Roles and access - Remove allocation</a><br> - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjra?usertype=staff&">Roles and access - Remove allocation</a><br> - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjra-de?usertype=staff&">Roles and access - Removed allocation - complete</a><br> - v3.3 </p>

    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">Role already exists</h2>
    <div class="xui-alert-link__number">5 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-err?usertype=staff&">Allocate judicial role - error</a><br>Checked with DS - v3.3</p>

    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">Add a fee-paid judge (IAC)</h2>
    <div class="xui-alert-link__number">6 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar-fpj?usertype=staff&">Roles and access - Allocate a role (IAC)</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-fpj?usertype=staff&">Roles and access - Allocate a judicial role - Choose a role (IAC)</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajh-fpj?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - Choose how to allocate... (IAC)</a><br>Checked with DS - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajha-fpj?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - Find the judge (IAC)</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhadur-fpj?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - Duration of access and role (IAC)</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhadur-fpj-err?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - Duration of access and role (IAC) - ERROR - 1</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhadur-fpj-err-2?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - Duration of access and role (IAC) - ERROR - 2</a><br>Checked with DS - v3.3</p>

    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajchk-fpj?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - Check details (IAC)</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arj-fpj?usertype=staff&">Roles and access - Allocate a judicial role - Hearing judge - confirmation (IAC)</a><br>Checked with DS - v3.3</p>

    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">Add an exclusion</h2>
    <div class="xui-alert-link__number">6a </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar?usertype=staff&">Roles and access</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi?usertype=staff&">Roles and access - Add an exclusion - Who</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-2?usertype=staff&">Roles and access - Add an exclusion - Role</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-3?usertype=staff&">Roles and access - Add an exclusion - Find person</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-4?usertype=staff&">Roles and access - Add an exclusion - Add type</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-5?usertype=staff&">Roles and access - Add an exclusion - Describe exclusion</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi-6?usertype=staff&">Roles and access - Add an exclusion - Check details</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arex?usertype=staff&">Roles and access - Add an exclusion - Complete</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-mytasks-ex?usertype=jud iciary&">My tasks - Excluded self</a><br>Checked with DS - v3.3</p>

    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">Allocate Legal Ops role</h2>
    <div class="xui-alert-link__number">6b </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-lo?usertype=staff&">Roles and access</a><br>Checked with DS - v3.3</p>

    <h2 class="govuk-heading-l">My cases</h2>
    <div class="xui-alert-link__number">7 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-mycases-new?usertype=staff&">My cases - new case alert</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-mycases-new-o?usertype=staff&">My cases - new case alert - options</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-1549?usertype=staff&">Case details</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-mycases-new-v?usertype=staff&">My cases - new case - viewed</a><br>Checked with DS - v3.3</p>


    <!-- SECTION BREAK -->

    <h2 class="govuk-heading-l">My access</h2>
    <div class="xui-alert-link__number">8  </div>
    <div class="govuk-!-padding-bottom-6"></div>

    <h3 class="govuk-heading-m" style="color: red;">My access to be updated following<br> agreement with WA (May 17th)</h3>

    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new?usertype=staff&">My access - tab - New case alert - Pending</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess?usertype=staff&">My access - tab - pending - viewed</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-re?usertype=staff&">My access - tab - New case alert - Rejected</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-tcrvd?usertype=staff&">My access - tab - View rejection details</a><br>Checked with DS - v3.3 </p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-re-v?usertype=staff&">My access - tab - rejected - viewed</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-c?usertype=staff&">My access - tab - New case alert - Challenged</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-2018?usertype=staff&">My access - tab - case details- Challenged</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-c-v?usertype=staff&">My access - tab - Challenged - viewed</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-s?usertype=staff&">My access - tab - New case alert - Specific</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-2017?usertype=staff&">My access - tab - case details- Specific</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-s-v?usertype=staff&">My access - tab - Specific - viewed</a><br>Checked with DS - v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-assv?usertype=staff&">My access - tab - Assorted type - viewed</a><br>Checked with DS - v3.3</p>

  <p class="govuk-body govuk-!-margin-bottom-9"></p>
<!--
    <h2 class="govuk-heading-xl">All Work</h2>
    <h2 class="govuk-heading-m">TASKS - View tasks not yet assigned</h2>
    <div class="xui-alert-link__number">1 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork?usertype=staff&">All work - tab - Tasks All</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-none?usertype=staff&">All work - tab - Tasks none assigned</a><br>Checked with v3.3</p>

    <h2 class="govuk-heading-m">TASKS - View all tasks assigned to Judge Beech</h2>
    <div class="xui-alert-link__number">2 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp?usertype=staff&">All work - tab - Tasks - Judge Beech</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-y?usertype=staff&">All work - tab - Tasks - Judge Beech - Priority yellow</a><br>Checked with v3.3</p>


    <h2 class="govuk-heading-m">TASKS - Reassign tasks from Judge Beech<br>to Judge Birch</h2>
    <div class="xui-alert-link__number">3 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp?usertype=staff&">All work - tab - Tasks - Judge Beech</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-o?usertype=staff&">All work - tab - Tasks - Judge Beech - open</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/reassign-t?usertype=staff&">All work - tab - Tasks - Reassign - add name</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/reassign-tb?usertype=staff&">All work - tab - Tasks - Reassign - Check your changes</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-r?usertype=staff&">All work - tab - Tasks - task complete</a><br>Checked with v3.3</p>


    <h2 class="govuk-heading-m">CASES - View all cases with judicial allocations</h2>
    <div class="xui-alert-link__number">4 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases?usertype=staff&">All work - tab - Cases - Judicial</a><br>Checked with v3.3</p>



    <h2 class="govuk-heading-m">CASES - View all cases for Judge Beech</h2>
    <div class="xui-alert-link__number">5 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases?usertype=staff&">All work - tab - Cases - Judicial</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb?usertype=staff&">All work - tab - Cases - Judge Beech</a><br>Checked with v3.3</p>


    <h2 class="govuk-heading-m">CASES - Reallocate case for Judge Beech </h2>
    <div class="xui-alert-link__number">6 </div>
    <div class="govuk-!-padding-bottom-6"></div>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases?usertype=staff&">All work - tab - Cases - all cases </a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb?usertype=staff&">All work - tab - Cases - Judge Beech</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb-0?usertype=staff&">All work - tab - Cases - Judge Beech - open</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-cases-real?usertype=staff&">All work - tab - Cases - Reassign </a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-cases-real-chk?usertype=staff&">All work - tab - Cases - Reassign - Check your changes</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-jb-r?usertype=staff&">All work - tab - Cases - task complete</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-cases-r?usertype=staff&">All work - tab - Cases - all cases </a><br>Checked with v3.3</p>


    <h2 class="govuk-heading-m">ALL WORK OTHER FEATURES </h2>

    <div class="govuk-!-padding-bottom-6"></div>
      <p><a target="_blank" href="/workallocation/pages/wa-allwork-sp-o?usertype=staff&">Launch page - assigned</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/mark-as-done?usertype=staff&">Mark a task as done</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/cancel-task?usertype=staff&">Cancel a task</a><br>Checked with v3.3</p>
      <p><a target="_blank" href="/workallocation/pages/unassign-task?usertype=staff&">Unassign a task</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/wa-allwork-none-o?usertype=staff&">Launch page - unassigned</a><br>Checked with v3.3</p>
    <p><a target="_blank" href="/workallocation/pages/assign-task?usertype=staff&">Assign a task</a><br>Checked with v3.3</p>


-->


    </div>





    </div>
  </div>
</div>
{% endblock %}
