{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Work allocation prototype
    </h1>
    <h2 class="govuk-heading-l">
      Last updated (23/3/20) <br><br>SUBJECT TO CHANGE - ERROR STATES TO BE ADDED
    </h2>
    <div style="display: flex; margin-top: 80px;">
      <div style="width: 800px;">

        <!-- JUDICIARY -->
        <h2 class="govuk-heading-l">My work</h2>
        <div class="xui-alert-link__number">1 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <!-- SECTION BREAK -->

        <p><a target="_blank" href="/workallocation/pages/wa-mytasks?usertype=judiciary&">My tasks - tab</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-rs?usertype=judiciary&">My tasks - tab - Reset sorting</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-o?usertype=judiciary&">My tasks - open - Go to tasks</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018?usertype=judiciary&">Active tasks</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018-a?usertype=judiciary&">Active tasks - Assign task to me</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018-app?usertype=judiciary&">Active tasks - Next steps - do the task</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00321-2018-c?usertype=judiciary&">Active tasks - task complete</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=judiciary&">Available tasks - tab</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-pag?usertype=judiciary&">Available tasks - tab - pagination (needs research)</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-mycases?usertype=judiciary&">My cases - tab</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-myaccess?usertype=judiciary&">My access - tab</a><br></p>
        <div class="govuk-!-padding-bottom-9"></div>
        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">My work filter</h2>
        <div class="xui-alert-link__number">2 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="govuk-!-padding-bottom-9"></div>
        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Available tasks</h2>
        <div class="xui-alert-link__number">3 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=judiciary&">Available tasks - tab</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-o?usertype=judiciary&">Available tasks - Assign task</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-a?usertype=judiciary&">Available tasks - Assigned to me</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-ao?usertype=judiciary&">My tasks - Unassign</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/lms?usertype=judiciary&">Unassign task - Unassign</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-u?usertype=judiciary&">Unassigned task - Unassign</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/reassign?usertype=judiciary&">Reassign task - Find the judge</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/reassign-b?usertype=judiciary&">Reassign task - Check your changes</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-mytasks-r?usertype=judiciary&">My task - Reassigned</a><br></p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Allocate a specific role from a task</h2>
        <div class="xui-alert-link__number">4 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks?usertype=judiciary&">Available tasks - tab</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-available-tasks-o?usertype=judiciary&">Available tasks - Go to tasks</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-t?usertype=judiciary&">Active tasks</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar?usertype=judiciary&">Roles / access</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar?usertype=judiciary&">Roles / access - Allocate a role</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj?usertype=judiciary&">Roles / access - Allocate a judicial role - Choose a role</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajh?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - Choose how to allocate... </a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajha?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - Find the judge</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajchk?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - Check details</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - confirmation</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp-o?usertype=judiciary&">Roles / access - Rellocate</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-real?usertype=judiciary&">Roles / access - Rellocate role</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-real-chk?usertype=judiciary&">Roles / access - Rellocate role - check changes</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arj-re?usertype=judiciary&">Roles / access - Rellocate role - complete</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp-o?usertype=judiciary&">Roles / access - Remove allocation</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjra?usertype=judiciary&">Roles / access - Remove allocation</a><br></p>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjra-de?usertype=judiciary&">Roles / access - Removed allocation - complete</a><br></p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Role already exists</h2>
        <div class="xui-alert-link__number">5 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-err?usertype=judiciary&">Allocate judicial role - error</a><br></p>

        <!-- SECTION BREAK -->

        <h2 class="govuk-heading-l">Add a fee-paid judge (IAC)</h2>
        <div class="xui-alert-link__number">6 </div>
        <div class="govuk-!-padding-bottom-6"></div>
        <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar-fpj?usertype=judiciary&">Roles / access - Allocate a role (IAC)</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-aj-fpj?usertype=judiciary&">Roles / access - Allocate a judicial role - Choose a role (IAC)</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajh-fpj?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - Choose how to allocate... (IAC)</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajha-fpj?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - Find the judge (IAC)</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajhadur-fpj?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - Duration of access and role (IAC)</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ajchk-fpj?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - Check details (IAC)</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-arjp?usertype=judiciary&">Roles / access - Allocate a judicial role - Hearing judge - confirmation (IAC)</a><br></p>

  <!-- SECTION BREAK -->

  <h2 class="govuk-heading-l">Add an exclusion</h2>
  <div class="xui-alert-link__number">7 </div>
  <div class="govuk-!-padding-bottom-6"></div>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-ar?usertype=judiciary&">Roles / access</a><br></p>
<p><a target="_blank" href="/workallocation/pages/wa-PA-00467-2017-coi?usertype=judiciary&">Roles / access - Add an exclusion - Choose a role</a><br></p>

<!-- SECTION BREAK -->

<h2 class="govuk-heading-l">My cases</h2>
<div class="xui-alert-link__number">8 </div>
<div class="govuk-!-padding-bottom-6"></div>
<p><a target="_blank" href="/workallocation/pages/wa-mycases-new?usertype=judiciary&">My cases - new case alert</a><br></p>
<p><a target="_blank" href="/workallocation/pages/wa-mycases-new-o?usertype=judiciary&">My cases - new case alert - options</a><br></p>
<p><a target="_blank" href="/workallocation/pages/wa-1549?usertype=judiciary&">Case details</a><br></p>
<p><a target="_blank" href="/workallocation/pages/wa-mycases-new-v?usertype=judiciary&">My cases - new case - viewed</a><br></p>


<!-- SECTION BREAK -->

<h2 class="govuk-heading-l">My access</h2>
<div class="xui-alert-link__number">9 </div>
<div class="govuk-!-padding-bottom-6"></div>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new?usertype=judiciary&">My access - tab - New case alert - Pending</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess?usertype=judiciary&">My access - tab - pending - viewed</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-re?usertype=judiciary&">My access - tab - New case alert - Rejected</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-tcrvd?usertype=judiciary&">My access - tab - View rejection details</a><br></p>
  <p><a target="_blank" href="/workallocation/pages/wa-myaccess-new-re-v?usertype=judiciary&">My access - tab - rejected - viewed</a><br></p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
