
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Notice of change
        </h1>




        <p class="govuk-!-font-weight-bold">Divorce</p>

        <p><a target="_blank" href="/noticeofchange/solicitor/emailofremoved">Scenario 1</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?hideone=false&hidetwo=false&hidethree=false&stoppingoutcome=auto&caselist=divorce&">Scenario 3.1</a></p>
        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?hideone=false&hidetwo=false&hidethree=false&stoppingoutcome=approval&caselist=divorce&">Scenario 3.2</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?solicitorhasalready=false&autoapproved=true&adminonly=false&servicedown=false&caselist=divorce&stoppingmoredetail=&">Scenario 5</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?solicitorhasalready=true&caselist=divorce&stoppingmoredetail=&">Scenario 6</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?solicitorhasalready=false&hideone=true&hidetwo=true&hidethree=true&caseadded=false&caselist=divorce&stoppingmoredetail=&">Scenario 7</a></p>

        <br>
        <br>

        <p class="govuk-!-font-weight-bold">Probate</p>

        <p><a target="_blank" href="/noticeofchange/solicitor/emailofremoved">Scenario 1</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?hideone=false&hidetwo=false&hidethree=false&stoppingoutcome=auto&caselist=probate&">Scenario 3.1</a></p>
        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?hideone=false&hidetwo=false&hidethree=false&stoppingoutcome=approval&caselist=probate&">Scenario 3.2</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?solicitorhasalready=false&autoapproved=true&adminonly=false&servicedown=false&caselist=probate&stoppingmoredetail=&">Scenario 5</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?solicitorhasalready=true&caselist=probate&stoppingmoredetail=&lastname=&">Scenario 6</a></p>

        <p><a target="_blank" href="/noticeofchange/solicitor/caselist?solicitorhasalready=false&hideone=true&hidetwo=true&hidethree=true&caseadded=false&caselist=probate&stoppingmoredetail=&">Scenario 7</a></p>


        <br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br>
        <br><br>
        <br><br><br><br>
        <br><br><br><br><br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br><br><br>
        <br><br>











        <p>Solicitor<br>
            <a href="solicitor/caselist">Case list</a><br>
        </p>

        <br>

        <p>Email - To solicitor who is being replaced<br>
            <a href="">They are now off record</a><br>
        </p>

        <p>Email - To solicitor who took themselves off record<br>
            <a href="">They are now off record</a><br>
        </p>

        <br>
        <br>

        <p><span class="govuk-!-font-weight-bold">Blocked by details froms services</span><br>
            Email - After caseworker approval<br>
            <a href="">Rejected</a><br>
            <a href="">Approved</a><br>
        </p>

        <p><span class="govuk-!-font-weight-bold">Blocked by business</span><br>
            Email - Citizen - After solicitor stop representing <br>
             <a href="">Already registered with IDAM</a><br>
             <a href="">Not registered with IDAM</a><br>
             <a href="">When case goes to paper</a>
        </p>

    </div>
</div>



{% endblock %}
