{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

<div class="">
    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1  class="govuk-heading-l">Your organisation already has access to this case</h1>

                <p>You or a colleague are already representing this client on this case.</p>
                <p>If you don’t currently have access to the case, one of your colleagues may be able to help you.</p>

                <p>Your colleagues who have access to this case are:</p>


                <ul class="govuk-list govuk-list--bullet">
                    <li>David Stone</li>
                    <li>Sumit Johnson</li>
                </ul>

                <p><a href="caselist">View case list</a></p>

            </div>
        </div>
    </main>

</div>





{% endblock %}