{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

<div class="">
    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Your organisation already has access to this case</h1>

                <p>You or a colleague are already representing this client on this case.</p>


                <p><a href="caselist">View case list</a></p>

            </div>
        </div>
    </main>

</div>





{% endblock %}