{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="govuk-width-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" id="cookies">Something went wrong</h1>
                <p class="govuk-body">Your request has not been submitted.</p>
                <p class="govuk-body">You or someone in your organisation is already representing this client on this case.</p>
                <p class="govuk-body"><a href="caselist">View case list</a></p>
        </div>
    </div>


{% endblock %}