{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-l">Check and submit</h1>
          </div>
    </div>

    <form
        name="aspnetForm"
        method="post"
        id="aspnetForm"
        autocomplete="off">



        <!-- -->

        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>

    </form>

{% endblock %}