{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <main class=" " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                {% if data.errorsot == 'true'    or   data.errorgivennotice == 'true'  %}
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>

                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                {% if data.errorsot == 'true'  %}
                                    <li>
                                        <a href="#sotruth">Tick the box to confirm all the information is accurate and matches what is written on the case</a>
                                    </li>
                                {% endif  %}
                                {% if data.errorgivennotice == 'true'  %}
                                    <li>
                                        <a href="#containerfornoticesharing">Tick the box to confirm you’ve served notice of this change on every party to the claim and on the former legal representative</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}


                <h1 class="govuk-heading-l">Check and submit</h1>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Request
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Notice of change
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Case number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data.casenumber}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="addenterdetails">
                                Change
                            </a>
                        </dd>
                    </div>


                    {% if data.caselist == 'divorce' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Client first name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data.firstname}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <!--<a class="govuk-link" href="securityquestiondivorce">
                                    Change
                                </a>-->
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Client last name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data.lastname}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <!--<a class="govuk-link" href="securityquestiondivorce">
                                    Change
                                </a>-->
                            </dd>
                        </div>


                    {% elseif data.caselist == 'probate' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deceased's title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data.title}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <!--<a class="govuk-link" href="securityquestionprobate">
                                    Change
                                </a>-->
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deceased's first name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data.firstname}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="securityquestionprobate">
                                    Change
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deceased's last name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data.lastname}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <!--<a class="govuk-link" href="securityquestionprobate">
                                    Change
                                </a>-->
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deceased's date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data.day}} {{data.monthoutput}} {{data.year}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <!--<a class="govuk-link" href="securityquestiondivorce">
                                    Change
                                </a>-->
                            </dd>
                        </div>
                    {% endif %}

                </dl>
                <form  method="post" >
                    <!-- STAMENT OF STRUTH -->
                    {% if data.errorsot == 'true'%}
                        <div class="govuk-form-group govuk-form-group--error" id="sotruth">
                    {% else %}
                        <div class="govuk-form-group">
                    {% endif %}
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                            <!--<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-fieldset__heading">
                                    Statement of truth
                                </h2>
                            </legend>-->

                            <p>You should tick to ‘sign’ when:</p>
                            <ul  class="govuk-body">
                                <li>you’re satisfied that all the information is accurate and matches what is written on the case</li>
                                <li>you have served notice of this change on every party to the claim (including the former legal representative)</li>
                            </ul>


                            {% if data.errorsot == 'true'%}
                                <span id="national-insurance-number-error" class="govuk-error-message">
                                      <span class="govuk-visually-hidden">Error:</span> Tick the box to confirm all the information is accurate and matches what is written on the case
                                </span>
                            {% endif %}
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="sot" name="sot" type="checkbox">
                                    <label class="govuk-label govuk-checkboxes__label" for="sot">
                                        <p>I confirm all these details are accurate and match what is written on the case.</p>
                                    </label>
                                </div>
                            </div>

                            <!--   SECOND CHECKBOX  -->
                                {% if data.errorgivennotice == 'true'%}
                                    <div class="govuk-form-group govuk-form-group--error" id="containerfornoticesharing">
                                        <span id="national-insurance-number-error" class="govuk-error-message">
                                              <span class="govuk-visually-hidden">Error:</span>Tick the box to confirm you’ve served notice of this change on every party to the claim and on the former legal representative
                                        </span>
                                {% else %}
                                    <div class="govuk-form-group">
                                {% endif %}
                                    <div class="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="noticecheckbox" name="noticecheckbox" type="checkbox">
                                            <label class="govuk-label govuk-checkboxes__label" for="noticecheckbox">
                                                <p>I have served notice of this change on every party to the claim and on the former legal representative.</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                        </fieldset>
                    </div>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Notifications</h2>
                    <p class="govuk-body  govuk-!-margin-bottom-7">If the client previously had legal representation, we’ll let the legal firm or solicitor know that they no longer have access to the case.</p>
                    <div class="govuk-inset-text">
                        After you submit a notice of change, you might not see the confirmation page immediately.
                    </div>

                    <input type="hidden" name="answers-checked" value="true">

                    <button class="govuk-button" data-module="govuk-button">
                        Submit
                    </button>

                </form>

            </div>
        </div>
    </main>
</div>


<form method="post"  action="#" class="for4" style=" float: left; margin-top: 50px;">
    <select style="height:25px;" onchange="window.location.href='?'+this.value">



        <option value="takenfrom=solicitor&"
                {% if data.takenfrom == 'solicitor' %}selected{% endif %}
        >Transferring from solicitor</option>

        <option value="takenfrom=lip&"
                {% if data.takenfrom == 'lip' %}selected{% endif %}
        >Transferred from citizen</option>

        <option value="errorsot=true&errorgivennotice=true&"
        >Error messages - SHOW Both</option>


        <option value="errorsot=false&errorgivennotice=false&"
        >Error messages - HIDE</option>



    </select>

    <select style="height:25px;" onchange="location = this.value;">

        <option value="#" selected="selected"
        >Ignore - Error states with only one checkbox</option>

        <option value="checkanswers-e1"
        >Error messages - Show error 1</option>

        <option value="checkanswers-e2"
        >Error messages - Show error 2</option>

    </select>


</form>



{% endblock %}
