{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

<div class="">
    <main class="" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">



                {% if data.stoppingoutcome == 'auto' %}
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1  class="govuk-panel__title">You have stopped representing this client</h1>
                    </div>
                    <p class="govuk-!-margin-top-6">We’ve sent you an email confirming this notice of change.</p>
                    <p>You have been removed from this case and no longer have access to it.
                        If you don’t represent another party in this case, it will be removed from your case list.</p>

                    <h2 class="govuk-heading-m ">What happens next</h2>
                    <p>We’ll send the case file to this client in the post.</p>

                    <p class="govuk-body">
                        <a href="caselist">View case list</a>
                    </p>

                {% elif data.stoppingoutcome == 'error' %}
                    <h1  class="govuk-heading-l">Something went wrong</h1>

                    <p>Your request has not been submitted.</p>
                    <p>We’re working to fix the problem.</p>
                    <p>Please try again shortly. Contact your case administrator if you’re still having problems.</p>

                {% else %}
                    <div class="govuk-panel govuk-panel--confirmation">
                        <!-- Automatic approval -->
                        <h1 class="govuk-panel__title">
                            Your request to stop representing a client has been submitted <br><br>
                            <div class="govuk-panel__body">
                                Wait for us to review this request
                            </div>
                        </h1>
                    </div>

                    <h2 class="govuk-heading-m  govuk-!-margin-top-6">What happens next</h2>
                    <p>We’re reviewing your request.</p>
                    <p>We’ll send you an email confirming our decision.</p>
                    <p>If your request is accepted, the case will no longer appear in your case list.</p>
                    <p class="govuk-body">
                        <a href="caselist">View case list</a>
                    </p>

                {% endif %}


                    <!-- Automatic approval -->




            </div>
        </div>
    </main>

</div>



<form method="post"  action="#" class="for4" style=" float: left; margin-top: 50px;">
    <select style="height:25px;" onchange="window.location.href='?'+this.value">


        <option value="stoppingoutcome=auto&"
                {% if data.stoppingoutcome == 'auto' %}selected{% endif %}
        >Automatic</option>

        <option value="stoppingoutcome=approval&"
                {% if data.stoppingoutcome == 'approval' %}selected{% endif %}
        >Approval</option>

        <option value="stoppingoutcome=error&"
                {% if data.stoppingoutcome == 'error' %}selected{% endif %}
        >Error</option>

    </select>
</form>


{% endblock %}