{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="govuk-width-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" id="cookies">Something went wrong</h1>
                <p class="govuk-body">Your request has not been submitted.</p>
                <p class="govuk-body"><a href="contactus">Contact us</a> to resolve this issue.</p>
        </div>
    </div>


{% endblock %}