{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="govuk-width-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" id="cookies">Your request cannot be submitted online</h1>
                <p class="govuk-body">Your answers match more than one party on the case.</p>
                <p> You can fill out a <a href="https://www.gov.uk/government/publications/form-n434-notice-of-change-of-solicitor">paper form</a>
                    to complete a notice of change for this case offline. If you do this, you won’t be able to access the case online.</p>
        </div>
    </div>


{% endblock %}