{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">


                {% if data.errorsecuritydivorce == 'true' %}
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">




                                {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                    <li>
                                        <a href="#firstnamelinkpoint">You must enter a first name</a>
                                    </li>
                                {% endif %}

                                {% if data.errorsecuritydivorcelastname == 'true'  %}
                                    <li>
                                        <a href="#lastnamelinkpoint">You must enter a last name</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                {% endif %}


                <div class="hmcts-page-heading">
                      <div class="hmcts-page-heading__title">
                           <h1 class="govuk-heading-l">Enter client details</h1>
                      </div>
                </div>

                <p>You must enter the details exactly as they’re written on the case, including any mistakes.</p>

                <form
                        name="aspnetForm"
                        method="post"
                        id="aspnetForm"
                        autocomplete="off">

                        <div>



                                <fieldset class="govuk-fieldset" role="group" >
                                    {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                        <div class="govuk-form-group govuk-form-group--error" id="firstnamelinkpoint">
                                    {% else %}
                                        <div class="govuk-form-group ">
                                    {% endif %}
                                            <label class="govuk-label  govuk-!-font-weight-bold" for="firstname">
                                                First name
                                            </label>
                                            {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                                <span id="" class="govuk-error-message">
                                                    <span class="govuk-visually-hidden">Error:</span> Enter your client's first name
                                                </span>
                                            {% endif %}

                                            {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                                <input class="govuk-input govuk-!-width-one-half govuk-input--error" id="firstname" name="firstname" type="text"  value="{{data.firstname}}">
                                            {% else %}
                                                <input class="govuk-input govuk-!-width-one-half" id="firstname" name="firstname" type="text"  value="{{data.firstname}}">
                                            {% endif %}

                                        </div>

                                    {% if data.errorsecuritydivorcelastname == 'true'  %}
                                        <div class="govuk-form-group govuk-form-group--error"  id="lastnamelinkpoint">
                                    {% else %}
                                        <div class="govuk-form-group ">
                                    {% endif %}
                                            <label class="govuk-label  govuk-!-font-weight-bold" for="lastname">
                                                Last name
                                            </label>
                                            {% if data.errorsecuritydivorcelastname == 'true'  %}
                                                <span id="" class="govuk-error-message">
                                                    <span class="govuk-visually-hidden">Error:</span> Enter your client's last name
                                                </span>
                                            {% endif %}

                                            {% if data.errorsecuritydivorcelastname == 'true'  %}
                                                <input class="govuk-input govuk-!-width-one-half govuk-input--error" id="lastname" name="lastname" type="text" value="{{data.lastname}}">
                                            {% else %}
                                                <input class="govuk-input govuk-!-width-one-half" id="lastname" name="lastname" type="text" value="{{data.lastname}}">
                                            {% endif %}

                                        </div>
                                </fieldset>

                                <!--

                                -->

                        </div>


                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>

                </form>

            </div>
        </div>
    </div>

{% endblock %}