{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                {% if data.errorsecuritydivorce == 'true' %}
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">

                                {% if data.errornomatch == 'true'  %}
                                    <li>
                                        <a href="#firstnamelinkpoint">AAAAAAAAAAAAAAAAAAAAAAAA</a>
                                    </li>
                                {% endif %}


                                {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                    <li>
                                        <a href="#firstnamelinkpoint">You must enter a first name</a>
                                    </li>
                                {% endif %}

                                {% if data.errorsecuritydivorcelastname == 'true'  %}
                                    <li>
                                        <a href="#lastnamelinkpoint">You must enter a last name</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                {% endif %}


                <div class="hmcts-page-heading">
                      <div class="hmcts-page-heading__title">
                           <h1 class="govuk-heading-l">Enter client details</h1>
                      </div>
                </div>

                <p>You must enter the details exactly as they’re written on the case, including any mistakes.</p>

                <form
                        name="aspnetForm"
                        method="post"
                        id="aspnetForm"
                        autocomplete="off">

                        <div>

                                <fieldset class="govuk-fieldset" role="group" >
                                    {% if data.errornomatch == 'true'  %}
                                        <div class="govuk-form-group govuk-form-group--error" id="firstnamelinkpoint">
                                    {% endif %}

                                    {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                        <div class="govuk-form-group govuk-form-group--error" id="firstnamelinkpoint">
                                    {% else %}
                                        <div class="govuk-form-group ">
                                    {% endif %}
                                            <label class="govuk-label  govuk-!-font-weight-bold" for="firstname">
                                                First name
                                            </label>
                                            {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                                <span id="" class="govuk-error-message">
                                                    <span class="govuk-visually-hidden">Error:</span> First name must exactly match the details on the case, including any mistakes
                                                </span>
                                            {% endif %}

                                            {% if data.errorsecuritydivorcefirstname == 'true'  %}
                                                <input class="govuk-input govuk-input--width-10 govuk-input--error" id="firstname" name="firstname" type="text"  value="{{data.firstname}}">
                                            {% else %}
                                                <input class="govuk-input govuk-input--width-10" id="firstname" name="firstname" type="text"  value="{{data.firstname}}">
                                            {% endif %}

                                        </div>

                                        {% if data.errorsecuritydivorcelastname == 'true'  %}
                                            <div class="govuk-form-group govuk-form-group--error"  id="lastnamelinkpoint">
                                        {% else %}
                                            <div class="govuk-form-group ">
                                        {% endif %}
                                            <label class="govuk-label  govuk-!-font-weight-bold" for="lastname">
                                                Last name
                                            </label>
                                            {% if data.errorsecuritydivorcelastname == 'true'  %}
                                                <span id="" class="govuk-error-message">
                                                    <span class="govuk-visually-hidden">Error:</span> Last name must exactly match the details on the case, including any mistakes
                                                </span>
                                            {% endif %}

                                            {% if data.errorsecuritydivorcelastname == 'true'  %}
                                                <input class="govuk-input govuk-input--width-10 govuk-input--error" id="lastname" name="lastname" type="text" value="{{data.lastname}}">
                                            {% else %}
                                                <input class="govuk-input govuk-input--width-10" id="lastname" name="lastname" type="text" value="{{data.lastname}}">
                                            {% endif %}

                                        </div>


                                    {% if data.errornomatch == 'true'  %}
                                        </div>
                                    {% endif %}
                                </fieldset>

                                <!--

                                -->

                        </div>


                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>

                </form>

            </div>
        </div>
    </div>


<form method="post"  action="#" class="for4" style=" float: left; margin-top: 50px;">
    <select style="height:25px;" onchange="window.location.href='?'+this.value">

        <option value="errorsecuritydivorce=true&errorsecuritydivorcefirstname=true&errorsecuritydivorcelastname=true&errornomatch=false&"
                {% if data.errorsecuritydivorcefirstname == 'true' and data.errorsecuritydivorcelastname == 'true'  %}selected{% endif %}
        >Empty fields</option>

        <option value="errorsecuritydivorce=true&errornomatch=true&errorsecuritydivorcefirstname=false&errorsecuritydivorcelastname=false&"
                {% if data.errornomatch == 'true'  %}selected{% endif %}
        >Not matching case data</option>

    </select>
</form>




{% endblock %}