{% extends "../layoutdemo.html" %}

{% block pageTitle %}
Case details
{% endblock %}


{% block content %}

    <div class="hmcts-page-heading">
          <div class="hmcts-page-heading__title">
               <h1 class="govuk-heading-l">Handing the case over to the client</h1>
          </div>
    </div>

    <div class="govuk-form-group ">
        <h2 class="govuk-heading-s">
            Client details
        </h2>

        <p>We'll send the case file to:</p>

        <p>{{ data.clientname }}<br>
            Flat C<br>
            46 Clement Drive<br>
            Saffron-on-Sea<br>
            SS17 7HT<br>
        </p>
    </div>


    <form
        name="aspnetForm"
        method="post"
        id="aspnetForm"
        autocomplete="off">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">
                    Statement of truth
                </h2>
            </legend>
            <p>Tick to “sign” this statement of truth.</p>

            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="sot" name="sot" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label" for="sot">
                        <p>I have informed this client my organisation will stop representing them in this case.</p>

                        <p>I understand that proceedings for contempt of court may be brought against
                            anyone who requests access to a case verified by a statement of truth without an honest belief in its truth.</p>
                    </label>
                </div>
            </div>
        </fieldset>


        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>

    </form>

{% endblock %}