
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        XUI prototypes
      </h1>

      <p class="govuk-body">This is the prototype to let judges, panel members, legal advisors, solicitors, paralegals manage cases.</p>

      <h2 class="govuk-heading-l">Iterations</h2>


 {% set iterationTwoHtml %}
          <ul class="govuk-list">
 <p class="govuk-body govuk-!-font-weight-bold">Get help telephone numbers</p>
  <li><a href="/v3/cases">Case access - Get help link shown in footer</a></li>
 <li><a href="/v3/cases/get-help">Get help - details page</a></li>
 <br>

  <p class="govuk-body govuk-!-font-weight-bold">Private beta</p>

            <p class="govuk-body govuk-!-font-weight-bold">Notice of acting</p>
        <li><a href="/v3/cases">Case access</a></li>
        <li><a href="/v3/cases/case-access">Case access - Notice of acting</a></li>
         <li><a href="/v3/cases/notice">Notice of acting - Options</a></li>
          <li><a href="/v3/cases/start">Notice of acting - Act on a client’s behalf - step 1</a></li>
          <li><a href="/v3/cases/method">Notice of acting - Act on a client’s behalf - step 2</a></li>
<li><a href="/v3/cases/prof-details-1">Notice of acting - Act on a client’s behalf - step 3</a></li>
<li><a href="/v3/cases/prof-details">Notice of acting - Act on a client’s behalf - step 4</a></li>
<li><a href="/v3/cases/notice-confirmation">Notice of acting - Act on a client’s behalf - step 5</a></li>

<li><a href="/v3/cases/confirmation-email">Notice of acting - Email - Continue journey from recepient point of view - step 1</a></li>
<li><a href="/v3/cases/confirmation-portal">Notice of acting - Portal - Continue journey from recepient point of view - step 2</a></li>
<li><a href="/v3/cases/confirmation-portal-cancel">Notice of acting - Portal - Cancel - Continue journey from recepient point of view - step 3</a></li>
<li><a href="/v3/cases/confirmation-portal-success">Notice of acting - confirmation sent - Continue journey from recepient point of view - step 4</a></li>

<li><a href="/v3/cases/confirmation-email-portal">Notice of acting - Act on a client’s behalf - step 6</a></li>
<li><a href="/v3/cases/show">Notice of acting - Act on a client’s behalf - step 7</a></li>
        </ul>
        <p class="govuk-body govuk-!-font-weight-bold">Inbound communication</p>
        <ul class="govuk-list">
          <li><a href="/v3/cases/show">Inbound communications - Action on case</a></li>
          <li><a href="/v3/cases/inbound">Inbound communications - Contact us about ...</a></li>
          <li><a href="/v3/cases/inbound-error">Inbound communications - Contact us about error ...</a></li>
          <li><a href="/v3/cases/inbound-0">Inbound communications - Contact us about ... Solicitor’s letters - no file added</a></li>
          <li><a href="/v3/cases/inbound-1-error">Inbound communications - Contact us about error ... Solicitor’s letters</a></li>
          <li><a href="/v3/cases/inbound-1">Inbound communications - Contact us about ... Solicitor’s letters - with file added</a></li>
          <li><a href="/v3/cases/inbound-confirm">Inbound communications - Message sent</a></li>
          <li><a href="/v3/cases/confirmation-email-message">Inbound communications - Email to user</a></li>
          <li><a href="/v3/cases/confirmation-email-message-error">Inbound communications - Email to user - virus detected</a></li>
          <li><a href="/v3/cases/confirmation-email-message-support">Inbound communications - Email to support team - example of ticket</a></li>
        </ul>
         <p class="govuk-body govuk-!-font-weight-bold">Terms and Conditions</p>
        <ul class="govuk-list">
          <li><a href="/v4">Terms and Conditions - Sign in</a></li>
          <li><a href="/v4/terms">Terms and Conditions - New terms</a></li>
          <li><a href="/v4/terms-pop">Terms and Conditions - New terms pop up</a></li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryHtml: '<div class="govuk-!-font-size-24 govuk-!-font-weight-bold">Iteration 3 (Latest Dec 2019)</div>',
        html: iterationTwoHtml
      }) }}

      {% set iterationOneHtml %}
        <p class="govuk-body">Illustrate the components and journey as black boxes including the way the components load and render indepently.</p>
        <ul class="govuk-list">
          <li><a href="/v1/cases">View prototype</a></li>
        </ul>
      {% endset %}


      {% set iterationTwoHtml %}
        <p class="govuk-body">This one shows success messages on the case details page.</p>
        <ul class="govuk-list">
          <li><a href="/v2/cases">View prototype</a></li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryHtml: '<div class="govuk-!-font-size-24 govuk-!-font-weight-bold">Iteration 2</div>',
        html: iterationTwoHtml
      }) }}

      {% set iterationOneHtml %}
        <p class="govuk-body">Illustrate the components and journey as black boxes including the way the components load and render indepently.</p>
        <ul class="govuk-list">
          <li><a href="/v1/cases">View prototype</a></li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryHtml: '<div class="govuk-!-font-size-24 govuk-!-font-weight-bold">Iteration 1</div>',
        html: iterationOneHtml
      }) }}

      <h2 class="govuk-heading-l">For developers</h2>

      {% set sprintOneSearchHtml %}
        <p class="govuk-body">Illustrate signing in, landing on search page, then seeing search results.</p>
        <ul class="govuk-list">
          <li><a href="/s1">View</a></li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryHtml: '<div class="govuk-!-font-size-24 govuk-!-font-weight-bold">Sprint 2 — login and search</div>',
        html: sprintOneSearchHtml
      }) }}

    </div>
</div>



{% endblock %}
