
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Divorce <br>Citizen - Enter solicitor details
        </h1>

        <p class="govuk-!-font-weight-bold">Pages</p>

        <p>These pages are to follow the exisiting pages which collect both parties address.</p>

        <p><a target="_blank" href="/divorceserviceonly/citizen/sendwhere?errornotselected=false&">Service address selection</a></p>

        <p><a target="_blank" href="/divorceserviceonly/citizen/solicitordetails?noresults=false&validaton=false&">Solicitor's details entry</a></p>


    </div>
</div>







{% endblock %}
